Repository vyos/vyos-1x, pull requests merged in 2023-09, with the labels that each got.

#2193 T5536: Fix show dhcp client leases
  src/op_mode/dhcp.py
Labels: current

#2191 T5428: fix DHCP client running in VRF context
  data/templates/dhcp-client/daemon-options.tmpl
  data/templates/dhcp-client/ipv6.override.conf.j2
  data/templates/dhcp-client/override.conf.j2
  interface-definitions/container.xml.in
  interface-definitions/include/interface/dhcp-options.xml.i
  python/vyos/configdict.py
  python/vyos/ifconfig/interface.py
  python/vyos/util.py
  python/vyos/xml_ref/pkg_cache/vyos_1x_cache.py
  smoketest/scripts/cli/base_interfaces_test.py
  smoketest/scripts/cli/test_interfaces_bonding.py
  smoketest/scripts/cli/test_interfaces_bridge.py
  smoketest/scripts/cli/test_interfaces_ethernet.py
  src/conf_mode/vrf.py
Labels: equuleus

#2194 wireless: T5540: vyos-1x: Fix VHT capability settings for 802.11ac
  data/templates/wifi/hostapd.conf.j2
Labels: current

#2195 T5542: ipoe-server: external-dhcp(dhcp-relay) not woking / not implemented
  data/templates/accel-ppp/ipoe.config.j2
Labels: current

#2196 T5543: IGMP: Fix source address handling in static joins
  data/templates/frr/igmp.frr.j2
  src/conf_mode/protocols_igmp.py
Labels: current

#2197 feat(T5544): Allow CAP_SYS_MODULE to be set on containers
  interface-definitions/container.xml.in
Labels: current

#2192 T5533: Fix VRRP IPv6 group enters in FAULT state
  python/vyos/utils/network.py
  src/conf_mode/high-availability.py
Labels: current

#2201 T671: call dmidecode directly in "show hardware dmi"
  op-mode-definitions/show-hardware.xml.in
Labels: current

#2198 T5545: fix sflow configuration
  data/templates/netflow/uacctd.conf.tmpl
Labels: equuleus

#2188 T5496: multiple fixes for op-mode command <show firewall>
  src/op_mode/firewall.py
Labels: current

#2184 T2958: Refactor DHCP-server systemd unit and lease
  data/templates/dhcp-server/10-override.conf.j2
  src/conf_mode/dhcp_server.py
Labels: current

#2200 T5533: Fix VRRP IPv6 FAULT state due to IPv6 tentative state
  python/vyos/util.py
  src/conf_mode/vrrp.py
Labels: equuleus

#2203 T2958: Fix path for leases to config directory
  data/templates/dhcp-server/10-override.conf.j2
Labels: current

#2202 T5548: Fix load-balancing reverse-proxy timeouts
  data/templates/load-balancing/haproxy.cfg.j2
Labels: current

#2209 T2958: Refactor DHCP-server systemd unit and lease
  data/templates/dhcp-server/10-override.conf.j2
  src/conf_mode/dhcp_server.py
Labels: sagitta

#2210 T5548: Fix load-balancing reverse-proxy timeouts
  data/templates/load-balancing/haproxy.cfg.j2
Labels: sagitta

#2204 T5480: Ability to disable SNMP for keepalived service VRRP
  data/templates/high-availability/10-override.conf.j2
  interface-definitions/high-availability.xml.in
  src/conf_mode/high-availability.py
Labels: current

#2211 config-mgmt: T5353: normalize archive updates and commit log entries
  python/vyos/config_mgmt.py
Labels: current

#2208 interface: T5550: Interface source-validation priority over global value
  data/templates/firewall/nftables.j2
  data/vyos-firewall-init.conf
  interface-definitions/include/firewall/global-options.xml.i
  python/vyos/ifconfig/interface.py
  smoketest/scripts/cli/base_interfaces_test.py
  smoketest/scripts/cli/test_firewall.py
Labels: current

#2206 T5423: Fix for op-mode show vpn ike secrets
  op-mode-definitions/vpn-ipsec.xml.in
  src/op_mode/ipsec.py
Labels: current

#2205 T5489: Add sysctl TCP congestion control by default to BBR
  src/etc/sysctl.d/30-vyos-router.conf
Labels: current

#2199 conntrack: T4309: T4903: Refactor `system conntrack ignore`, add IPv6 support and firewall groups
  data/config-mode-dependencies.json
  data/templates/conntrack/nftables-ct.j2
  data/vyos-firewall-init.conf
  interface-definitions/include/firewall/source-destination-group-ipv4.xml.i
  interface-definitions/include/version/conntrack-version.xml.i
  interface-definitions/system-conntrack.xml.in
  python/vyos/template.py
  smoketest/configs/basic-vyos
  smoketest/scripts/cli/test_system_conntrack.py
  src/conf_mode/conntrack.py
  src/conf_mode/nat.py
  src/helpers/vyos-domain-resolver.py
  src/init/vyos-router
  src/migration-scripts/conntrack/3-to-4
Labels: current

#2217 system: T5555: Fix time-zone migrator changing valid time-zones to UTC
  src/migration-scripts/system/13-to-14
Labels: current

#2218 system: T5555: Fix time-zone migrator changing valid time-zones to UTC
  src/migration-scripts/system/13-to-14
Labels: sagitta

#2219 system: T5555: Fix time-zone migrator changing valid time-zones to UTC
  src/migration-scripts/system/13-to-14
Labels: equuleus

#2216 T5412: Add support for extending config-mode dependencies in add-on packages
  data/config-mode-dependencies/vyos-1x.json
  python/vyos/configdep.py
  smoketest/scripts/cli/test_dependency_graph.py
  src/helpers/config_dependency.py
  src/tests/test_dependency_graph.py
Labels: current

#2221 smoketest: T5558: Extend configtest to allow checking of migration script results
  debian/rules
  debian/vyos-1x-smoketest.install
  smoketest/bin/vyos-configtest
  smoketest/config-tests/basic-vyos
  smoketest/config-tests/dialup-router-medium-vpn
Labels: current

#2207 save-config: T5551: check if None before write, as is the case at boot
  src/helpers/vyos-save-config.py
Labels: sagitta

#1602 login: T4754: show configured 2FA OTP key
  data/op-mode-standardized.json
  op-mode-definitions/show-system.xml.in
  src/op_mode/otp.py
Labels: current

#2223 Revert Sonar "Create build.yml"
  .github/workflows/build.yml
Labels: current

#2220 T5554: Disable sudo for PAM RADIUS
  src/pam-configs/radius
Labels: current

#2227 T5554: Disable sudo for PAM RADIUS
  src/pam-configs/radius
Labels: sagitta

#2226 T5423: Fix for op-mode show vpn ike secrets
  op-mode-definitions/vpn-ipsec.xml.in
  src/op_mode/ipsec.py
Labels: sagitta

#2224 T5489: Add sysctl TCP congestion control by default to BBR
  src/etc/sysctl.d/30-vyos-router.conf
Labels: sagitta

#2228 container: T5563 Fix environment replaced by label
  src/conf_mode/container.py
Labels: current

#2229 container: T5563 Fix environment replaced by label
  src/conf_mode/container.py
Labels: sagitta

#2230 T5562: Cleanup netns for smoketest load-balancing wan
  smoketest/scripts/cli/test_load_balancing_wan.py
  src/op_mode/otp.py
Labels: current

#2231 Revert "Create build.yml"
  .github/workflows/build.yml
Labels: sagitta

#2179 T5518: Add basic MLD support
  data/templates/frr/daemons.frr.tmpl
  data/templates/frr/pim6d.frr.j2
  interface-definitions/protocols-pim6.xml.in
  python/vyos/frr.py
  smoketest/scripts/cli/test_protocols_pim6.py
  src/conf_mode/protocols_pim6.py
Labels: current

#2233 T5518: pim6: Fix smoketests
  smoketest/scripts/cli/test_protocols_pim6.py
Labels: current

#2234 T4309: Fix conntrack teamplate group
  data/templates/conntrack/nftables-ct.j2
Labels: current

#2235 T5564: Fix show firewall group and show firewall summary
  src/op_mode/firewall.py
Labels: current

#2232 T5567: Increase allowed range for maximum-object-size to 1GB for webproxy
  interface-definitions/service-webproxy.xml.in
Labels: current

#2236 T3655: Fix NAT problem with VRF
  data/templates/firewall/nftables-vrf-zones.j2
Labels: current

#2214 T5533: Fix for vrrp dict key if virtual-server is used
  src/conf_mode/high-availability.py
Labels: sagitta

#2238 vxlan: T3700: Revert change to `vyos.utils.process.cmd`
  python/vyos/utils/process.py
Labels: current

#2215 config-mgmt: T5353: normalize archive updates and commit log entries
  python/vyos/config_mgmt.py
Labels: sagitta

#2247 T5562: Cleanup netns for smoketest load-balancing wan
  smoketest/scripts/cli/test_load_balancing_wan.py
Labels: sagitta

#2249 T4309: Conntrack ignore fix to handle interface any
  python/vyos/template.py
Labels: current

#2237 T3655: Fix NAT problem with VRF
  data/templates/firewall/nftables-vrf-zones.j2
Labels: sagitta

#2245 frr: T5239: fix process startup order
  debian/vyos-1x.preinst
  src/conf_mode/system_frr.py
  src/init/vyos-router
Labels: current

#2257 op-mode: T5581: add "show ip nht" command (IPv4 nexthop tracking table)
  op-mode-definitions/show-ip.xml.in
Labels: current

#2252 T5576: Add BGP remove-private-as all option
  data/templates/frr/bgpd.frr.j2
  interface-definitions/include/bgp/neighbor-afi-ipv4-ipv6-common.xml.i
Labels: current

#2260 T671: do not preserve old tech-support report implementation
  Makefile
  op-mode-definitions/show-techsupport_report.xml.in
Labels: current

#2264 T2044: RPKI doesn't boot properly
  data/templates/frr/daemons.frr.tmpl
Labels: current

#2062 T4502: firewall: Add software flow offload using flowtable
  data/templates/conntrack/sysctl.conf.j2
  data/templates/firewall/nftables-offload.j2
  data/templates/firewall/nftables.j2
  interface-definitions/include/firewall/flow-offload.xml.i
  interface-definitions/include/firewall/global-options.xml.i
  interface-definitions/system-conntrack.xml.in
  smoketest/scripts/cli/test_firewall.py
  src/conf_mode/firewall.py
Labels: current

#2212 T5480: Ability to disable SNMP for keepalived service VRRP
  data/templates/high-availability/10-override.conf.j2
  interface-definitions/high-availability.xml.in
  src/conf_mode/high-availability.py
Labels: sagitta

#2262 op mode: T5582: Add 'force ntp synchronization'
  op-mode-definitions/ntp.xml.in
  op-mode-definitions/show-ntp.xml.in
Labels: current

#2255 T5575: ARP/NDP table-size isnt set properly
  src/etc/sysctl.d/30-vyos-router.conf
  src/init/vyos-router
Labels: current

#2253 T5561: nat: inbound|outbound interface should not be mandatory
  smoketest/scripts/cli/test_nat.py
  src/conf_mode/nat.py
Labels: current

#2242 T4072: Firewall op-mode command: add bridge capabilities
  op-mode-definitions/firewall.xml.in
  src/op_mode/firewall.py
Labels: current

#2268 T5579: show log firewall - Fix and extend command
  op-mode-definitions/show-log.xml.in
Labels: current

#2270 ddclient: T5585: Fix file access mode for dynamic dns configuration
  src/conf_mode/dns_dynamic.py
Labels: current

#2272 T4502: Fix syntax error introduced by #2062
  data/templates/firewall/nftables.j2
Labels: current

#2185 T5261: Add AWS load-balancing tunnel handler
  data/templates/aws/override_aws_gwlbtun.conf.j2
  debian/control
  interface-definitions/service-aws-glb.xml.in
  src/conf_mode/service_aws_glb.py
  src/systemd/aws-gwlbtun.service
Labels: current

#2273 T5586: Disable by default SNMP for Keeplived VRRP service
  data/templates/high-availability/10-override.conf.j2
  interface-definitions/high-availability.xml.in
  src/conf_mode/high-availability.py
Labels: current

#2275 frr: T2472: disable EIGRP daemon
  data/templates/frr/daemons.frr.tmpl
Labels: sagitta

#2251 ddclient: T5573: Update config generation aligning with caching fixes
  data/templates/dns-dynamic/ddclient.conf.j2
Labels: current

#2281 T5594: vrrp: extend function is_ipv6_tentative
  python/vyos/utils/network.py
Labels: current

#2278 ddclient: T5573: Fix smoketest for updated ddclient config
  smoketest/scripts/cli/test_service_dns_dynamic.py
Labels: current

#2276 conntrack: T5571: Refactor conntrack using vyos.configdep
  .github/PULL_REQUEST_TEMPLATE.md
  data/config-mode-dependencies/vyos-1x.json
  data/templates/conntrack/nftables-ct.j2
  data/templates/firewall/nftables-nat.j2
  data/templates/firewall/nftables-nat66.j2
  data/templates/firewall/nftables.j2
  data/vyos-firewall-init.conf
  interface-definitions/include/firewall/common-rule-inet.xml.i
  interface-definitions/include/firewall/common-rule-ipv4-raw.xml.i
  interface-definitions/include/firewall/common-rule.xml.i
  interface-definitions/include/firewall/tcp-flags.xml.i
  interface-definitions/include/firewall/tcp-mss.xml.i
  interface-definitions/include/policy/route-common.xml.i
  interface-definitions/system-conntrack.xml.in
  python/vyos/template.py
  smoketest/scripts/cli/test_firewall.py
  smoketest/scripts/cli/test_system_conntrack.py
  smoketest/scripts/cli/test_system_flow-accounting.py
  src/conf_mode/conntrack.py
  src/conf_mode/firewall.py
  src/conf_mode/flow_accounting_conf.py
  src/conf_mode/load-balancing-wan.py
  src/conf_mode/nat.py
  src/conf_mode/nat66.py
Labels: current

#2283 T5590: firewall log rule: fix order which rule are processed
  python/vyos/firewall.py
  smoketest/scripts/cli/test_policy_route.py
Labels: current

#2288 firewall: T4502: Update to flowtable CLI
  data/templates/firewall/nftables-offload.j2
  data/templates/firewall/nftables.j2
  interface-definitions/firewall.xml.in
  interface-definitions/include/firewall/action-forward.xml.i
  interface-definitions/include/firewall/flow-offload.xml.i
  interface-definitions/include/firewall/global-options.xml.i
  interface-definitions/include/firewall/ipv4-hook-forward.xml.i
  interface-definitions/include/firewall/ipv6-hook-forward.xml.i
  interface-definitions/include/firewall/offload-target.xml.i
  interface-definitions/interfaces-ethernet.xml.in
  python/vyos/ethtool.py
  python/vyos/firewall.py
  python/vyos/ifconfig/ethernet.py
  smoketest/scripts/cli/test_firewall.py
  src/conf_mode/firewall.py
Labels: current

#2285 isis: T5597: add new features from FRR 9
  data/templates/frr/isisd.frr.j2
  interface-definitions/include/isis/protocol-common-config.xml.i
  smoketest/scripts/cli/test_protocols_isis.py
Labels: current

#2284 bgp: T5596: add new features from FRR 9
  data/templates/frr/bgpd.frr.j2
  interface-definitions/include/bgp/neighbor-capability.xml.i
  interface-definitions/include/bgp/neighbor-path-attribute.xml.i
  smoketest/scripts/cli/test_protocols_bgp.py
Labels: current

#2282 T5594: vrrp: extend function is_ipv6_tentative
  python/vyos/util.py
Labels: equuleus

#2289 init: T5239: configure system hostname prior to FRR startup
  python/vyos/utils/config.py
  src/helpers/read-saved-value.py
  src/init/vyos-router
Labels: current

#2293 conntrack: firewall: T4502: Update conntrack check for new flowtable CLI
  smoketest/scripts/cli/test_firewall.py
  src/conf_mode/conntrack.py
Labels: current

#2296 openvpn: T5269: add a deprecation warning for shared-secret
  src/conf_mode/interfaces-openvpn.py
Labels: current

#2294 T5602: Reverse-proxy add option backup for backend server
  data/templates/load-balancing/haproxy.cfg.j2
  interface-definitions/load-balancing-haproxy.xml.in
  smoketest/scripts/cli/test_load_balancing_reverse_proxy.py
Labels: current

#2280 T5591: Cleanup of FRR daemons-file and various FRR fixes
  data/templates/frr/daemons.frr.tmpl
  op-mode-definitions/restart-frr.xml.in
  python/vyos/frr.py
  src/conf_mode/snmp.py
  src/op_mode/restart_frr.py
Labels: current

#2298 smoketest: T5607: support getting SCSI device by drive-id
  op-mode-definitions/disks.xml.in
  op-mode-definitions/raid.xml.in
  python/vyos/raid.py
  python/vyos/utils/disk.py
  src/op_mode/format_disk.py
  src/op_mode/raid.py
Labels: current

#2302 T5497: op-mode: Add generate firewall rule-resequence
  op-mode-definitions/generate_firewall_rule-resequence.xml.in
  src/op_mode/generate_firewall_rule-resequence.py
Labels: current

#2308 firewall: T5160: Remove zone policy op-mode
  data/op-mode-standardized.json
  op-mode-definitions/zone-policy.xml.in
  src/op_mode/zone.py
Labels: current

#2312 rpki: T2044: add to daemons Jinja2 template
  data/templates/frr/daemons.frr.tmpl
Labels: sagitta

#2313 T5165: Add option protocol for policy local-route
  interface-definitions/include/policy/local-route_rule_protocol.xml.i
  interface-definitions/policy-local-route.xml.in
  smoketest/scripts/cli/test_policy.py
  src/conf_mode/policy-local-route.py
Labels: current

#2305 ipsec: T5606: Add support for whole CA chains
  smoketest/scripts/cli/test_vpn_ipsec.py
  src/conf_mode/vpn_ipsec.py
Labels: current

#2306 firewall: T5614: Add support for matching on conntrack helper
  interface-definitions/include/firewall/common-rule-inet.xml.i
  interface-definitions/include/firewall/conntrack-helper.xml.i
  python/vyos/firewall.py
  smoketest/scripts/cli/test_firewall.py
Labels: current

#2304 conntrack: T5376: T5598: Restore kernel conntrack helpers
  data/config-mode-dependencies/vyos-1x.json
  data/templates/conntrack/nftables-ct.j2
  data/templates/conntrack/nftables-helpers.j2
  data/templates/conntrack/vyos_nf_conntrack.conf.j2
  smoketest/scripts/cli/test_system_conntrack.py
  src/conf_mode/conntrack.py
Labels: current

#2295 T5217: Add firewall synproxy
  interface-definitions/include/firewall/action-forward.xml.i
  interface-definitions/include/firewall/action.xml.i
  interface-definitions/include/firewall/common-rule-inet.xml.i
  interface-definitions/include/firewall/synproxy.xml.i
  python/vyos/firewall.py
  smoketest/scripts/cli/test_firewall.py
  src/conf_mode/firewall.py
Labels: current

#2322 firewall: T5217: Synproxy bugfix and ct state conflict checking
  python/vyos/firewall.py
  src/conf_mode/firewall.py
Labels: current

#2256 T5577: Optimized PAM configs for RADIUS/TACACS+
  debian/vyos-1x.postinst
  debian/vyos-1x.preinst
  interface-definitions/include/radius-server-ipv4-ipv6.xml.i
  interface-definitions/system-login.xml.in
  src/conf_mode/system-login.py
  src/pam-configs/radius
  src/pam-configs/radius-mandatory
  src/pam-configs/radius-optional
  src/pam-configs/tacplus
  src/pam-configs/tacplus-mandatory
  src/pam-configs/tacplus-optional
Labels: current

#2324 conntrack: T5376: Fix conntrack-sync vyos.configdep issues
  data/config-mode-dependencies/vyos-1x.json
  src/conf_mode/conntrack.py
Labels: current

#2314 T5616: firewall and policy: add option to be able to match firewall marks
  interface-definitions/include/firewall/common-rule-inet.xml.i
  interface-definitions/include/firewall/firewall-mark.xml.i
  interface-definitions/include/policy/route-common.xml.i
  python/vyos/firewall.py
  smoketest/scripts/cli/test_firewall.py
  smoketest/scripts/cli/test_policy_route.py
  src/validators/numeric-exclude
Labels: current

#2323 T5497: Add ability to resequence rule numbers for firewall
  src/op_mode/generate_firewall_rule-resequence.py
Labels: current

#2303 ddclient: T5612: Miscellaneous improvements and fixes for dynamic DNS
  data/templates/dns-dynamic/ddclient.conf.j2
  data/templates/dns-dynamic/override.conf.j2
  interface-definitions/dns-dynamic.xml.in
  interface-definitions/dns-forwarding.xml.in
  interface-definitions/include/dns/dynamic-service-host-name-server.xml.i
  interface-definitions/include/dns/dynamic-service-zone.xml.i
  interface-definitions/include/dns/time-to-live.xml.i
  smoketest/scripts/cli/test_service_dns_dynamic.py
  src/completion/list_ddclient_protocols.sh
  src/conf_mode/dns_dynamic.py
  src/validators/ddclient-protocol
Labels: current

#2325 T5165: Migrate policy local-route rule x destination to address
  interface-definitions/include/policy/local-route_rule_ipv4_address.xml.i
  interface-definitions/include/policy/local-route_rule_ipv6_address.xml.i
  interface-definitions/include/version/policy-version.xml.i
  interface-definitions/policy-local-route.xml.in
  smoketest/scripts/cli/test_policy.py
  src/conf_mode/policy-local-route.py
  src/migration-scripts/policy/5-to-6
Labels: current

#2300 T5600: firewall: change constraints for inbound|outbound interface-name
  interface-definitions/include/constraint/interface-name-with-wildcard-and-inverted.xml.i
  interface-definitions/include/firewall/match-interface.xml.i
Labels: current

#2269 ddclient: T5574: Support per-service cache management for providers
  data/templates/dns-dynamic/ddclient.conf.j2
  interface-definitions/dns-dynamic.xml.in
  interface-definitions/include/dns/dynamic-service-wait-expiry-time.xml.i
  smoketest/scripts/cli/test_service_dns_dynamic.py
  src/conf_mode/dns_dynamic.py
Labels: current
