Repository vyos/vyos-1x, pull requests merged in 2023-10, with the labels that each got.

#2328 login: T5628: fix spwd deprecation warning
  src/op_mode/show_users.py
Labels: current

#2326 T5436: Add missing preconfig-script
  src/init/vyos-router
Labels: current

#2331 login: T5521: home directory owner changed during reboot
  src/conf_mode/system-login.py
Labels: current

#2330 init: T5577: clear mandatory and optional RADIUS/TACACS PAM settings
  src/init/vyos-router
Labels: current

#2336 login: T5521: do not call system-login.py in vyos-router init
  src/init/vyos-router
Labels: current

#2338 T4320: remove references to obsoleted legacy version files
  python/vyos/component_version.py
  python/vyos/defaults.py
  smoketest/scripts/cli/test_component_version.py
Labels: current

#2339 config: T5631: save copy of config in JSON format on commit
  python/vyos/config_mgmt.py
  src/helpers/vyos-save-config.py
Labels: current

#2343 op-mode: T5608: Fix help message for `delete raid`
  op-mode-definitions/raid.xml.in
Labels: current

#2335 pppoe: T5630: allow to specify MRU in addition to already configurable MTU
  data/templates/pppoe/peer.j2
  interface-definitions/interfaces-pppoe.xml.in
  smoketest/scripts/cli/test_interfaces_pppoe.py
  src/conf_mode/interfaces-pppoe.py
Labels: current

#2345 debian: T5639: group dependencies and add comments
  debian/control
Labels: current

#2333 T5213: Add accounting-interim-interval option for PPPoE-server
  data/templates/accel-ppp/config_chap_secrets_radius.j2
  interface-definitions/include/accel-ppp/radius-additions.xml.i
Labels: equuleus

#2263 T5530: isis: Adding loop free alternate feature
  data/templates/frr/isisd.frr.j2
  interface-definitions/include/isis/level-1-2-leaf.xml.i
  interface-definitions/include/isis/lfa-local.xml.i
  interface-definitions/include/isis/lfa-protocol.xml.i
  interface-definitions/include/isis/lfa-remote.xml.i
  interface-definitions/include/isis/protocol-common-config.xml.i
  op-mode-definitions/include/isis-common.xml.i
  smoketest/scripts/cli/test_protocols_isis.py
  src/conf_mode/protocols_isis.py
Labels: current

#2349 T5489: Change default qdisc from 'fq' to 'fq_codel'
  src/etc/sysctl.d/30-vyos-router.conf
Labels: current

#2352 http-api: T2612: correct the response message and add reload for api self-configuration
  data/templates/https/vyos-http-api.service.j2
  src/conf_mode/http-api.py
  src/services/vyos-http-api-server
Labels: current

#2342 T5165: Implement policy local-route source and destination port
  interface-definitions/policy-local-route.xml.in
  smoketest/scripts/cli/test_policy.py
  src/conf_mode/policy-local-route.py
Labels: current

#2353 openvpn: T5634: Remove support for insecure DES and Blowfish ciphers
  data/templates/openvpn/server.conf.j2
  interface-definitions/include/version/openvpn-version.xml.i
  interface-definitions/interfaces-openvpn.xml.in
  interface-definitions/xml-component-version.xml.in
  src/migration-scripts/openvpn/0-to-1
Labels: current

#2277 bonding: T5254: Fixed changing ethernet when it is a bond member
  data/config-mode-dependencies/vyos-1x.json
  git
  interface-definitions/include/version/interfaces-version.xml.i
  python/vyos/ifconfig/bond.py
  python/vyos/ifconfig/ethernet.py
  python/vyos/utils/dict.py
  src/conf_mode/interfaces-bonding.py
  src/conf_mode/interfaces-ethernet.py
  src/migration-scripts/interfaces/30-to-31
Labels: current

#2358 xml: T5649: catch errors from schema validation before generating cache
  Makefile
Labels: current

#2357 ldpd: T5648: Fix ldpd template errors
  data/templates/frr/ldpd.frr.j2
Labels: current

#2361 pmacct: T5232: Fixed pmacct service control via systemctl
  data/templates/pmacct/override.conf.j2
  data/templates/pmacct/uacctd.conf.j2
  src/conf_mode/flow_accounting_conf.py
  src/system/uacctd_stop.py
Labels: current

#2359 remote: T5650: Resize-aware progressbar implementation
  python/vyos/progressbar.py
  python/vyos/remote.py
  python/vyos/utils/io.py
Labels: current

#2366 T5634: Smoketest add OpenVPN encryption ciphers
  smoketest/scripts/cli/test_interfaces_openvpn.py
Labels: current

#2367 op-mode: T5642: 'generate tech-support archive' moved to vyos-1x
  Makefile
  op-mode-definitions/generate_tech-support_archive.xml.in
  src/op_mode/generate_tech-support_archive.py
Labels: current

#2363 T5653: Command to display SSH server public key fingerprints
  op-mode-definitions/show-ssh.xml.in
  src/op_mode/show-ssh-fingerprints.py
Labels: current

#2371 configdep: T5662: fix incorrect inspect.stack index of calling script
  python/vyos/configdep.py
Labels: current

#2374 pmacct: T5232: Fixed socket parameters for trigger-packets
  src/system/uacctd_stop.py
Labels: current

#2373 T4913: migrate wireless scripts to new op-mode style
  op-mode-definitions/show-interfaces-wireless.xml.in
  src/op_mode/interfaces_wireless.py
  src/op_mode/show_wireless.py
Labels: current

#2344 T5637: add new rule at the end of base chains for default-actions and log capabilities
  data/templates/firewall/nftables.j2
  interface-definitions/include/firewall/ipv4-hook-forward.xml.i
  interface-definitions/include/firewall/ipv4-hook-input.xml.i
  interface-definitions/include/firewall/ipv4-hook-output.xml.i
  interface-definitions/include/firewall/ipv6-hook-forward.xml.i
  interface-definitions/include/firewall/ipv6-hook-input.xml.i
  interface-definitions/include/firewall/ipv6-hook-output.xml.i
  python/vyos/template.py
  smoketest/scripts/cli/test_firewall.py
Labels: current

#2377 cluster: T2897: add a migration script for converting cluster to VRRP
  interface-definitions/include/version/cluster-version.xml.i
  src/migration-scripts/cluster/1-to-2
Labels: current

#2381 vxlan: T5669: unable to change port number
  src/conf_mode/interfaces-vxlan.py
Labels: equuleus

#2362 T5541: firewall zone: re add firewall zone-base firewall
  data/templates/firewall/nftables-zone.j2
  data/templates/firewall/nftables.j2
  interface-definitions/firewall.xml.in
  smoketest/scripts/cli/test_firewall.py
  src/conf_mode/firewall.py
  src/migration-scripts/firewall/10-to-11
Labels: current

#2378 bridge: T5670: add missing constraint on "member interface" node
  interface-definitions/interfaces-bridge.xml.in
  python/vyos/configdict.py
Labels: current

#2384 T5642: op-cmd: correction of generated file name
  src/op_mode/generate_tech-support_archive.py
Labels: current

#2385 T5667: BGP label-unicast enable ecmp
  interface-definitions/include/bgp/protocol-common-config.xml.i
  smoketest/scripts/cli/test_protocols_bgp.py
Labels: current

#2388 T5541: firewall: re-add zone-based firewall.
  data/templates/firewall/nftables-zone.j2
  data/templates/firewall/nftables.j2
  interface-definitions/firewall.xml.in
  smoketest/scripts/cli/test_firewall.py
  src/conf_mode/firewall.py
  src/migration-scripts/firewall/10-to-11
Labels: sagitta

#2390 scripts: T5672: remove the conf mode node.def importer
  scripts/import-conf-mode-commands
Labels: current

#2386 vxlan: T5671: change port to IANA assigned default port
  interface-definitions/include/version/interfaces-version.xml.i
  interface-definitions/interfaces-vxlan.xml.in
  smoketest/configs/bgp-evpn-l2vpn-leaf
  src/conf_mode/interfaces-vxlan.py
  src/migration-scripts/interfaces/31-to-32
Labels: current

#2391 T5299: Add missed option ceiling for QoS shaper
  python/vyos/qos/trafficshaper.py
  smoketest/scripts/cli/test_qos.py
Labels: current

#2396 T5677: show lldp neighbors shows empty platform if descr not in lldpctl output
  src/op_mode/lldp.py
Labels: current

#2395 T5675: Use addr_prefix instead of addr in NAT66 source rule prefix parsing
  python/vyos/nat.py
Labels: current

#2355 T5643: nat: add interface-groups to nat. Use same cli structure for i…
  interface-definitions/nat.xml.in
  python/vyos/nat.py
  smoketest/scripts/cli/test_nat.py
  src/conf_mode/nat.py
  src/migration-scripts/nat/5-to-6
Labels: current

#2399 T5637: Firewall: add new rule at the end of base chains for default-a…
  data/templates/firewall/nftables.j2
  interface-definitions/include/firewall/ipv4-hook-forward.xml.i
  interface-definitions/include/firewall/ipv4-hook-input.xml.i
  interface-definitions/include/firewall/ipv4-hook-output.xml.i
  interface-definitions/include/firewall/ipv6-hook-forward.xml.i
  interface-definitions/include/firewall/ipv6-hook-input.xml.i
  interface-definitions/include/firewall/ipv6-hook-output.xml.i
  python/vyos/firewall.py
  python/vyos/template.py
  smoketest/scripts/cli/test_firewall.py
  smoketest/scripts/cli/test_policy_route.py
Labels: sagitta

#2401 vrf: netns: T3829: T31: priority needs to be after netns
  interface-definitions/netns.xml.in
  interface-definitions/vrf.xml.in
  smoketest/scripts/cli/test_netns.py
Labels: sagitta

#2402 bridge: T5670: add missing constraint on "member interface" node
  interface-definitions/interfaces-bridge.xml.in
Labels: equuleus

#2405 T5683: Fix reverse-proxy PKI filenames mismatch
  src/conf_mode/load-balancing-haproxy.py
Labels: current

#2406 T5681: Firewall,Nat and Nat66: simplified and standarize interface matcher
  data/templates/ndppd/ndppd.conf.j2
  interface-definitions/include/firewall/inbound-interface-no-group.xml.i
  interface-definitions/include/firewall/match-interface.xml.i
  interface-definitions/include/firewall/outbound-interface-no-group.xml.i
  interface-definitions/nat66.xml.in
  python/vyos/firewall.py
  python/vyos/nat.py
  smoketest/scripts/cli/test_firewall.py
  smoketest/scripts/cli/test_nat.py
  smoketest/scripts/cli/test_nat66.py
  src/conf_mode/firewall.py
  src/conf_mode/nat.py
  src/conf_mode/nat66.py
  src/migration-scripts/firewall/11-to-12
  src/migration-scripts/nat/6-to-7
  src/migration-scripts/nat66/1-to-2
Labels: current

#2369 T5661: Add show show ssh dynamic-protection attacker and show log ssh…
  op-mode-definitions/show-log.xml.in
  op-mode-definitions/show-ssh.xml.in
  src/op_mode/show-ssh-fingerprints.py
  src/op_mode/ssh.py
Labels: current

#2410 T5653: Command to display SSH server fingerprint
  op-mode-definitions/show-ssh.xml.in
  src/op_mode/ssh.py
Labels: sagitta

#2412 T5661: Add show ssh dynamic-protection and show log ssh dynamic-protection
  op-mode-definitions/monitor-log.xml.in
  op-mode-definitions/show-log.xml.in
  op-mode-definitions/show-ssh.xml.in
  src/op_mode/ssh.py
Labels: sagitta

#2408 T5513: firewall: update op-mode command show firewall.
  op-mode-definitions/nat66.xml.in
  src/op_mode/firewall.py
Labels: current

#2414 T5558: smoketest: fix nat definitions on dialup-router-medium-vpn.
  smoketest/config-tests/dialup-router-medium-vpn
Labels: current

#2417 vxlan: T5699: migrate "external" CLI know to "parameters external"
  interface-definitions/interfaces-vxlan.xml.in
  python/vyos/ifconfig/vxlan.py
  smoketest/scripts/cli/test_interfaces_vxlan.py
  src/conf_mode/interfaces-vxlan.py
  src/migration-scripts/interfaces/31-to-32
Labels: current

#2413 vxlan: T5668: add CLI knob to enable ARP/ND suppression
  interface-definitions/interfaces-vxlan.xml.in
  python/vyos/ifconfig/vxlan.py
  smoketest/scripts/cli/test_interfaces_vxlan.py
  src/conf_mode/interfaces-vxlan.py
Labels: current

#2310 T5586: Disable by default SNMP for Keeplived VRRP service
  data/templates/vrrp/10-override.conf.j2
  interface-definitions/vrrp.xml.in
  src/conf_mode/vrrp.py
Labels: equuleus

#2370 T1797: Delete VPP from vyos-1x as it is implemented in addon
  data/config-mode-dependencies/vyos-1x.json
  data/templates/vpp/override.conf.j2
  data/templates/vpp/startup.conf.j2
  debian/vyos-1x.postinst
  interface-definitions/vpp.xml.in
  python/vyos/vpp.py
  src/conf_mode/vpp.py
Labels: current
