Repository vyos/vyos-1x, pull requests merged in 2023-11, with the labels that each got.

#2421 T5681: Firewall,Nat and Nat66: simplified and standarize interface ma…
  data/templates/ndppd/ndppd.conf.j2
  interface-definitions/include/firewall/inbound-interface-no-group.xml.i
  interface-definitions/include/firewall/match-interface.xml.i
  interface-definitions/include/firewall/outbound-interface-no-group.xml.i
  interface-definitions/include/version/firewall-version.xml.i
  interface-definitions/include/version/nat-version.xml.i
  interface-definitions/include/version/nat66-version.xml.i
  interface-definitions/nat66.xml.in
  python/vyos/firewall.py
  python/vyos/nat.py
  smoketest/scripts/cli/test_firewall.py
  smoketest/scripts/cli/test_nat.py
  smoketest/scripts/cli/test_nat66.py
  src/conf_mode/firewall.py
  src/conf_mode/nat.py
  src/conf_mode/nat66.py
  src/migration-scripts/firewall/11-to-12
  src/migration-scripts/nat/6-to-7
  src/migration-scripts/nat66/1-to-2
Labels: sagitta

#2424 T5705: rsyslog: fix error when level=al
  data/templates/rsyslog/rsyslog.conf.j2
  smoketest/scripts/cli/test_system_syslog.py
Labels: current

#2423 T4726: Remove accel-ppp RADIUS vendor validators
  interface-definitions/include/accel-ppp/radius-additions-rate-limit.xml.i
  src/validators/accel-radius-dictionary
Labels: current

#2425 T5700: Fix deprecate telegraf plugin input net
  data/templates/telegraf/telegraf.j2
Labels: current

#2427 T5704: PPPoE L2TP SSTP IPoE add option max-concurrent-sessions
  data/templates/accel-ppp/ipoe.config.j2
  data/templates/accel-ppp/l2tp.config.j2
  data/templates/accel-ppp/pppoe.config.j2
  data/templates/accel-ppp/pptp.config.j2
  data/templates/accel-ppp/sstp.config.j2
  interface-definitions/include/accel-ppp/max-concurrent-sessions.xml.i
  interface-definitions/service-ipoe-server.xml.in
  interface-definitions/service-pppoe-server.xml.in
  interface-definitions/vpn-l2tp.xml.in
  interface-definitions/vpn-pptp.xml.in
  interface-definitions/vpn-sstp.xml.in
Labels: current

#2416 T5698 EVPN ESI Multihoming
  data/templates/frr/bgpd.frr.j2
  data/templates/frr/evpn.mh.frr.j2
  interface-definitions/include/bgp/protocol-common-config.xml.i
  interface-definitions/interfaces-bonding.xml.in
  smoketest/scripts/cli/test_interfaces_bonding.py
  smoketest/scripts/cli/test_protocols_bgp.py
  src/conf_mode/interfaces-bonding.py
Labels: current

#2431 wireguard: T5707: remove previously deconfigured peer
  python/vyos/ifconfig/wireguard.py
  smoketest/scripts/cli/test_interfaces_wireguard.py
  src/conf_mode/interfaces-wireguard.py
Labels: current

#2432 T5513: firewall - op-mode command backport
  op-mode-definitions/nat66.xml.in
  src/op_mode/firewall.py
Labels: sagitta

#2438 ddclient: T5708: Upgrade to ddclient 3.11.1
  data/templates/dns-dynamic/ddclient.conf.j2
  debian/control
  interface-definitions/dns-dynamic.xml.in
  interface-definitions/include/version/dns-dynamic-version.xml.i
  smoketest/scripts/cli/test_service_dns_dynamic.py
  src/completion/list_ddclient_protocols.sh
  src/conf_mode/dns_dynamic.py
  src/migration-scripts/dns-dynamic/1-to-2
  src/validators/ddclient-protocol
Labels: current

#2441 T5541: firewall: fix ZBF template and ruleset generation for local-zone rules
  data/templates/firewall/nftables-zone.j2
  src/conf_mode/firewall.py
Labels: sagitta

#2439 vxlan: T3700: add bridge dependency call when altering member interfaces
  data/config-mode-dependencies/vyos-1x.json
  src/conf_mode/interfaces-bridge.py
Labels: current

#2348 scripts: T4269: node.def generator should automatically add default values (backport)
  interface-definitions/container.xml.in
  interface-definitions/dhcp-relay.xml.in
  interface-definitions/dhcp-server.xml.in
  interface-definitions/dhcpv6-relay.xml.in
  interface-definitions/dns-dynamic.xml.in
  interface-definitions/dns-forwarding.xml.in
  interface-definitions/igmp-proxy.xml.in
  interface-definitions/include/accel-ppp/client-ipv6-pool.xml.i
  interface-definitions/include/accel-ppp/radius-additions.xml.i
  interface-definitions/include/interface/ipv6-dup-addr-detect-transmits.xml.i
  interface-definitions/include/interface/vif-s.xml.i
  interface-definitions/include/radius-server-port.xml.i
  interface-definitions/interfaces-bonding.xml.in
  interface-definitions/interfaces-bridge.xml.in
  interface-definitions/interfaces-ethernet.xml.in
  interface-definitions/interfaces-l2tpv3.xml.in
  interface-definitions/interfaces-macsec.xml.in
  interface-definitions/interfaces-openvpn.xml.in
  interface-definitions/interfaces-pppoe.xml.in
  interface-definitions/interfaces-pseudo-ethernet.xml.in
  interface-definitions/interfaces-tunnel.xml.in
  interface-definitions/interfaces-vxlan.xml.in
  interface-definitions/interfaces-wireless.xml.in
  interface-definitions/protocols-rpki.xml.in
  interface-definitions/service_console-server.xml.in
  interface-definitions/service_monitoring_telegraf.xml.in
  interface-definitions/service_router-advert.xml.in
  interface-definitions/service_webproxy.xml.in
  interface-definitions/system-login.xml.in
  interface-definitions/vpn_openconnect.xml.in
  interface-definitions/vrrp.xml.in
  scripts/build-command-templates
Labels: equuleus

#2440 T5716: Fix accel-ppp template down-limiter does not rely on fwmark
  data/templates/accel-ppp/config_shaper_radius.j2
Labels: current

#2446 ddclient: T5708: Migration to 3.11.1 and related improvements
  src/migration-scripts/dns-dynamic/1-to-2
Labels: current

#2447 mdns: T5719: Add op-mode commands to mDNS repeater
  op-mode-definitions/mdns-reflector.xml.in
Labels: current

#2451 T5716: Fix smoketest for accel-ppp limiter tbf
  smoketest/scripts/cli/test_service_pppoe-server.py
Labels: current

#2453 T5720: Fix for PPPoE-server adding new interfaces
  src/conf_mode/service_pppoe-server.py
Labels: current

#2437 T5713: Strip string after "secret" in IPSEC configs
  src/helpers/strip-private.py
Labels: current

#2436 T5706: Add custom systemd udev rules to exclude dynamic interfaces
  debian/vyos-1x.preinst
  src/etc/udev/rules.d/99-vyos-systemd.rules
Labels: current

#2434 T5702: SNMP add interface-mib max-interfaces-number and prefix
  data/templates/snmp/etc.snmpd.conf.j2
  interface-definitions/snmp.xml.in
Labels: current

#2240 T5559: Add static neighbor-proxy feature
  interface-definitions/protocols_static_neighbor-proxy.xml.in
  src/conf_mode/protocols_static_neighbor-proxy.py
Labels: current

#2460 T5681: firewall: bump firewall cli version to 12
  interface-definitions/include/version/firewall-version.xml.i
Labels: current

#2459 mdns: T5723: Always reload systemd daemon before applying changes
  data/templates/mdns-repeater/override.conf.j2
  src/conf_mode/service_mdns-repeater.py
  src/etc/systemd/system/avahi-daemon.service.d/override.conf
Labels: current

#2461 ddclient: T5708: Ensure password is always wrapped in quotes
  data/templates/dns-dynamic/ddclient.conf.j2
  smoketest/scripts/cli/test_service_dns_dynamic.py
Labels: current

#2462 T5412: Beautify config dependencies JSON
  data/config-mode-dependencies/vyos-1x.json
Labels: current

#2464 T1797: Remove vpp packages and mentions
  debian/control
  debian/vyos-1x.preinst
  op-mode-definitions/monitor-log.xml.in
  op-mode-definitions/show-log.xml.in
Labels: current

#2468 ddclient: T5708: Additional smoketests for web-options
  smoketest/scripts/cli/test_service_dns_dynamic.py
  src/conf_mode/dns_dynamic.py
Labels: current

#2467 T5727: Use native URL validator instead of regex-based validator
  interface-definitions/dns-dynamic.xml.in
  interface-definitions/include/url-http-https.xml.i
  interface-definitions/include/url.xml.i
  interface-definitions/service-monitoring-telegraf.xml.in
  interface-definitions/system-update-check.xml.in
Labels: current

#2470 ddclient: T5708: Fix VRF table generation in smoketest
  smoketest/scripts/cli/test_service_dns_dynamic.py
Labels: current

#2472 dhclient: T5724: run user hooks using run_hookdir
  src/etc/dhcp/dhclient-enter-hooks.d/99-run-user-hooks
  src/etc/dhcp/dhclient-exit-hooks.d/98-run-user-hooks
Labels: current

#2471 T5729: firewall: switch to valueless in
  interface-definitions/include/firewall/common-rule-bridge.xml.i
  interface-definitions/include/firewall/common-rule-inet.xml.i
  interface-definitions/include/firewall/log.xml.i
  interface-definitions/include/firewall/state.xml.i
  interface-definitions/include/nat-rule.xml.i
  interface-definitions/include/policy/route-common.xml.i
  interface-definitions/include/version/firewall-version.xml.i
  interface-definitions/include/version/policy-version.xml.i
  interface-definitions/nat66.xml.in
  python/vyos/firewall.py
  smoketest/scripts/cli/test_firewall.py
  smoketest/scripts/cli/test_policy_route.py
  src/conf_mode/firewall.py
  src/migration-scripts/firewall/11-to-12
  src/migration-scripts/firewall/12-to-13
  src/migration-scripts/policy/6-to-7
Labels: current

#2435 mtr: T5658: Add VRF support for mtr (+ op_mode wrapper)
  Makefile
  op-mode-definitions/mtr.xml.in
  python/vyos/utils/network.py
  src/etc/sudoers.d/vyos
  src/op_mode/mtr.py
  src/op_mode/ping.py
  src/op_mode/traceroute.py
Labels: current

#2466 T1797: Remove vpp packages and mentions
  debian/control
  debian/vyos-1x.preinst
  op-mode-definitions/monitor-log.xml.in
  op-mode-definitions/show-log.xml.in
Labels: sagitta

#2445 op-mode: bgp: T5698: add "es-vrf" and "next-hops" CLI commands (backport)
  op-mode-definitions/include/bgp/show-bgp-common.xml.i
Labels: sagitta

#2480 T5729: firewall and policy: fix latest migration script
  src/migration-scripts/firewall/12-to-13
  src/migration-scripts/policy/6-to-7
Labels: current

#2475 T5728: OpenVPN server replace first_host_address to vpn_gateway
  data/templates/openvpn/server.conf.j2
Labels: current

#2479 xml: T5738: add source-address-ipv4-ipv6-multi building block
  interface-definitions/dns-forwarding.xml.in
  interface-definitions/include/radius-server-ipv4-ipv6.xml.i
  interface-definitions/include/source-address-ipv4-ipv6-multi.xml.i
  interface-definitions/system-login.xml.in
Labels: current

#2483 remote: T5726: Disable the progressbar if the shell is noninteractive or the terminal is missing capabilities
  python/vyos/progressbar.py
  python/vyos/remote.py
  python/vyos/utils/io.py
Labels: current

#2478 T5729: firewall: multiple backports
  interface-definitions/include/firewall/common-rule-inet.xml.i
  interface-definitions/include/firewall/firewall-mark.xml.i
  interface-definitions/include/firewall/log.xml.i
  interface-definitions/include/firewall/state.xml.i
  interface-definitions/include/nat-rule.xml.i
  interface-definitions/include/policy/route-common.xml.i
  interface-definitions/include/version/firewall-version.xml.i
  interface-definitions/include/version/policy-version.xml.i
  interface-definitions/nat66.xml.in
  python/vyos/firewall.py
  smoketest/scripts/cli/test_firewall.py
  smoketest/scripts/cli/test_policy_route.py
  src/conf_mode/firewall.py
  src/migration-scripts/firewall/11-to-12
  src/migration-scripts/firewall/12-to-13
  src/migration-scripts/policy/6-to-7
  src/validators/numeric-exclude
Labels: sagitta

#2486 T5732: generate firewall rule-resequence drops geoip country-code fro…
  src/op_mode/generate_firewall_rule-resequence.py
Labels: current

#2490 op-mode: vrf: T5150: add "show vrf vni" and "show vrf <name> vni" commands
  op-mode-definitions/show-vrf.xml.in
Labels: current

#2491 T5747: op-mode add show interfaces summary
  op-mode-definitions/show-interfaces.xml.in
  python/vyos/ifconfig/interface.py
  src/op_mode/interfaces.py
Labels: current

#2481 smoketest: Extend HTTP-API tests
  smoketest/scripts/cli/test_service_https.py
Labels: current

#2495 T3983: show pki certificate Doesnt show x509 certificates
  src/op_mode/pki.py
Labels: current

#1768 image: T4516: Added system image tools
  Makefile
  data/templates/grub/grub_common.j2
  data/templates/grub/grub_compat.j2
  data/templates/grub/grub_main.j2
  data/templates/grub/grub_menu.j2
  data/templates/grub/grub_modules.j2
  data/templates/grub/grub_options.j2
  data/templates/grub/grub_vars.j2
  data/templates/grub/grub_vyos_version.j2
  debian/vyos-1x.links
  op-mode-definitions/add-system-image.xml.in
  op-mode-definitions/system-image.xml.in
  python/vyos/system/__init__.py
  python/vyos/system/compat.py
  python/vyos/system/disk.py
  python/vyos/system/grub.py
  python/vyos/system/image.py
  python/vyos/system/raid.py
  python/vyos/utils/convert.py
  python/vyos/utils/file.py
  python/vyos/utils/io.py
  src/op_mode/image_info.py
  src/op_mode/image_installer.py
  src/op_mode/image_manager.py
  src/system/grub_update.py
  src/system/standalone_root_pw_reset
  src/systemd/vyos-grub-update.service
Labels: current

#2500 T5749: Swap show interfaces and show interfaces summary
  op-mode-definitions/show-interfaces.xml.in
  src/op_mode/interfaces.py
Labels: current

#2241 T2405: add Git support to commit-archive
  debian/control
  interface-definitions/system-config-mgmt.xml.in
  python/vyos/config_mgmt.py
  python/vyos/remote.py
Labels: current

#2504 config-mgmt: T4957: T2405: add proper valueHelp strings for remote URL
  interface-definitions/system-config-mgmt.xml.in
  scripts/build-command-templates
Labels: current

#2509 frr: T5733: enable pim6 daemon
  data/templates/frr/daemons.frr.tmpl
Labels: current

#2506 dhcp-client: T5760: add CLI option to pass user-class parameter
  data/templates/dhcp-client/ipv4.j2
  interface-definitions/include/constraint/dhcp-client-string-option.xml.i
  interface-definitions/include/interface/dhcp-options.xml.i
  smoketest/scripts/cli/base_interfaces_test.py
Labels: current

#2511 T5763: fix imprecise check for remote file name
  src/helpers/vyos-load-config.py
Labels: current

#2512 PAM: T5577: Backported PAM settings from circinus
  debian/vyos-1x.postinst
  debian/vyos-1x.preinst
  interface-definitions/include/radius-server-ipv4-ipv6.xml.i
  interface-definitions/system-login.xml.in
  src/conf_mode/system-login.py
  src/init/vyos-router
  src/pam-configs/radius
  src/pam-configs/radius-mandatory
  src/pam-configs/radius-optional
  src/pam-configs/tacplus
  src/pam-configs/tacplus-mandatory
  src/pam-configs/tacplus-optional
Labels: sagitta

#2516 T5767: HTTPS API add reboot and poweroff endpoints
  data/templates/https/nginx.default.j2
  python/vyos/configsession.py
  src/services/vyos-http-api-server
Labels: current

#2518 T5770 Enable MACsec encryption stanza
  python/vyos/ifconfig/macsec.py
  smoketest/scripts/cli/test_interfaces_macsec.py
Labels: current

#2517 T5419: firewall: backport firewall flowtable to Sagitta.
  data/templates/firewall/nftables-offload.j2
  data/templates/firewall/nftables.j2
  interface-definitions/firewall.xml.in
  interface-definitions/include/firewall/action-forward.xml.i
  interface-definitions/include/firewall/ipv4-hook-forward.xml.i
  interface-definitions/include/firewall/ipv6-hook-forward.xml.i
  interface-definitions/include/firewall/offload-target.xml.i
  interface-definitions/interfaces-ethernet.xml.in
  python/vyos/ethtool.py
  python/vyos/firewall.py
  python/vyos/ifconfig/ethernet.py
  smoketest/scripts/cli/test_firewall.py
  src/conf_mode/firewall.py
Labels: sagitta

#2519 http: T5762: rename "virtual-host listen-port" -> "virtual-host port"
  interface-definitions/https.xml.in
  python/vyos/defaults.py
  smoketest/config-tests/basic-api-service
  smoketest/configs/basic-api-service
  smoketest/scripts/cli/test_service_https.py
  src/conf_mode/https.py
  src/migration-scripts/https/4-to-5
Labels: current

#2499 vxlan: T5753: add support for VNI filtering
  interface-definitions/interfaces-vxlan.xml.in
  op-mode-definitions/show-bridge.xml.in
  python/vyos/ifconfig/vxlan.py
  python/vyos/utils/network.py
  smoketest/scripts/cli/test_interfaces_vxlan.py
  src/conf_mode/interfaces-vxlan.py
  src/op_mode/bridge.py
Labels: current

#2527 pppoe: T5630: make MRU default to MTU if unspecified
  interface-definitions/interfaces-pppoe.xml.in
  smoketest/scripts/cli/test_interfaces_pppoe.py
  src/conf_mode/interfaces-pppoe.py
Labels: current

#2528 T5637: firewall: extend rule for default-action to firewall bridge
  data/templates/firewall/nftables-bridge.j2
  data/templates/firewall/nftables-zone.j2
  data/templates/firewall/nftables.j2
  interface-definitions/include/firewall/bridge-hook-forward.xml.i
  python/vyos/template.py
  smoketest/scripts/cli/test_firewall.py
  src/op_mode/firewall.py
Labels: current

#2522 https api: T5772: check if keys are configured unless PAM auth is enabled for GraphQL
  smoketest/scripts/cli/test_service_https.py
  src/conf_mode/https.py
Labels: current

#2532 http-api: T5768: remove auxiliary http-api.conf
  python/vyos/defaults.py
  src/conf_mode/http-api.py
  src/conf_mode/https.py
  src/services/vyos-http-api-server
Labels: current

#2534 https api: T5772: check if keys are configured unless PAM auth is enabled for GraphQL (backport #2522)
  smoketest/scripts/cli/test_service_https.py
  src/conf_mode/https.py
Labels: sagitta

#2535 https api: T5772: check if keys are configured unless PAM auth is enabled for GraphQL (backport #2522)
  python/vyos/util.py
  src/conf_mode/https.py
Labels: crux

#2537 smoketest: tftp: T4012: disable VRF based tests due to false positives
  smoketest/scripts/cli/test_service_tftp-server.py
Labels: equuleus

#2541 remote: T5773: Fix for broken config download
  python/vyos/remote.py
Labels: current

#2543 image-tools: T4516: exit grub-update service if running in docker
  python/vyos/system/image.py
  src/system/grub_update.py
Labels: current

#2544 smoketest: T5783: check for any abnormal daemon termination
  smoketest/scripts/cli/test_protocols_bfd.py
  smoketest/scripts/cli/test_protocols_bgp.py
  smoketest/scripts/cli/test_protocols_igmp-proxy.py
  smoketest/scripts/cli/test_protocols_isis.py
  smoketest/scripts/cli/test_protocols_mpls.py
  smoketest/scripts/cli/test_protocols_ospf.py
  smoketest/scripts/cli/test_protocols_ospfv3.py
  smoketest/scripts/cli/test_protocols_pim6.py
  smoketest/scripts/cli/test_protocols_rip.py
  smoketest/scripts/cli/test_protocols_ripng.py
  smoketest/scripts/cli/test_protocols_rpki.py
Labels: current

#2546 vyos.utils: T5749: fix get_vrf_members() call to iproute2
  python/vyos/utils/network.py
Labels: current

#2550 image-tools: T5751: allow non-interactive add/delete image
  op-mode-definitions/system-image.xml.in
  python/vyos/configsession.py
  python/vyos/remote.py
  src/op_mode/image_installer.py
  src/op_mode/image_manager.py
Labels: current

#2552 image-tools: T5789: copy ssh host keys on image update
  src/op_mode/image_installer.py
Labels: current
