Repository vyos/vyos-1x, pull requests merged in 2023-12, with the labels that each got.

#2554 ddclient: T5791: Update dynamic dns configuration path for consistency
  data/templates/dns-dynamic/ddclient.conf.j2
  interface-definitions/dns-dynamic.xml.in
  interface-definitions/include/dns/dynamic-service-host-name-server.xml.i
  interface-definitions/include/dns/dynamic-service-wait-expiry-time.xml.i
  interface-definitions/include/dns/dynamic-service-zone.xml.i
  interface-definitions/include/version/dns-dynamic-version.xml.i
  smoketest/scripts/cli/test_service_dns_dynamic.py
  src/completion/list_ddclient_protocols.sh
  src/conf_mode/dns_dynamic.py
  src/migration-scripts/dns-dynamic/2-to-3
  src/validators/ddclient-protocol
Labels: current

#2559 mdns: T5793: Cleanup avahi-daemon configuration in `/etc`
  debian/vyos-1x.postinst
Labels: current

#2562 mdns: T5793: Cleanup avahi-daemon configuration in `/etc` [followup]
  debian/vyos-1x.postinst
Labels: current

#2561 http-api: T5782: simplifications for config mode http-api
  data/config-mode-dependencies/vyos-1x.json
  interface-definitions/https.xml.in
  python/vyos/configdiff.py
  python/vyos/defaults.py
  smoketest/scripts/cli/test_service_https.py
  src/conf_mode/http-api.py
  src/conf_mode/https.py
  src/services/vyos-http-api-server
Labels: sagitta

#2564 T5796:add/fixed OCSERV HTTP security headers
  data/templates/ocserv/ocserv_config.j2
Labels: current

#2567 ddclient: T5791: Update dynamic dns configuration path for consistency [followup]
  src/migration-scripts/dns-dynamic/2-to-3
Labels: current

#2569 ddclient: T5791: Simplify and fix migration script for dynamic dns
  src/migration-scripts/dns-dynamic/2-to-3
Labels: current

#2501 accel-ppp: T5688: Standardized pool configuration in accel-ppp
  data/templates/accel-ppp/config_chap_secrets_radius.j2
  data/templates/accel-ppp/config_ip_pool.j2
  data/templates/accel-ppp/ipoe.config.j2
  data/templates/accel-ppp/l2tp.config.j2
  data/templates/accel-ppp/pppoe.config.j2
  data/templates/accel-ppp/pptp.config.j2
  data/templates/accel-ppp/sstp.config.j2
  interface-definitions/include/accel-ppp/client-ip-pool-name.xml.i
  interface-definitions/include/accel-ppp/client-ip-pool-start-stop.xml.i
  interface-definitions/include/accel-ppp/client-ip-pool-subnet-single.xml.i
  interface-definitions/include/accel-ppp/client-ip-pool-subnet.xml.i
  interface-definitions/include/accel-ppp/client-ip-pool.xml.i
  interface-definitions/include/accel-ppp/default-pool.xml.i
  interface-definitions/include/accel-ppp/gateway-address-multi.xml.i
  interface-definitions/include/version/ipoe-server-version.xml.i
  interface-definitions/include/version/l2tp-version.xml.i
  interface-definitions/include/version/pppoe-server-version.xml.i
  interface-definitions/include/version/pptp-version.xml.i
  interface-definitions/include/version/sstp-version.xml.i
  interface-definitions/service-ipoe-server.xml.in
  interface-definitions/service-pppoe-server.xml.in
  interface-definitions/vpn-l2tp.xml.in
  interface-definitions/vpn-pptp.xml.in
  interface-definitions/vpn-sstp.xml.in
  python/vyos/accel_ppp_util.py
  python/vyos/configverify.py
  smoketest/scripts/cli/base_accel_ppp_test.py
  smoketest/scripts/cli/test_service_ipoe-server.py
  smoketest/scripts/cli/test_service_pppoe-server.py
  smoketest/scripts/cli/test_vpn_l2tp.py
  smoketest/scripts/cli/test_vpn_pptp.py
  smoketest/scripts/cli/test_vpn_sstp.py
  src/conf_mode/service_ipoe-server.py
  src/conf_mode/service_pppoe-server.py
  src/conf_mode/vpn_l2tp.py
  src/conf_mode/vpn_pptp.py
  src/conf_mode/vpn_sstp.py
  src/migration-scripts/ipoe-server/1-to-2
  src/migration-scripts/l2tp/4-to-5
  src/migration-scripts/pppoe-server/6-to-7
  src/migration-scripts/pptp/2-to-3
  src/migration-scripts/sstp/4-to-5
  src/validators/ipv4-range-mask
Labels: current

#2575 accel-ppp: T5688: Fixed migration script for pppoe-server
  src/migration-scripts/pppoe-server/6-to-7
Labels: current

#2574 T5779: conntrack: Apply fixes to <set system conntrack timeout custom>
  data/templates/conntrack/nftables-ct.j2
  interface-definitions/include/conntrack/timeout-custom-protocols.xml.i
  interface-definitions/system-conntrack.xml.in
  python/vyos/template.py
  smoketest/scripts/cli/test_system_conntrack.py
  src/conf_mode/conntrack.py
  src/migration-scripts/conntrack/4-to-5
Labels: current

#2578 T160: add NAT64
  debian/control
  interface-definitions/include/nat64/protocol.xml.i
  interface-definitions/nat64.xml.in
  smoketest/scripts/cli/test_nat64.py
  src/conf_mode/nat64.py
Labels: current

#2580 image-tools: T5758: restore saving previous data on install
  python/vyos/system/disk.py
  src/op_mode/image_installer.py
Labels: current

#2539 T5775: firewall: re-add state-policy to firewall. These commands are …
  data/templates/firewall/nftables-zone.j2
  data/templates/firewall/nftables.j2
  interface-definitions/firewall.xml.in
  interface-definitions/include/firewall/global-options.xml.i
  python/vyos/template.py
  smoketest/scripts/cli/test_firewall.py
  src/migration-scripts/firewall/10-to-11
  src/migration-scripts/firewall/12-to-13
Labels: current

#2551 T5778: dhcp server: fix op-mode command
  op-mode-definitions/dhcp.xml.in
  src/op_mode/dhcp.py
Labels: current

#2583 op-mode: T5808: Correction of description for ipv6 ospfv3 graceful-restart
  op-mode-definitions/include/ospf/graceful-restart.xml.i
Labels: current

#2577 ddclient: T5791: Update dynamic dns configuration path (sagitta backport)
  data/templates/dns-dynamic/ddclient.conf.j2
  interface-definitions/dns-dynamic.xml.in
  interface-definitions/include/dns/dynamic-service-host-name-server.xml.i
  interface-definitions/include/dns/dynamic-service-wait-expiry-time.xml.i
  interface-definitions/include/dns/dynamic-service-zone.xml.i
  interface-definitions/include/version/dns-dynamic-version.xml.i
  smoketest/scripts/cli/test_service_dns_dynamic.py
  src/completion/list_ddclient_protocols.sh
  src/conf_mode/dns_dynamic.py
  src/migration-scripts/dns-dynamic/2-to-3
  src/validators/ddclient-protocol
Labels: sagitta

#2587 wireguard: T5413: fix missing check to migration script raising error
  src/migration-scripts/interfaces/29-to-30
Labels: current

#2591 ddclient: T5791: use a fixed VRF table ID in smoketests
  smoketest/scripts/cli/test_service_dns_dynamic.py
Labels: current

#2589 Fix T5805 - return network metrics in telegraf
  data/templates/telegraf/telegraf.j2
Labels: sagitta

#2584 login: T4943: use pam-auth-update to enable/disable Google authenticator
  debian/vyos-1x.postinst
  op-mode-definitions/generate-system-login-user.xml.in
  src/conf_mode/system-login.py
  src/init/vyos-router
  src/pam-configs/mfa-google-authenticator
Labels: current

#2540 wireguard: T5413: Blocked adding the peer with the router's public key
  python/vyos/validate.py
  smoketest/scripts/cli/test_interfaces_wireguard.py
  src/conf_mode/interfaces-wireguard.py
  src/migration-scripts/interfaces/22-to-23
Labels: equuleus

#1960 dhcp: T3316: Migrate dhcp/dhcpv6 server to Kea
  data/templates/dhcp-server/10-override.conf.j2
  data/templates/dhcp-server/dhcpd.conf.j2
  data/templates/dhcp-server/dhcpdv6.conf.j2
  data/templates/dhcp-server/kea-ctrl-agent.conf.j2
  data/templates/dhcp-server/kea-dhcp4.conf.j2
  data/templates/dhcp-server/kea-dhcp6.conf.j2
  debian/control
  interface-definitions/dhcp-server.xml.in
  interface-definitions/dhcpv6-server.xml.in
  interface-definitions/include/dhcp/captive-portal.xml.i
  interface-definitions/include/dhcp/ping-check.xml.i
  interface-definitions/include/version/dhcp-server-version.xml.i
  interface-definitions/include/version/dhcpv6-server-version.xml.i
  op-mode-definitions/dhcp.xml.in
  op-mode-definitions/monitor-log.xml.in
  op-mode-definitions/show-log.xml.in
  python/vyos/kea.py
  python/vyos/template.py
  python/vyos/utils/file.py
  python/vyos/utils/network.py
  smoketest/config-tests/dialup-router-medium-vpn
  smoketest/configs/basic-vyos
  smoketest/scripts/cli/test_service_dhcp-server.py
  smoketest/scripts/cli/test_service_dhcpv6-server.py
  src/conf_mode/dhcp_server.py
  src/conf_mode/dhcpv6_server.py
  src/conf_mode/system-login.py
  src/etc/systemd/system/kea-ctrl-agent.service.d/override.conf
  src/etc/systemd/system/kea-dhcp4-server.service.d/override.conf
  src/etc/systemd/system/kea-dhcp6-server.service.d/override.conf
  src/migration-scripts/dhcp-server/6-to-7
  src/migration-scripts/dhcpv6-server/1-to-2
  src/op_mode/clear_dhcp_lease.py
  src/op_mode/dhcp.py
  src/system/on-dhcp-event.sh
  src/systemd/isc-dhcp-server6.service
Labels: current

#2598 T5812: Fix for rollback check max revision number
  python/vyos/config_mgmt.py
Labels: current

#2602 T5791: DNS dynamic exclude check for dynamic interfaces PPPoE
  src/conf_mode/dns_dynamic.py
Labels: current

#2600 T5773: API add smoketest for load config via HTTP URL
  smoketest/scripts/cli/test_service_https.py
Labels: current

#2601 migration: T5413: re-sequence interfaces migration scripts
  src/migration-scripts/interfaces/22-to-23
  src/migration-scripts/interfaces/23-to-24
  src/migration-scripts/interfaces/24-to-25
  src/migration-scripts/interfaces/25-to-26
  src/migration-scripts/interfaces/26-to-27
  src/migration-scripts/interfaces/27-to-28
  src/migration-scripts/interfaces/28-to-29
  src/migration-scripts/interfaces/29-to-30
Labels: current

#2609 T5803: Migrate vscode settings to new value and clean up .gitattributes
  .gitattributes
  .vscode/settings.json
Labels: current

#2612 T5807: fix op-mode command <show nat66>
  src/op_mode/nat.py
Labels: current

#2613 T5812: report actual number of revisions instead of max
  python/vyos/config_mgmt.py
Labels: current

#2608 load-config: T5815: provide a variety of load config methods
  python/vyos/configtree.py
  python/vyos/load_config.py
Labels: current

#2611 T5804: nat: remove inbound|outbound interface from old configuration when it was set to <any>.
  src/migration-scripts/nat/6-to-7
Labels: current

#2618 validator: T5816: large community validator should only allos character set and basic format
  src/validators/bgp-large-community-list
Labels: current

#2623 dhcp: T3316: Fix raw op-mode lease output
  src/op_mode/dhcp.py
Labels: current

#2622 image-tools: T5819: do not echo password on image install
  python/vyos/utils/io.py
  src/op_mode/image_installer.py
Labels: current

#2607 ddclient: T5791: Adjust warning messages, minor refactor and smoketest updates
  smoketest/scripts/cli/test_service_dns_dynamic.py
  src/conf_mode/dns_dynamic.py
Labels: current

#2606 SRv6: T591: initial implementation to support locator definition
  data/configd-include.json
  data/templates/frr/bgpd.frr.j2
  data/templates/frr/zebra.segment_routing.frr.j2
  interface-definitions/include/bgp/protocol-common-config.xml.i
  interface-definitions/include/constraint/alpha-numeric-hyphen-underscore.xml.i
  interface-definitions/include/constraint/dhcp-client-string-option.xml.i
  interface-definitions/protocols-segment-routing.xml.in
  op-mode-definitions/show-bgp.xml.in
  op-mode-definitions/show-segment-routing.xml.in
  smoketest/scripts/cli/test_protocols_bgp.py
  smoketest/scripts/cli/test_protocols_segment_routing.py
  src/conf_mode/protocols_bgp.py
  src/conf_mode/protocols_segment_routing.py
Labels: current

#2628 T5774: fix regression in remote.upload
  python/vyos/config_mgmt.py
  python/vyos/remote.py
Labels: current

#2621 image-tools: T5806: clear previous raid configs on install
  python/vyos/system/disk.py
  python/vyos/system/raid.py
  src/op_mode/image_installer.py
Labels: current

#2631 T5826: ensure dmidecode is installed as a dependency of vyos-1x
  debian/control
Labels: current

#2624 image-tools: T5821: restore vrf-aware add system image
  src/helpers/simple-download.py
  src/op_mode/image_installer.py
Labels: current

#2634 T5827: made show system image alphabetical
  python/vyos/system/grub.py
Labels: current

#2630 image-tools: T5825: restore authentication for add system image
  src/op_mode/image_installer.py
Labels: current

#2590 T5798: load-balancing revese-proxy add multiple SSL certificates
  data/templates/load-balancing/haproxy.cfg.j2
  interface-definitions/include/pki/certificate-multi.xml.i
  interface-definitions/load-balancing-haproxy.xml.in
  src/conf_mode/load-balancing-haproxy.py
Labels: current

#2627 T4163: Add BGP Monitoring Protocol BMP feature
  data/templates/frr/bgpd.frr.j2
  interface-definitions/include/bgp/bmp-monitor-afi-policy.xml.i
  interface-definitions/include/bgp/protocol-common-config.xml.i
  smoketest/scripts/cli/test_protocols_bgp.py
  src/conf_mode/protocols_bgp.py
Labels: current

#2635 T5749: Add a more scrict search for get_vrf method
  python/vyos/ifconfig/interface.py
Labels: current

#2637 T5823: Add recursive_defaults for BGP get_config dictionary
  src/conf_mode/protocols_bgp.py
Labels: current

#2638 T4502: firewall: flowtables with named tables
  interface-definitions/include/firewall/action.xml.i
  interface-definitions/include/firewall/ipv4-custom-name.xml.i
  interface-definitions/include/firewall/ipv6-custom-name.xml.i
  smoketest/scripts/cli/test_firewall.py
Labels: current

#2639 frr: T4020: add option to define number of open file descriptors
  data/templates/frr/daemons.frr.tmpl
  interface-definitions/system-frr.xml.in
  smoketest/scripts/cli/test_system_frr.py
  src/conf_mode/system_frr.py
Labels: current

#2641 firewall: T4502: add offload to firewall table actions (backport #2638)
  interface-definitions/include/firewall/action.xml.i
  interface-definitions/include/firewall/ipv4-custom-name.xml.i
  interface-definitions/include/firewall/ipv6-custom-name.xml.i
  smoketest/scripts/cli/test_firewall.py
Labels: sagitta

#2597 T5775: firewall: re-add state-policy to firewall. (manual backport #2539)
  data/templates/firewall/nftables-zone.j2
  data/templates/firewall/nftables.j2
  interface-definitions/firewall.xml.in
  interface-definitions/include/firewall/global-options.xml.i
  python/vyos/template.py
  smoketest/scripts/cli/test_firewall.py
  src/migration-scripts/firewall/10-to-11
  src/migration-scripts/firewall/12-to-13
Labels: sagitta

#2572 T5796:backport-add/fixed OCSERV HTTP security headers
  data/templates/ocserv/ocserv_config.tmpl
  interface-definitions/vpn_openconnect.xml.in
Labels: equuleus

#2644 ocserv: T5796: add CLI knob "http-security-headers"
  data/templates/ocserv/ocserv_config.j2
  interface-definitions/vpn-openconnect.xml.in
  smoketest/scripts/cli/test_vpn_openconnect.py
Labels: current

#2617 ddclient: T5144,T5791: Fix migration to avoid config name conflict
  interface-definitions/dns-dynamic.xml.in
  src/migration-scripts/dns-dynamic/0-to-1
  src/migration-scripts/dns-dynamic/2-to-3
Labels: current

#2646 dhcp: T3316: Kea DHCP and DHCPv6 fixes
  python/vyos/kea.py
  python/vyos/utils/file.py
  src/conf_mode/dhcp_server.py
  src/conf_mode/dhcpv6_server.py
Labels: current

#2648 image-tools: T4516: revise system image tools
  Makefile
  data/templates/grub/grub_common.j2
  data/templates/grub/grub_compat.j2
  data/templates/grub/grub_main.j2
  data/templates/grub/grub_menu.j2
  data/templates/grub/grub_modules.j2
  data/templates/grub/grub_options.j2
  data/templates/grub/grub_vars.j2
  data/templates/grub/grub_vyos_version.j2
  debian/vyos-1x.links
  op-mode-definitions/add-system-image.xml.in
  op-mode-definitions/system-image.xml.in
  python/vyos/configsession.py
  python/vyos/remote.py
  python/vyos/system/__init__.py
  python/vyos/system/compat.py
  python/vyos/system/disk.py
  python/vyos/system/grub.py
  python/vyos/system/image.py
  python/vyos/system/raid.py
  python/vyos/utils/convert.py
  python/vyos/utils/file.py
  python/vyos/utils/io.py
  src/helpers/simple-download.py
  src/op_mode/image_info.py
  src/op_mode/image_installer.py
  src/op_mode/image_manager.py
  src/system/grub_update.py
  src/system/standalone_root_pw_reset
  src/systemd/vyos-grub-update.service
Labels: sagitta

#2647 dhcp: T3316: Adjust dhcp-run script to align with kea hooks
  src/system/on-dhcp-event.sh
Labels: current

#2596 T5249: Add rollback-soft feature
  python/vyos/config_mgmt.py
Labels: current

#2649 image-tools: T5831: show system image reverse ordered by date
  python/vyos/system/grub.py
Labels: current

#2655 configdep: T5836: add boolean check whether script called as dependency
  python/vyos/configdep.py
Labels: current

#2657 smoketest: bgp: T4163: use explicit kill to respawn bgpd process
  smoketest/scripts/cli/test_protocols_bgp.py
Labels: backport, sagitta

#2643 T5828: fix grub installation on arm64-efi machines
  python/vyos/system/grub.py
Labels: current

#2661 Allow the HTTPS API server to start without any configured keys when GraphQL JWT auth is configured
  src/conf_mode/https.py
  src/services/vyos-http-api-server
Labels: current

#2664 dhcp: T5846: Refactor and simplify DUID definition
  interface-definitions/include/interface/dhcpv6-options.xml.i
  interface-definitions/include/interface/duid.xml.i
  src/validators/ipv6-duid
Labels: current

#2667 dhcp: T5846: Fix include path
  interface-definitions/include/interface/dhcpv6-options.xml.i
Labels: current

#2668 frr: T4020: re-enable watchfrr in config as it is always running
  data/templates/frr/daemons.frr.tmpl
Labels: current

#2665 T2898: add ndp-proxy service
  data/configd-include.json
  data/templates/ndppd/ndppd.conf.j2
  debian/control
  interface-definitions/include/version/nat66-version.xml.i
  interface-definitions/service_ndp-proxy.xml.in
  op-mode-definitions/monitor-log.xml.in
  op-mode-definitions/show-log.xml.in
  smoketest/scripts/cli/test_service_ndp-proxy.py
  src/conf_mode/nat66.py
  src/conf_mode/service_ndp-proxy.py
  src/migration-scripts/nat66/2-to-3
Labels: current

#2663 srv6: T591: enable SR enabled packet processing on defined interfaces
  interface-definitions/protocols-segment-routing.xml.in
  smoketest/scripts/cli/test_protocols_segment_routing.py
  smoketest/scripts/cli/test_vrf.py
  src/conf_mode/protocols_segment_routing.py
  src/conf_mode/vrf.py
  src/etc/sysctl.d/30-vyos-router.conf
Labels: current

#2633 T5781: add ability to add additional minisign keys
  src/op_mode/image_installer.py
Labels: current

#2675 nat66: T2898: build fix after ndp-proxy backport
  src/conf_mode/nat66.py
Labels: sagitta

#2676 T5840: Add override for systemd kea-ctrl-agent.service
  data/templates/dhcp-server/10-override.conf.j2
  src/conf_mode/dhcp_server.py
Labels: current

#2679 xml: T5854: clear empty paths left by embedded override of defaultValue
  scripts/override-default
Labels: current

#2678 T5853: Typo correction interfaces-virtual-ethernet.xml.in
  interface-definitions/interfaces-virtual-ethernet.xml.in
Labels: current

#2677 T160: NAT64 add match firewall mark feature
  interface-definitions/nat64.xml.in
  src/conf_mode/nat64.py
Labels: current

#2683 snmp: 5856: fix service removal error
  src/conf_mode/snmp.py
Labels: current

#2682 configdict: T5837: add support to return added nodes when calling node_changed()
  python/vyos/configdict.py
  src/conf_mode/firewall.py
  src/conf_mode/interfaces-bridge.py
  src/conf_mode/netns.py
  src/conf_mode/protocols_nhrp.py
Labels: current

#2689 ethernet: T5566: disable energy efficient ethernet (EEE) for interfaces
  python/vyos/ethtool.py
  python/vyos/ifconfig/ethernet.py
Labels: current

#2686 ddclient: T5144: Migrate web-options url to stricter format
  src/migration-scripts/dns-dynamic/0-to-1
  src/migration-scripts/dns-dynamic/2-to-3
Labels: current

#2691 ddclient: T5144: Warn against configuration with broken IP lookup service
  src/conf_mode/dns_dynamic.py
Labels: current

#2651 firewall: T5834: Rename 'enable-default-log' to 'default-log'
  data/templates/firewall/nftables-policy.j2
  interface-definitions/firewall.xml.in
  interface-definitions/include/firewall/bridge-custom-name.xml.i
  interface-definitions/include/firewall/bridge-hook-forward.xml.i
  interface-definitions/include/firewall/common-rule-bridge.xml.i
  interface-definitions/include/firewall/common-rule-inet.xml.i
  interface-definitions/include/firewall/common-rule-ipv4-raw.xml.i
  interface-definitions/include/firewall/common-rule.xml.i
  interface-definitions/include/firewall/default-log.xml.i
  interface-definitions/include/firewall/enable-default-log.xml.i
  interface-definitions/include/firewall/ipv4-custom-name.xml.i
  interface-definitions/include/firewall/ipv4-hook-forward.xml.i
  interface-definitions/include/firewall/ipv4-hook-input.xml.i
  interface-definitions/include/firewall/ipv4-hook-output.xml.i
  interface-definitions/include/firewall/ipv6-custom-name.xml.i
  interface-definitions/include/firewall/ipv6-hook-forward.xml.i
  interface-definitions/include/firewall/ipv6-hook-input.xml.i
  interface-definitions/include/firewall/ipv6-hook-output.xml.i
  interface-definitions/include/firewall/log-options.xml.i
  interface-definitions/include/firewall/log.xml.i
  interface-definitions/include/version/firewall-version.xml.i
  interface-definitions/include/version/policy-version.xml.i
  interface-definitions/policy-route.xml.in
  python/vyos/template.py
  smoketest/scripts/cli/test_firewall.py
  smoketest/scripts/cli/test_policy_route.py
  src/migration-scripts/firewall/13-to-14
  src/migration-scripts/policy/7-to-8
Labels: current

#2693 T5859: Fixed format of pool range in the accel-ppp config
  data/templates/accel-ppp/config_ip_pool.j2
  smoketest/scripts/cli/base_accel_ppp_test.py
  smoketest/scripts/cli/test_service_ipoe-server.py
Labels: current

#2650 dhcp: T3316: Support hostname, DUID and MAC address in reservation
  interface-definitions/dhcp-server.xml.in
  interface-definitions/dhcpv6-server.xml.in
  interface-definitions/include/version/dhcp-server-version.xml.i
  interface-definitions/include/version/dhcpv6-server-version.xml.i
  python/vyos/kea.py
  smoketest/scripts/cli/test_service_dhcp-server.py
  smoketest/scripts/cli/test_service_dhcpv6-server.py
  src/conf_mode/dhcp_server.py
  src/conf_mode/dhcpv6_server.py
  src/migration-scripts/dhcp-server/7-to-8
  src/migration-scripts/dhcpv6-server/2-to-3
Labels: current

#2695 T5842: Rewritten PPTP to get_config_dict
  data/templates/accel-ppp/pptp.config.j2
  interface-definitions/vpn-pptp.xml.in
  src/conf_mode/vpn_pptp.py
Labels: current

#2658 T5801: Rewritten L2TP to get_config_dict
  data/templates/accel-ppp/l2tp.config.j2
  data/templates/accel-ppp/sstp.config.j2
  interface-definitions/include/accel-ppp/auth-protocols.xml.i
  interface-definitions/include/accel-ppp/mtu-128-16384.xml.i
  interface-definitions/include/version/l2tp-version.xml.i
  interface-definitions/vpn-l2tp.xml.in
  smoketest/scripts/cli/base_accel_ppp_test.py
  smoketest/scripts/cli/test_service_pppoe-server.py
  smoketest/scripts/cli/test_vpn_l2tp.py
  src/conf_mode/vpn_l2tp.py
  src/migration-scripts/l2tp/5-to-6
Labels: current

#2692 ddclient: T5144,T5791: Consolidated backport for dynamic dns updates and fixes
  interface-definitions/dns-dynamic.xml.in
  smoketest/scripts/cli/test_service_dns_dynamic.py
  src/conf_mode/dns_dynamic.py
  src/migration-scripts/dns-dynamic/0-to-1
  src/migration-scripts/dns-dynamic/2-to-3
Labels: sagitta

#2698 op-mode: T5866: Add command to restart IPv6 RA daemon
  op-mode-definitions/restart-router-advert.xml.in
Labels: current

#2699 container: T5867: disable healthchecks due to upstream issue
  src/conf_mode/container.py
Labels: current

#2703 ddclient: T5852: add missing priority
  interface-definitions/dns-dynamic.xml.in
Labels: current

#2697 container: T5829: verify container network used supports the given AFI (backport)
  src/conf_mode/container.py
Labels: sagitta

#2710 smoketest: T5867: extend container tests for IPv4 and IPv6 networks
  smoketest/scripts/cli/test_container.py
Labels: current

#2709 nat: T5681: relax wording on non existing interface Warning message
  src/conf_mode/nat.py
  src/conf_mode/nat66.py
Labels: current

#2704 vyos.template: T5869: first_host_address() does not honor RFC4291 section 2.6.1
  python/vyos/template.py
  src/tests/test_jinja_filters.py
  src/tests/test_template.py
Labels: current

#2711 T5688: Fixed ip pool migration scripts for l2tp, sstp, pppoe
  smoketest/configs/pppoe-server
  src/migration-scripts/l2tp/4-to-5
  src/migration-scripts/pppoe-server/6-to-7
  src/migration-scripts/sstp/4-to-5
Labels: current

#2718 system: T5877: Shorten system domain-search config path
  interface-definitions/dns-domain-name.xml.in
  interface-definitions/include/version/system-version.xml.i
  smoketest/scripts/cli/test_system_nameserver.py
  smoketest/scripts/cli/test_system_resolvconf.py
  src/conf_mode/host_name.py
  src/migration-scripts/system/26-to-27
Labels: current

#2716 login: T5875: restore home directory permissions when re-adding user account
  python/vyos/utils/file.py
  src/conf_mode/system-login.py
Labels: current

#2722 ipsec: T1210: add smoketest for remote-access (road-warrior) users
  smoketest/scripts/cli/test_vpn_ipsec.py
Labels: current

#2707 T5870: ipsec remote access VPN: add x509 ("pubkey") authentication.
  data/templates/ipsec/swanctl/remote_access.j2
  interface-definitions/vpn-ipsec.xml.in
  smoketest/scripts/cli/test_vpn_ipsec.py
Labels: current

#2696 dhcp: T3316: Adjust kea lease files' location and permissions
  debian/vyos-1x.postinst
  src/conf_mode/dhcp_server.py
  src/conf_mode/dhcpv6_server.py
  src/op_mode/clear_dhcp_lease.py
  src/op_mode/dhcp.py
Labels: current
