Repository vyos/vyos-1x, pull requests merged in 2024-10, with the labels that each got.

#4109 vyos.configtree: T6742: add bindings for create_node and is_leaf/set_leaf
  python/vyos/configtree.py
Labels: current

#4111 cli: T6752: add a wrapper for the show command
  debian/vyos-1x.install
  src/utils/vyos-show-config
Labels: current

#4125 T6761: Add timeout for OSPF smoketest fail
  smoketest/scripts/cli/test_protocols_ospf.py
Labels: current

#4126 T6763: Delete Jenkins file
  Jenkinsfile
Labels: backport, current

#4123 T6760: firewall: add packet modifications existing in policy route to regular firewall ruleset.
  interface-definitions/include/firewall/bridge-hook-forward.xml.i
  interface-definitions/include/firewall/bridge-hook-output.xml.i
  interface-definitions/include/firewall/bridge-hook-prerouting.xml.i
  interface-definitions/include/firewall/ipv4-custom-name.xml.i
  interface-definitions/include/firewall/ipv4-hook-forward.xml.i
  interface-definitions/include/firewall/ipv4-hook-output.xml.i
  interface-definitions/include/firewall/ipv4-hook-prerouting.xml.i
  interface-definitions/include/firewall/ipv6-custom-name.xml.i
  interface-definitions/include/firewall/ipv6-hook-forward.xml.i
  interface-definitions/include/firewall/ipv6-hook-output.xml.i
  interface-definitions/include/firewall/ipv6-hook-prerouting.xml.i
  interface-definitions/include/firewall/set-packet-modifications-conn-mark.xml.i
  interface-definitions/include/firewall/set-packet-modifications-dscp.xml.i
  interface-definitions/include/firewall/set-packet-modifications-hop-limit.xml.i
  interface-definitions/include/firewall/set-packet-modifications-mark.xml.i
  interface-definitions/include/firewall/set-packet-modifications-table-and-vrf.xml.i
  interface-definitions/include/firewall/set-packet-modifications-tcp-mss.xml.i
  interface-definitions/include/firewall/set-packet-modifications-ttl.xml.i
  interface-definitions/include/firewall/set-packet-modifications.xml.i
  interface-definitions/include/policy/route-common.xml.i
  python/vyos/firewall.py
  smoketest/scripts/cli/test_firewall.py
Labels: current

#4048 T973: add basic node_exporter implementation
  data/templates/node_exporter/node_exporter.service.j2
  debian/vyos-1x.postinst
  interface-definitions/service_monitoring_node_exporter.xml.in
  smoketest/scripts/cli/test_service_monitoring_node-exporter.py
  src/conf_mode/service_monitoring_node-exporter.py
Labels: current, rebase

#4119 T6755: Change vyos mirror URL for smoketest
  .github/workflows/package-smoketest.yml
Labels: current

#4130 Debian: T973: add missing dependency on node-exporter package
  debian/control
Labels: current

#4122 op-mode: T6753: Fix json output for mtr / monitor traceroute
  src/op_mode/mtr.py
Labels: current

#4131 static: T4283: fix missing f'ormat string
  src/conf_mode/protocols_static.py
Labels: backport, current

#4132 T6759: add support for italian keymap
  interface-definitions/system_option.xml.in
  smoketest/scripts/cli/test_system_option.py
Labels: backport, current

#4133 GitHub: T6494: add parallel step to run interface based smoketests
  .github/workflows/package-smoketest.yml
Labels: current

#4118 pki: T6481: auto import ACME certificate chain into CLI
  src/conf_mode/pki.py
  src/op_mode/pki.py
Labels: current

#3938 pbr: T6430: Local IP rules targeting VRFs by name as well as route table IDs
  interface-definitions/include/firewall/set-packet-modifications-table-and-vrf.xml.i
  interface-definitions/include/firewall/vrf.xml.i
  interface-definitions/policy_local-route.xml.in
  smoketest/scripts/cli/base_vyostest_shim.py
  smoketest/scripts/cli/test_policy_local-route.py
  smoketest/scripts/cli/test_policy_route.py
  src/conf_mode/policy_local-route.py
Labels: current

#4139 Jenkins: T2625: fix proper library version used by build pipeline
  Jenkinsfile
Labels: sagitta

#4124 cli: T6740: add a converter from set commands to config
  debian/vyos-1x.install
  python/vyos/utils/config.py
  python/vyos/xml_ref/definition.py
  src/utils/vyos-commands-to-config
Labels: current

#4129 smoketest: T4576: add guard timeout for systemd in log level tests
  smoketest/scripts/cli/base_accel_ppp_test.py
Labels: backport, current

#4138 vyos.configtree: T4318: Allow set tag flag to true or false
  python/vyos/configtree.py
Labels: current

#4128 config-mgmt: T5976: add option for commit-confirm to use 'soft' rollback
  interface-definitions/system_config-management.xml.in
  python/vyos/config_mgmt.py
  python/vyos/configsession.py
  src/conf_mode/system_config-management.py
  src/helpers/commit-confirm-notify.py
Labels: current

#4146 pki: T6766: Add support for ECDSA private keys
  python/vyos/pki.py
Labels: current

#4148 T6712: Add nonproduction banner
  data/templates/login/motd_vyos_nonproduction.j2
  src/conf_mode/system_login_banner.py
Labels: backport, circinus

#4156 T6781: Auto-close pull requests to stream branches
  .github/workflows/pr-auto-close.yml
Labels: circinus

#4158 T6781: Use action to auto-close PRs
  .github/workflows/pr-auto-close.yml
Labels: circinus

#4160 T6781: Add permissions for action auto-close
  .github/workflows/pr-auto-close.yml
Labels: circinus

#4162 T6781: Auto-close pull requests for sagitta
  .github/workflows/pr-auto-close.yml
Labels: sagitta

#4150 T973: add basic frr_exporter implementation
  data/templates/frr_exporter/frr_exporter.service.j2
  debian/control
  interface-definitions/service_monitoring_frr_exporter.xml.in
  smoketest/scripts/cli/test_service_monitoring_frr-exporter.py
  src/conf_mode/service_monitoring_frr-exporter.py
Labels: current

#4165 pki: T4914: Rewrite the PKI op mode in the new style
  op-mode-definitions/pki.xml.in
  python/vyos/configsession.py
  python/vyos/opmode.py
  src/op_mode/pki.py
  src/services/api/rest/routers.py
Labels: current

#4163 T6784: enabled repo-sync wokrflow only for current and equuleus
  .github/workflows/repo-sync.yml
Labels: backport, current

#4167 T6791: Extend fair-queue hash-interval
  interface-definitions/qos.xml.in
Labels: current

#4155 T4583: Rewrite VRRP op-mode to vyos.opmode format
  op-mode-definitions/vrrp.xml.in
  python/vyos/ifconfig/vrrp.py
  src/op_mode/vrrp.py
Labels: current

#4174 T6812: Fix smoketest iproute2 check
  smoketest/scripts/system/test_iproute2.py
Labels: current

#4178 login: T6712: honor 80x25 terminal size for nonproduction banner message
  data/templates/login/motd_vyos_nonproduction.j2
Labels: current

#4172 op_mode: T6808: Console server op mode commands throw errors when console server is not configured
  op-mode-definitions/show-console-server.xml.in
Labels: current
