Repository vyos/vyos-1x, pull requests merged in 2024-06, with the labels that each got.

#3574 reverse-proxy: T6434: Support additional healthcheck options
  data/templates/load-balancing/haproxy.cfg.j2
  interface-definitions/load-balancing_reverse-proxy.xml.in
  smoketest/scripts/cli/test_load-balancing_reverse-proxy.py
  src/conf_mode/load-balancing_reverse-proxy.py
Labels: current

#3582 T6431: op-mode command "monitor traceroute" missing recursive symlink
  Makefile
  op-mode-definitions/mtr.xml.in
Labels: current

#3561 GitHub: add action to build package on PR
  .github/workflows/build-package.yml
Labels: sagitta

#3560 GitHub: add action to build package on PR
  .github/workflows/build-package.yml
Labels: current

#3584 show version: T6446: display the support URL for LTS builds
  data/templates/login/default_motd.j2
Labels: current

#3587 migration: T6006: add system component version to config.boot.default by separating activation from migration
  data/config.boot.default
  debian/rules
  debian/vyos-1x.install
  python/vyos/compose_config.py
  python/vyos/configtree.py
  python/vyos/defaults.py
  src/activation-scripts/20-ethernet_offload.py
  src/helpers/run-config-activation.py
  src/init/vyos-router
Labels: current

#3585 T6412: CGNAT fix allocation calcluation for verify
  src/conf_mode/nat_cgnat.py
Labels: current

#3589 xml: T6423: enforce priority on nodes having an owner
  interface-definitions/load-balancing_reverse-proxy.xml.in
  interface-definitions/load-balancing_wan.xml.in
  interface-definitions/protocols_static_arp.xml.in
  interface-definitions/protocols_static_multicast.xml.in
  interface-definitions/protocols_static_neighbor-proxy.xml.in
  interface-definitions/service_aws_glb.xml.in
  interface-definitions/service_config-sync.xml.in
  interface-definitions/service_console-server.xml.in
  interface-definitions/service_event-handler.xml.in
  interface-definitions/service_monitoring_telegraf.xml.in
  interface-definitions/service_monitoring_zabbix-agent.xml.in
  interface-definitions/service_sla.xml.in
  interface-definitions/system_login_banner.xml.in
  interface-definitions/system_proxy.xml.in
  scripts/build-command-templates
Labels: current

#3592 grub: T6453: Fixed GRUB variables parsing
  python/vyos/system/grub.py
Labels: current

#3598 reverse-proxy: T6454: Set default value of http for haproxy mode
  data/templates/load-balancing/haproxy.cfg.j2
  interface-definitions/include/haproxy/mode.xml.i
  src/conf_mode/load-balancing_reverse-proxy.py
Labels: current

#3600 T6460: fix DHCPv6 duid formatting
  src/op_mode/dhcp.py
Labels: sagitta

#3596 T6449: added pr update trigger
  .github/workflows/chceck-pr-message.yml
Labels: backport, current

#3607 firewall: T3900: T6394: remove unused import
  src/conf_mode/firewall.py
Labels: current

#3613 pki: T6464: sstpc interface not reloaded when updating SSL certificate(s)
  data/config-mode-dependencies/vyos-1x.json
Labels: backport, current

#3612 pki: T6463: reverse-proxy service not reloaded when updating SSL certificate(s)
  data/config-mode-dependencies/vyos-1x.json
  src/conf_mode/pki.py
Labels: backport, current

#3610 op-mode: T6424: ipsec: honor certificate CN and CA chain during profile generation
  data/templates/ipsec/ios_profile.j2
  python/vyos/template.py
  src/op_mode/ikev2_profile_generator.py
Labels: backport, current

#3614 T6219: Add support for container sysctl parameter
  interface-definitions/container.xml.in
  smoketest/config-tests/container-simple
  smoketest/configs/container-simple
  smoketest/scripts/cli/test_container.py
  src/completion/list_container_sysctl_parameters.sh
  src/conf_mode/container.py
Labels: current

#3615 T6467: add PR checks workflows for sagitta branch
  .github/workflows/chceck-pr-message.yml
  .github/workflows/check-unused-imports.yml
  .github/workflows/linit-j2.yml
Labels: current

#3626 T6469: remove j2 lint workflow
  .github/workflows/linit-j2.yml
Labels: backport, current

#3611 wireless: T6462: add op-mode command for hostapd and wpa_supplicant logs
  op-mode-definitions/monitor-log.xml.in
  op-mode-definitions/show-log.xml.in
Labels: backport, current

#3632 firewall: T3900: fix migration and smoketests
  smoketest/config-tests/dialup-router-wireguard-ipv6
  src/migration-scripts/firewall/15-to-16
Labels: current

#3638 bgp: T6473: missing completion helper for peer-groups inside a VRF
  interface-definitions/include/bgp/peer-group.xml.i
Labels: backport, current

#3644 op_mode: T6227: Rewrite show conntrack-sync cache internal to use tabulate output
  data/templates/conntrackd/conntrackd.op-mode.j2
  src/op_mode/conntrack_sync.py
Labels: current

#3590 T6045: Recreate show lldp detail views & improve remote port selection
  op-mode-definitions/lldp.xml.in
  src/op_mode/lldp.py
Labels: current

#3601 T6456: Convert "monitor traffic" to modern op-mode wrapper
  Makefile
  op-mode-definitions/traffic-dump.xml.in
  src/op_mode/tcpdump.py
Labels: current

#3639 openvpn: T5487: Remove deprecated option --cipher for server and client mode
  interface-definitions/include/version/openvpn-version.xml.i
  smoketest/scripts/cli/test_interfaces_openvpn.py
  src/conf_mode/interfaces_openvpn.py
  src/migration-scripts/openvpn/1-to-2
Labels: current

#3643 T5725: Improve protocol IS-IS config validation
  smoketest/scripts/cli/test_protocols_isis.py
  src/conf_mode/protocols_isis.py
Labels: equuleus

#3647 T6487: updated central workflows to use current branch
  .github/workflows/add-pr-labels.yml
  .github/workflows/auto-author-assign.yml
  .github/workflows/chceck-pr-message.yml
  .github/workflows/check-pr-conflicts.yml
  .github/workflows/check-stale.yml
  .github/workflows/check-unused-imports.yml
  .github/workflows/codeql.yml
  .github/workflows/label-backport.yml
  .github/workflows/repo-sync.yml
Labels: backport, current

#3646 op-mode: T6407: "generate pki" missed to mangle in ACME certificates when required
  op-mode-definitions/generate-ipsec-profile.xml.in
  src/op_mode/ikev2_profile_generator.py
Labels: backport, current

#3645 op-mode: T6480: must call pki.py helper as root to work with ACME certificates
  op-mode-definitions/pki.xml.in
Labels: backport, current

#3653 openvpn: T5487: make migration script executable
  src/migration-scripts/openvpn/1-to-2
Labels: current

#3659 openvpn: T5487: Fix migration smoketests commands
  smoketest/config-tests/dialup-router-medium-vpn
Labels: current

#3661 T6494: Update sonarcloud.yml and add more branches for scanning
  .github/workflows/sonarcloud.yml
Labels: current

#3663 sonarcloud: Revert "T6494: Update sonarcloud.yml and add more branches for scanning"
  .github/workflows/sonarcloud.yml
Labels: current

#3656 wireless: T6318: move country-code to a system wide configuration
  data/config-mode-dependencies/vyos-1x.json
  data/configd-include.json
  interface-definitions/include/version/interfaces-version.xml.i
  interface-definitions/interfaces_wireless.xml.in
  interface-definitions/system_wireless.xml.in
  smoketest/config-tests/wireless-basic
  smoketest/configs/wireless-basic
  smoketest/scripts/cli/test_interfaces_wireless.py
  src/conf_mode/interfaces_wireless.py
  src/conf_mode/system_wireless.py
  src/migration-scripts/interfaces/32-to-33
Labels: current

#3657 pki: T6241: remove debug print statement about updated subsystems
  src/conf_mode/pki.py
Labels: backport, current

#3675 wireless: T6318: add quotes for console speed in config-tests
  smoketest/config-tests/wireless-basic
Labels: current

#3674 T6415: Add action repo-sync for sagitta-stream
  .github/workflows/repo-sync.yml
Labels: sagitta-stream

#3652 T6489: Add support for CLI config scripts that change the underlaying working configuration
  data/configd-include.json
  python/vyos/configsession.py
  python/vyos/defaults.py
  python/vyos/utils/__init__.py
  python/vyos/utils/auth.py
  python/vyos/utils/configfs.py
  src/conf_mode/system_login.py
Labels: current

#3576 wireless: T6425: Fixing VHT beamforming for 802.11ac
  data/templates/wifi/hostapd.conf.j2
  smoketest/scripts/cli/test_interfaces_wireless.py
Labels: current

#3678 T6492: Check if all migrators have the executable bit set
  Makefile
Labels: current

#3680 T6497: CGNAT delete conntrack entries if a pool is modified
  src/conf_mode/nat_cgnat.py
Labels: current

#3685 macsec: T5447: fix error message syntax - there is no tx and rx key, only key
  python/vyos/ifconfig/macsec.py
  smoketest/scripts/cli/test_interfaces_macsec.py
  src/conf_mode/interfaces_macsec.py
Labels: backport, current

#3682 openconnect: T6500: add support for multiple ca-certificates
  interface-definitions/vpn_openconnect.xml.in
  src/conf_mode/vpn_openconnect.py
Labels: current

#3677 T5949: Add option to disable USB autosuspend
  data/templates/system/40_usb_autosuspend.j2
  interface-definitions/system_option.xml.in
  src/conf_mode/system_option.py
Labels: current

#3693 T3900: firewall: fix for initial implementation
  data/templates/firewall/nftables.j2
Labels: current

#3654 op-mode: T5514: Allow safe reboots to config defaults when config.boot is deleted
  python/vyos/config_mgmt.py
  src/op_mode/powerctrl.py
Labels: backport, current

#3684 op mode: T6498: move uptime helpers to vyos.utils.system
  python/vyos/utils/system.py
  src/op_mode/uptime.py
Labels: current

#3702 op-mode: T6503: "restart ssh" command not working
  op-mode-definitions/restart-ssh.xml.in
Labels: backport, current

#3703 GitHub: T6494: add workflow to build custom ISO for integration tests
  .github/workflows/build-package.yml
  .github/workflows/package-smoketest.yml
Labels: current

#3673 T6415: Add action repo-sync for circinus-stream
  .github/workflows/repo-sync.yml
Labels: circinus

#3679 T3202: Enable wireguard debug messages
  interface-definitions/system_option.xml.in
  src/conf_mode/system_option.py
Labels: current

#3710 T6511: add circinus branch to workflow
  .github/workflows/add-pr-labels.yml
  .github/workflows/chceck-pr-message.yml
  .github/workflows/check-unused-imports.yml
  .github/workflows/codeql.yml
Labels: backport, current

#3683 op mode: T6501: add "run show kernel modules"
  op-mode-definitions/show-kernel-modules.xml.in
  python/vyos/utils/kernel.py
  src/op_mode/kernel_modules.py
Labels: current

#3588 T5735: Stunnel CLI and configuration
  data/config-mode-dependencies/vyos-1x.json
  data/configd-include.json
  data/templates/stunnel/stunnel_config.j2
  interface-definitions/include/stunnel/address.xml.i
  interface-definitions/include/stunnel/connect.xml.i
  interface-definitions/include/stunnel/listen.xml.i
  interface-definitions/include/stunnel/protocol-options.xml.i
  interface-definitions/include/stunnel/protocol-value-cifs.xml.i
  interface-definitions/include/stunnel/protocol-value-connect.xml.i
  interface-definitions/include/stunnel/protocol-value-imap.xml.i
  interface-definitions/include/stunnel/protocol-value-nntp.xml.i
  interface-definitions/include/stunnel/protocol-value-pgsql.xml.i
  interface-definitions/include/stunnel/protocol-value-pop3.xml.i
  interface-definitions/include/stunnel/protocol-value-proxy.xml.i
  interface-definitions/include/stunnel/protocol-value-smtp.xml.i
  interface-definitions/include/stunnel/protocol-value-socks.xml.i
  interface-definitions/include/stunnel/psk.xml.i
  interface-definitions/include/stunnel/ssl.xml.i
  interface-definitions/service_stunnel.xml.in
  smoketest/scripts/cli/test_service_stunnel.py
  src/conf_mode/pki.py
  src/conf_mode/service_stunnel.py
  src/systemd/stunnel.service
  src/validators/psk-secret
Labels: current

#3718 op-mode: T6514: rework the "show system storage" code to handle live CD systems correctly
  python/vyos/utils/disk.py
  src/op_mode/storage.py
Labels: current

#3714 GitHub: T6494: extend ISO integration workflow
  .github/workflows/package-smoketest.yml
Labels: current

#3724 interfaces: T6519: harden config migration if ethernet interface is missing
  python/vyos/ethtool.py
  src/migration-scripts/interfaces/20-to-21
Labels: backport, current

#3723 T751: Remove ids suricata
  data/templates/ids/suricata.j2
  data/templates/ids/suricata_logrotate.j2
  debian/control
  interface-definitions/service_suricata.xml.in
  op-mode-definitions/suricata.xml.in
  src/conf_mode/service_suricata.py
  src/etc/systemd/system/suricata.service.d/10-override.conf
Labels: circinus

#3728 T6520: added PR write permissions for smoke test workflow
  .github/workflows/package-smoketest.yml
Labels: current

#3729 smoketest: T6510: remove build time test to check for /dev/input/event0
  src/tests/test_find_device_file.py
Labels: current

#3713 T6415: Actions set circinus repo sync
  .github/workflows/repo-sync.yml
Labels: circinus

#3681 T6488: firewall: extend op-mode command to show global state-policy counters
  src/op_mode/firewall.py
Labels: current

#3731 op-mode: T5633, T6465: fix error when op cmd interrupted, updates some system call syntax
  src/op_mode/show_techsupport_report.py
Labels: current

#3524 wireless: T6320: Add 802.11ax at 6GHz to VyOS
  data/templates/wifi/hostapd.conf.j2
  interface-definitions/interfaces_wireless.xml.in
  smoketest/scripts/cli/test_interfaces_wireless.py
  src/conf_mode/interfaces_wireless.py
Labels: current

#3736 T6487: Git actions use circinus branch for add-pr-labels
  .github/workflows/add-pr-labels.yml
Labels: circinus

#3720 T6477: Add telegraf loki output plugin
  data/templates/telegraf/telegraf.j2
  interface-definitions/service_monitoring_telegraf.xml.in
  smoketest/scripts/cli/test_service_monitoring_telegraf.py
  src/conf_mode/service_monitoring_telegraf.py
Labels: backport, current

#3737 utils: T6530: add a helper for easily calling iproute2 commands
  python/vyos/utils/process.py
Labels: current

#3591 T6452: Add QoS Op Commands
  data/op-mode-standardized.json
  op-mode-definitions/show-qos.xml.in
  src/op_mode/qos.py
Labels: current

#3733 op-mode: T6524: rewrite "release dhcp(v6) interface" to new op-mode format
  op-mode-definitions/dhcp.xml.in
  src/op_mode/dhcp.py
Labels: backport, current

#3743 T6534: fix incorrect imports in vyos-config-encrypt.py
  src/helpers/vyos-config-encrypt.py
Labels: current
