Repository vyos/vyos-1x, pull requests merged in 2024-01, with the labels that each got.

#2724 T3476: Add option latest to add system image
  op-mode-definitions/system-image.xml.in
  src/op_mode/image_installer.py
Labels: current

#2726 login: T5875: restore home directory permissions only when needed
  src/conf_mode/system_login.py
Labels: current

#2728 T5880: verify_source_interface() should not allow dynamic interfaces like ppp, l2tp, ipoe or sstpc client interfaces
  interface-definitions/include/constraint/interface-name.xml.i
  python/vyos/configverify.py
  smoketest/scripts/cli/test_interfaces_tunnel.py
  src/conf_mode/interfaces_tunnel.py
Labels: current

#2731 image-tools: T5883: preserve file owner in /config on add system update
  src/op_mode/image_installer.py
Labels: current

#2737 image-tools: T5885: relax restriction on image-name len from 32 to 64
  python/vyos/system/image.py
Labels: current

#2739 T3642: add missing base64 CLI validators
  interface-definitions/interfaces_wireguard.xml.in
  interface-definitions/pki.xml.in
  smoketest/scripts/cli/test_pki.py
Labels: current

#2736 vyos-configd: extend list of included scripts
  data/configd-include.json
Labels: current

#2743 T5888: fix migration script in order to fit new type-names for icmp and icmpv6
  src/migration-scripts/firewall/6-to-7
Labels: current

#2735 op-mode: T5884: Correction of description for generate-wireguard.xml.in
  op-mode-definitions/generate-wireguard.xml.in
Labels: current

#2742 T5474: remove "aws glb" XML definitions as feature is not available in VyOS 1.4
  data/configd-include.json
  interface-definitions/service_aws_glb.xml.in
Labels: backport, sagitta

#2746 op-mode: T5890: Fix arguments passed to generate_system_login_user.py
  op-mode-definitions/generate-system-login-user.xml.in
Labels: current

#2745 op-mode: T5884: correct "generate wireguard" help string (backport)
  op-mode-definitions/generate-wireguard.xml.in
Labels: backport, sagitta

#2719 Backports for Accel-PPP based serviced T5801, T5842 and T5688
  data/templates/accel-ppp/l2tp.config.j2
  data/templates/accel-ppp/pptp.config.j2
  data/templates/accel-ppp/sstp.config.j2
  interface-definitions/include/accel-ppp/auth-protocols.xml.i
  interface-definitions/include/accel-ppp/mtu-128-16384.xml.i
  interface-definitions/include/version/l2tp-version.xml.i
  interface-definitions/vpn_l2tp.xml.in
  interface-definitions/vpn_pptp.xml.in
  smoketest/configs/pppoe-server
  smoketest/scripts/cli/base_accel_ppp_test.py
  smoketest/scripts/cli/test_service_pppoe-server.py
  smoketest/scripts/cli/test_vpn_l2tp.py
  src/conf_mode/vpn_l2tp.py
  src/conf_mode/vpn_pptp.py
  src/migration-scripts/l2tp/4-to-5
  src/migration-scripts/l2tp/5-to-6
  src/migration-scripts/pppoe-server/6-to-7
  src/migration-scripts/sstp/4-to-5
Labels: sagitta

#2750 configdict: T5894: add get_config_dict() flag with_pki
  interface-definitions/include/accel-ppp/client-ip-pool.xml.i
  interface-definitions/include/accel-ppp/default-pool.xml.i
  interface-definitions/include/bgp/afi-route-map-export-import.xml.i
  interface-definitions/include/bgp/neighbor-afi-ipv4-ipv6-common.xml.i
  interface-definitions/include/constraint/alpha-numeric-hyphen-underscore-dot.xml.i
  interface-definitions/include/route-map.xml.i
  interface-definitions/pki.xml.in
  interface-definitions/policy.xml.in
  interface-definitions/service_dhcp-server.xml.in
  interface-definitions/service_dhcpv6-server.xml.in
  python/vyos/config.py
  python/vyos/configdict.py
  smoketest/scripts/cli/test_service_https.py
  src/conf_mode/interfaces_ethernet.py
  src/conf_mode/interfaces_openvpn.py
  src/conf_mode/interfaces_sstpc.py
  src/conf_mode/load-balancing_reverse-proxy.py
  src/conf_mode/service_https.py
  src/conf_mode/vpn_ipsec.py
  src/conf_mode/vpn_openconnect.py
  src/conf_mode/vpn_sstp.py
Labels: current

#2752 T5897: frr should be stopped before vyos-router
  src/etc/systemd/system/frr.service.d/override.conf
Labels: current

#2694 T5169: nat: add option to map network and ports.
  python/vyos/nat.py
  smoketest/scripts/cli/test_nat.py
  src/conf_mode/nat.py
Labels: current

#2757 T5900 dns forwarding: reliability improvements
  data/templates/dns-forwarding/recursor.conf.j2
  interface-definitions/service_dns_forwarding.xml.in
  smoketest/scripts/cli/test_service_dns_forwarding.py
Labels: current

#2761 dns: T5900: fix smoketests for serve-stale-extension and exclude-throttle-address
  data/templates/dns-forwarding/recursor.conf.j2
  smoketest/scripts/cli/test_service_dns_forwarding.py
Labels: current

#2764 T5195: add timeout argument to process_named_running()
  python/vyos/utils/process.py
  smoketest/scripts/cli/base_interfaces_test.py
Labels: current

#2765 op-mode: T5904: add "show ipv6 route vrf <name> <prefix>" command
  op-mode-definitions/show-ipv6-route.xml.in
Labels: current

#2758 pki: T5886: add support for ACME protocol (LetsEncrypt)
  data/templates/https/nginx.default.j2
  debian/control
  interface-definitions/include/constraint/email.xml.i
  interface-definitions/include/version/https-version.xml.i
  interface-definitions/pki.xml.in
  interface-definitions/service_https.xml.in
  op-mode-definitions/monitor-log.xml.in
  op-mode-definitions/pki.xml.in
  op-mode-definitions/show-log.xml.in
  python/vyos/config.py
  src/conf_mode/pki.py
  src/conf_mode/service_https.py
  src/conf_mode/service_https_certificates_certbot.py
  src/etc/systemd/system/certbot.service.d/10-override.conf
  src/helpers/vyos-certbot-renew-pki.sh
  src/migration-scripts/https/5-to-6
  src/op_mode/pki.py
Labels: current

#2760 image: T5898: fix kernel-level partition rescan
  python/vyos/system/disk.py
Labels: current

#2769 smoketest: T5195: fix BasicInterfaceTest tearDown() timeout penalty
  python/vyos/utils/process.py
  smoketest/scripts/cli/base_interfaces_test.py
Labels: current

#2768 pki: T5905: do not use expand_nodes=Diff.ADD|Diff.DELETE) in node_changed()
  smoketest/scripts/cli/test_vpn_ipsec.py
  src/conf_mode/pki.py
  src/conf_mode/vpn_ipsec.py
Labels: current

#2773 https: T5902: remove virtual-host configuration
  data/templates/https/nginx.default.j2
  data/templates/https/vyos-http-api.service.j2
  interface-definitions/include/pki/dh-params.xml.i
  interface-definitions/interfaces_openvpn.xml.in
  interface-definitions/service_https.xml.in
  python/vyos/defaults.py
  smoketest/config-tests/basic-api-service
  smoketest/configs/basic-api-service
  smoketest/scripts/cli/test_pki.py
  smoketest/scripts/cli/test_service_https.py
  src/conf_mode/pki.py
  src/conf_mode/service_https.py
  src/etc/systemd/system/nginx.service.d/10-override.conf
  src/helpers/vyos-boot-config-loader.py
  src/migration-scripts/https/5-to-6
  src/services/vyos-http-api-server
Labels: current

#2780 T5916: Added segment routing check for index size and SRGB size
  src/conf_mode/protocols_isis.py
  src/conf_mode/protocols_ospf.py
Labels: current

#2786 image-tools: T5917: annotate image list with (running)/(default boot)
  src/op_mode/image_manager.py
Labels: current

#2785 dhcp: T3316: T5787: T5912: Extend scope of DHCP options, bugfixes
  data/templates/dhcp-server/kea-dhcp4.conf.j2
  interface-definitions/include/dhcp/option-v4.xml.i
  interface-definitions/include/listen-interface-multi-broadcast.xml.i
  interface-definitions/include/version/dhcp-server-version.xml.i
  interface-definitions/service_dhcp-server.xml.in
  python/vyos/kea.py
  python/vyos/template.py
  python/vyos/utils/network.py
  smoketest/scripts/cli/test_service_dhcp-server.py
  src/conf_mode/service_dhcp-server.py
  src/migration-scripts/dhcp-server/8-to-9
  src/system/on-dhcp-event.sh
Labels: current

#2784 T5915: firewall: re-add opmode command for zone based firewall
  op-mode-definitions/firewall.xml.in
  src/op_mode/zone.py
Labels: current

#2787 bgp: T5913: allow peer-group support for ipv4|6-labeled-unicast SAFI
  interface-definitions/include/bgp/protocol-common-config.xml.i
  smoketest/scripts/cli/test_protocols_bgp.py
Labels: current

#2777 T5688: Changed 'range' to multi in 'client-ip-pool' for accell-ppp
  data/templates/accel-ppp/config_ip_pool.j2
  interface-definitions/include/accel-ppp/client-ip-pool.xml.i
  interface-definitions/include/accel-ppp/default-pool.xml.i
  src/conf_mode/vpn_l2tp.py
  src/migration-scripts/ipoe-server/1-to-2
  src/migration-scripts/l2tp/4-to-5
  src/migration-scripts/pppoe-server/6-to-7
  src/migration-scripts/pptp/2-to-3
  src/migration-scripts/sstp/4-to-5
  src/validators/ipv4-range-mask
Labels: current

#2791 T5918: Fix typo in verify vpn ipsec interface
  src/conf_mode/vpn_ipsec.py
Labels: current

#2793 interface: T5550: Interface source-validation priority over global value (backport)
  data/templates/firewall/nftables.j2
  data/vyos-firewall-init.conf
  interface-definitions/include/firewall/global-options.xml.i
  python/vyos/ifconfig/interface.py
  smoketest/scripts/cli/base_interfaces_test.py
  smoketest/scripts/cli/test_firewall.py
Labels: sagitta

#2794 dhcp: T5787: Prevent duplicate IP addresses on static mappings (backport)
  smoketest/scripts/cli/test_service_dhcp-server.py
  src/conf_mode/service_dhcp-server.py
Labels: sagitta

#2790 firewall: T5814: Retain legacy 'accept' behaviour and re-order migration
  src/migration-scripts/firewall/10-to-11
Labels: current

#2799 T5919: firewall: fix <show firewall ipv6 ..> command
  op-mode-definitions/firewall.xml.in
Labels: current

#2797 syslog: T1487: store all journald log files also in syslog
  data/templates/rsyslog/rsyslog.conf.j2
Labels: current

#2798 T5791: T5918: use genetic pattern to detect dynamic interfaces for ipsec and dynamic dns
  python/vyos/configverify.py
  src/conf_mode/service_dns_dynamic.py
  src/conf_mode/vpn_ipsec.py
Labels: current

#2806 image-tools: T5910: explicitly set transmission speed of serial console
  data/templates/grub/grub_common.j2
  data/templates/grub/grub_vyos_version.j2
  src/op_mode/image_installer.py
  src/system/grub_update.py
Labels: current

#2807 T5922: firewall: fix intra-zone filtering parsing rules; update firew…
  data/templates/firewall/nftables-zone.j2
  data/templates/firewall/nftables.j2
  smoketest/scripts/cli/test_firewall.py
Labels: current

#2809 bgp: T5306: fix verify_remote_as() to support v6only interface with peer-group
  src/conf_mode/protocols_bgp.py
Labels: current

#2812 T5857: Fix op-mode show interfaces wireless info unconf message
  src/op_mode/interfaces_wireless.py
Labels: current

#2814 T5925: Containers change systemd KillMode
  data/templates/container/systemd-unit.j2
Labels: current

#2816 wireguard: T5924: harden migration script logic 22-to-23
  .github/labeler.yml
  .github/workflows/pull-request-labels.yml
  src/migration-scripts/interfaces/22-to-23
Labels: equuleus

#2817 dhcpv6: T3316: Extend scope of DHCP options, bugfixes
  data/templates/dhcp-server/kea-dhcp6.conf.j2
  interface-definitions/include/dhcp/option-v6.xml.i
  interface-definitions/service_dhcpv6-server.xml.in
  python/vyos/kea.py
  python/vyos/template.py
  smoketest/configs/basic-vyos
  smoketest/scripts/cli/test_service_dhcpv6-server.py
  src/conf_mode/service_dhcpv6-server.py
  src/migration-scripts/dhcpv6-server/3-to-4
  src/op_mode/dhcp.py
Labels: current

#2819 bgp: T591: SRv6 improvements
  data/templates/frr/bgpd.frr.j2
  interface-definitions/include/bgp/afi-nexthop-vpn-export.xml.i
  interface-definitions/include/bgp/afi-sid.xml.i
  interface-definitions/include/bgp/protocol-common-config.xml.i
  smoketest/scripts/cli/test_protocols_bgp.py
  src/conf_mode/protocols_bgp.py
Labels: current

#2821 T5944: Fix reboot in arg
  src/op_mode/powerctrl.py
Labels: current

#2824 T5901: Add DHCP base_path dir during first boot
  src/etc/dhcp/dhclient-exit-hooks.d/03-vyos-dhclient-hook
Labels: current

#2823 T4856: Fix IPsec DHCP-client exit hook
  src/etc/dhcp/dhclient-exit-hooks.d/99-ipsec-dhclient-hook
Labels: current

#2825 op-mode: T5944: remove double whitespace in reboot error message
  src/op_mode/powerctrl.py
Labels: current

#2829 ospf: T5936: when migrating passive interfaces set_tag() must be set
  smoketest/configs/ospf-small
  src/migration-scripts/ospf/0-to-1
Labels: current

#2834 bgp: T5937: fix migration script for IPv6 AFI peer-group
  smoketest/config-tests/bgp-medium-confederation
  smoketest/configs/bgp-medium-confederation
  src/conf_mode/protocols_bgp.py
  src/migration-scripts/bgp/0-to-1
  src/migration-scripts/bgp/1-to-2
Labels: current

#2833 T5889: Fix migration scripts nat 5-to-6
  src/migration-scripts/nat/5-to-6
Labels: current

#2837 T4658: Renamed DPD action value from 'hold' to 'trap'
  data/templates/ipsec/swanctl/peer.j2
  interface-definitions/include/version/ipsec-version.xml.i
  interface-definitions/vpn_ipsec.xml.in
  src/migration-scripts/ipsec/12-to-13
Labels: current

#2818 image-tools: T5923: update system_console.py for new GRUB file structure
  data/templates/grub/grub_common.j2
  data/templates/grub/grub_compat.j2
  python/vyos/system/compat.py
  python/vyos/system/grub.py
  python/vyos/system/grub_util.py
  src/conf_mode/system_console.py
  src/system/grub_update.py
Labels: current

#2832 T5865: Moved ipv6 pools to named ipv6 pools in accel-ppp
  data/templates/accel-ppp/config_ipv6_pool.j2
  data/templates/accel-ppp/ipoe.config.j2
  data/templates/accel-ppp/l2tp.config.j2
  data/templates/accel-ppp/pppoe.config.j2
  data/templates/accel-ppp/sstp.config.j2
  interface-definitions/include/accel-ppp/client-ipv6-pool.xml.i
  interface-definitions/include/accel-ppp/default-ipv6-pool.xml.i
  interface-definitions/include/version/ipoe-server-version.xml.i
  interface-definitions/include/version/l2tp-version.xml.i
  interface-definitions/include/version/pppoe-server-version.xml.i
  interface-definitions/include/version/sstp-version.xml.i
  interface-definitions/service_ipoe-server.xml.in
  interface-definitions/service_pppoe-server.xml.in
  interface-definitions/vpn_l2tp.xml.in
  interface-definitions/vpn_pptp.xml.in
  interface-definitions/vpn_sstp.xml.in
  python/vyos/accel_ppp_util.py
  smoketest/scripts/cli/base_accel_ppp_test.py
  smoketest/scripts/cli/test_service_ipoe-server.py
  smoketest/scripts/cli/test_service_pppoe-server.py
  smoketest/scripts/cli/test_vpn_l2tp.py
  smoketest/scripts/cli/test_vpn_pptp.py
  src/conf_mode/service_ipoe-server.py
  src/conf_mode/service_pppoe-server.py
  src/conf_mode/vpn_l2tp.py
  src/conf_mode/vpn_pptp.py
  src/conf_mode/vpn_sstp.py
  src/migration-scripts/ipoe-server/2-to-3
  src/migration-scripts/l2tp/6-to-7
  src/migration-scripts/pppoe-server/7-to-8
  src/migration-scripts/sstp/5-to-6
Labels: current

#2843 dhcp: T5948: Strip trailing dot from hostnames
  src/system/on-dhcp-event.sh
Labels: current

#2842 T5953: Changed values of 'close-action' to Strongswan values
  data/templates/ipsec/swanctl/peer.j2
  interface-definitions/vpn_ipsec.xml.in
  src/migration-scripts/ipsec/12-to-13
Labels: current

#2846 ndp-proxy: T5863: add missing priority to honor interface dependencies
  interface-definitions/service_ndp-proxy.xml.in
Labels: current

#2848 xml: T5738: re-use source-address-ipv4-ipv6 building block for config-management
  interface-definitions/system_config-management.xml.in
Labels: current

#2850 ethernet: T4638: deleting parent interface does not delete underlying VIFs
  python/vyos/ifconfig/ethernet.py
Labels: current

#2839 dhcp: T5952: Fix validate duplicate MAC Address on same subnet
  smoketest/scripts/cli/test_service_dhcp-server.py
  src/conf_mode/service_dhcp-server.py
Labels: current

#2853 dhcp: T5952: validate duplicate MAC and IP address in static-mappings incl. smoketests
  smoketest/scripts/cli/test_service_dhcp-server.py
  src/conf_mode/service_dhcp-server.py
Labels: sagitta

#2855 T5963: Fix QoS shaper rate calculations and set default 1Gbit
  python/vyos/qos/base.py
Labels: current

#2858 T5964: add missing imports for is_wwan_connected()
  python/vyos/utils/network.py
Labels: current

#2862 T5961: Fix QoS policy shaper class match vif
  python/vyos/qos/base.py
Labels: current

#2852 T5958: QoS add basic implementation of policy shaper-hfsc
  interface-definitions/include/qos/hfsc-m1.xml.i
  interface-definitions/include/qos/hfsc-m2.xml.i
  python/vyos/qos/trafficshaper.py
  src/conf_mode/qos.py
Labels: current

#2864 dhcp: T3316: add deprecation warning on RAW ISC DHCPD options
  interface-definitions/service_dhcpv6-server.xml.in
  src/conf_mode/service_dhcp-server.py
Labels: sagitta

#2863 ntp: T5692: add support to configure leap second behavior
  data/templates/chrony/chrony.conf.j2
  interface-definitions/service_ntp.xml.in
  smoketest/scripts/cli/test_service_ntp.py
  src/conf_mode/service_ntp.py
Labels: current

#2854 dns: T5959: Streamline dns forwarding service
  data/templates/dns-forwarding/override.conf.j2
  data/templates/dns-forwarding/recursor.conf.j2
  data/templates/dns-forwarding/recursor.conf.lua.j2
  op-mode-definitions/dns-forwarding.xml.in
  smoketest/scripts/cli/test_service_dns_forwarding.py
  src/conf_mode/service_dns_forwarding.py
  src/etc/systemd/system/pdns-recursor.service.d/override.conf
  src/op_mode/dns.py
  src/op_mode/dns_forwarding_reset.py
  src/op_mode/dns_forwarding_restart.sh
  src/op_mode/dns_forwarding_statistics.py
  src/services/vyos-hostsd
Labels: current

#2856 firewall: T5729: T5681: T5217: backport subsystem from current branch
  data/config-mode-dependencies/vyos-1x.json
  data/templates/firewall/nftables-bridge.j2
  data/templates/firewall/nftables-nat.j2
  data/templates/firewall/nftables-nat66.j2
  data/templates/firewall/nftables-offload.j2
  data/templates/firewall/nftables-zone.j2
  data/templates/firewall/nftables.j2
  data/vyos-firewall-init.conf
  interface-definitions/include/firewall/action-forward.xml.i
  interface-definitions/include/firewall/action-l2.xml.i
  interface-definitions/include/firewall/action.xml.i
  interface-definitions/include/firewall/common-rule-bridge.xml.i
  interface-definitions/include/firewall/common-rule-inet.xml.i
  interface-definitions/include/firewall/common-rule-ipv4-raw.xml.i
  interface-definitions/include/firewall/default-action-bridge.xml.i
  interface-definitions/include/firewall/default-action.xml.i
  interface-definitions/include/firewall/firewall-mark.xml.i
  interface-definitions/include/firewall/log.xml.i
  interface-definitions/include/firewall/match-interface.xml.i
  interface-definitions/include/firewall/match-vlan.xml.i
  interface-definitions/include/firewall/offload-target.xml.i
  interface-definitions/include/firewall/state.xml.i
  interface-definitions/include/firewall/synproxy.xml.i
  interface-definitions/include/firewall/tcp-flags.xml.i
  interface-definitions/include/firewall/tcp-mss.xml.i
  op-mode-definitions/show-log.xml.in
  python/vyos/firewall.py
  python/vyos/template.py
  smoketest/scripts/cli/test_firewall.py
  smoketest/scripts/cli/test_system_flow-accounting.py
  src/conf_mode/firewall.py
  src/conf_mode/load-balancing_wan.py
  src/conf_mode/nat.py
  src/conf_mode/nat66.py
  src/conf_mode/system_flow-accounting.py
  src/op_mode/firewall.py
Labels: sagitta

#2869 sflow: T5968: add VRF support
  data/templates/sflow/override.conf.j2
  interface-definitions/system_sflow.xml.in
  smoketest/scripts/cli/test_system_sflow.py
  src/conf_mode/system_sflow.py
Labels: current

#2873 T5957: fix removal of interface in firewall rules.
  python/vyos/firewall.py
Labels: current

#2867 ethernet: T4638: add smoketests verifying there are no stale VLAN interfaces left
  smoketest/scripts/cli/test_interfaces_ethernet.py
Labels: current

#2871 op-mode: T5969: list multicast group membership
  data/op-mode-standardized.json
  op-mode-definitions/multicast-group.xml.in
  op-mode-definitions/show-ip-multicast.xml.in
  src/op_mode/multicast.py
Labels: current

#2879 dhcp: T5787: Allow disabled duplicates on static-mapping
  smoketest/scripts/cli/test_service_dhcp-server.py
  src/conf_mode/service_dhcp-server.py
Labels: current

#2878 op-mode: T5975: add missing 2FA OTP commands and other op-mode permission fixes
  op-mode-definitions/show-system.xml.in
  src/op_mode/mtr.py
  src/op_mode/otp.py
  src/op_mode/show_techsupport_report.py
  src/op_mode/zone.py
Labels: sagitta

#2880 dhcp: T5787: Allow disabled duplicates on static-mapping (backport)
  smoketest/scripts/cli/test_service_dhcp-server.py
  src/conf_mode/service_dhcp-server.py
Labels: sagitta

#2881 ethernet: T5978: hw-tc-offload does not actually get enabled on the NIC
  python/vyos/ifconfig/ethernet.py
Labels: current

#2884 bfd: T5967: add minimum-ttl option
  data/templates/frr/bfdd.frr.j2
  interface-definitions/include/bfd/common.xml.i
  smoketest/scripts/cli/test_protocols_bfd.py
  src/conf_mode/protocols_bfd.py
Labels: current

#2886 system-option: T5979: Add configurable kernel boot options
  data/templates/grub/grub_vyos_version.j2
  interface-definitions/system_option.xml.in
  python/vyos/system/compat.py
  python/vyos/system/grub.py
  python/vyos/system/grub_util.py
  python/vyos/system/image.py
  src/conf_mode/system_option.py
Labels: current

#2893 image-tools: T5983: fix regression in prune_vyos_versions
  python/vyos/system/compat.py
Labels: current

#2899 remote: T5994: fix typo in check_storage for Ftp class
  python/vyos/remote.py
Labels: current

#2898 image-tools: T5988: validate image name in add_image
  src/op_mode/image_installer.py
Labels: current

#2902 https: T6000: fix error in migration of path https certbot
  src/migration-scripts/https/5-to-6
Labels: current

#2877 vrf: T5973: multiple bugfixes and improvements
  data/templates/firewall/nftables-vrf-zones.j2
  data/vyos-firewall-init.conf
  src/conf_mode/vrf.py
Labels: current

#2906 rpki: T6003: Add 'show rpki as-number' and 'show rpki prefix'
  op-mode-definitions/rpki.xml.in
Labels: current

#2908 reverse-proxy: T5999: Allow root for exact match in backend rule URL
  interface-definitions/include/haproxy/rule-backend.xml.i
Labels: current

#2910 T5254: Deleted extra file git
  git
Labels: current
