Repository vyos/vyos-1x, pull requests merged in 2024-08, with the labels that each got.

#3919 T5657: Add VRF support for zabbix-agent
  data/templates/zabbix-agent/10-override.conf.j2
  interface-definitions/service_monitoring_zabbix-agent.xml.in
Labels: current

#3903 T6617: T6618: vpn ipsec remote-access: fix profile generators
  data/templates/ipsec/ios_profile.j2
  data/templates/ipsec/windows_profile.j2
  src/op_mode/ikev2_profile_generator.py
Labels: current

#3221 T5873: ipsec remote access VPN: support VTI interfaces.
  data/templates/ipsec/swanctl.conf.j2
  data/templates/ipsec/swanctl/remote_access.j2
  interface-definitions/include/ipsec/bind.xml.i
  interface-definitions/vpn_ipsec.xml.in
  python/vyos/ifconfig/vti.py
  python/vyos/utils/vti_updown_db.py
  smoketest/scripts/cli/test_interfaces_vti.py
  smoketest/scripts/cli/test_vpn_ipsec.py
  src/conf_mode/vpn_ipsec.py
  src/etc/ipsec.d/vti-up-down
Labels: current

#3927 nat64: T6627: call check_kmod within standard config function
  src/conf_mode/nat64.py
Labels: current

#3930 T6486: use data-ciphers instead of ncp-ciphers in "run generate openvpn client-config"
  src/op_mode/generate_ovpn_client_file.py
Labels: current

#3916 T6619: Remove the remaining uses of per-protocol FRR configs
  data/templates/frr/static_mcast.frr.j2
  smoketest/scripts/cli/test_protocols_static_multicast.py
  src/conf_mode/protocols_static_multicast.py
Labels: backport, current

#3932 T6629: call check_kmod within a standard config function
  src/conf_mode/interfaces_l2tpv3.py
  src/conf_mode/interfaces_wireguard.py
  src/conf_mode/interfaces_wireless.py
  src/conf_mode/nat.py
  src/conf_mode/nat66.py
Labels: current

#3933 T6632: add missing standard functions to config scripts
  src/conf_mode/interfaces_wireguard.py
  src/conf_mode/system_acceleration.py
  src/tests/test_configd_inspect.py
Labels: current

#3939 T5873: T6619: remove unused imports
  src/conf_mode/protocols_static_multicast.py
  src/conf_mode/vpn_ipsec.py
Labels: current

#3637 firewall: T4694: Adding GRE flags & fields matches to firewall rules
  interface-definitions/include/firewall/common-rule-inet.xml.i
  interface-definitions/include/firewall/gre.xml.i
  python/vyos/firewall.py
  smoketest/scripts/cli/test_firewall.py
  src/conf_mode/firewall.py
Labels: current

#3942 T6560: T4694: T6555: multiple minor bugfixes for package build
  .github/workflows/package-smoketest.yml
  interface-definitions/include/firewall/gre.xml.i
  smoketest/scripts/cli/test_interfaces_openvpn.py
Labels: current

#3947 smoketest: T6555: openvpn: NameError: name 'elf' is not defined
  smoketest/scripts/cli/test_interfaces_openvpn.py
Labels: current

#3944 T6634: README: Add image graphs of contributors
  README.md
Labels: current

#3945 sysctl: T3204: restore sysctl settings overwritten by tuned
  data/config-mode-dependencies/vyos-1x.json
  smoketest/scripts/cli/test_system_option.py
  src/conf_mode/system_ip.py
  src/conf_mode/system_ipv6.py
  src/conf_mode/system_option.py
Labels: current

#3946 smoketest: T6614: add op-mode test for Kernel version
  smoketest/scripts/cli/test_op-mode_show.py
  smoketest/scripts/cli/test_service_stunnel.py
Labels: current

#3949 T6637: py files filter added for unused import check
  .github/workflows/check-unused-imports.yml
Labels: backport, current

#3941 T6619: remove unused imports
  src/conf_mode/protocols_static_multicast.py
Labels: circinus

#3955 configd: T6640: enforce in_session returns False under configd
  python/vyos/configsource.py
  src/services/vyos-configd
Labels: current

#3960 qos: T6638: require interface state existence in verify conditional
  python/vyos/configverify.py
  src/conf_mode/qos.py
Labels: backport, current

#3964 T6643: firewall: fix ip address range parsing on firewall rules.
  python/vyos/firewall.py
  smoketest/scripts/cli/test_firewall.py
Labels: backport, current

#3965 T6637: add pr commenting back in un-used import check
  .github/workflows/check-unused-imports.yml
Labels: current

#3961 configverify: T6642: verify_interface_exists requires config_dict arg
  python/vyos/config.py
  python/vyos/configverify.py
  src/conf_mode/firewall.py
  src/conf_mode/interfaces_ethernet.py
  src/conf_mode/interfaces_wwan.py
  src/conf_mode/policy_local-route.py
  src/conf_mode/protocols_igmp-proxy.py
  src/conf_mode/protocols_isis.py
  src/conf_mode/protocols_mpls.py
  src/conf_mode/protocols_ospf.py
  src/conf_mode/protocols_ospfv3.py
  src/conf_mode/protocols_pim.py
  src/conf_mode/protocols_pim6.py
  src/conf_mode/qos.py
  src/conf_mode/service_broadcast-relay.py
  src/conf_mode/service_conntrack-sync.py
  src/conf_mode/service_dns_dynamic.py
  src/conf_mode/service_ipoe-server.py
  src/conf_mode/service_mdns_repeater.py
  src/conf_mode/service_ndp-proxy.py
  src/conf_mode/service_ntp.py
  src/conf_mode/service_pppoe-server.py
  src/conf_mode/service_salt-minion.py
  src/conf_mode/system_flow-accounting.py
  src/conf_mode/system_option.py
  src/conf_mode/vpn_ipsec.py
Labels: current

#3937 configd: T6633: inject missing env vars for configfs utility
  src/services/vyos-configd
  src/shim/vyshim.c
Labels: current

#3970 T6648: dhcpv6-server: align stateless DHCPv6 options with stateful
  interface-definitions/include/dhcp/option-v6.xml.i
  interface-definitions/include/version/dhcpv6-server-version.xml.i
  interface-definitions/service_dhcpv6-server.xml.in
  python/vyos/template.py
  src/migration-scripts/dhcpv6-server/5-to-6
Labels: current

#3958 suricata: T6624: Make it possible for suricata address groups to reference each other
  src/conf_mode/service_suricata.py
Labels: current

#3971 xml: T6650: add initial op-mode cache support
  .gitignore
  Makefile
  python/vyos/defaults.py
  python/vyos/xml_ref/__init__.py
  python/vyos/xml_ref/generate_op_cache.py
  python/vyos/xml_ref/op_definition.py
Labels: current

#3981 T6646: conntrack: in ignore rules, if protocols=all, do not append it to the rule
  python/vyos/template.py
  smoketest/scripts/cli/test_system_conntrack.py
Labels: current

#3980 op_mode: T6651: Add a top level op mode word "execute"
  op-mode-definitions/execute.xml.in
  python/vyos/opmode.py
  src/opt/vyatta/etc/shell/level/users/allowed-op
  src/opt/vyatta/etc/shell/level/users/allowed-op.in
Labels: current

#3982 T6636: firewall: fix firewall template in order print logs for default-action
  data/templates/firewall/nftables.j2
  smoketest/scripts/cli/test_firewall.py
Labels: current

#3988 T5794: firewall: change firewall priority in oder to be loaded after all interfaces
  interface-definitions/firewall.xml.in
Labels: current

#3989 utils: T6658: fix write_file check in case of empty directory path
  python/vyos/utils/file.py
Labels: backport, current

#3987 ipoe_server: T6649: Accel-ppp separate vlan-mon from listen interfaces
  data/templates/accel-ppp/ipoe.config.j2
  data/templates/accel-ppp/pppoe.config.j2
  interface-definitions/include/accel-ppp/vlan-mon.xml.i
  interface-definitions/include/version/ipoe-server-version.xml.i
  interface-definitions/include/version/pppoe-server-version.xml.i
  interface-definitions/service_ipoe-server.xml.in
  interface-definitions/service_pppoe-server.xml.in
  smoketest/scripts/cli/test_service_ipoe-server.py
  smoketest/scripts/cli/test_service_pppoe-server.py
  src/conf_mode/service_ipoe-server.py
  src/conf_mode/service_pppoe-server.py
  src/migration-scripts/ipoe-server/3-to-4
  src/migration-scripts/pppoe-server/10-to-11
Labels: current

#3992 T6659: suricata: use unique cluster_id per interface
  data/templates/ids/suricata.j2
Labels: current

#3997 op_mode: T3961: Generate PKI expect 2 character country code
  src/op_mode/pki.py
Labels: backport, current

#3977 T5743: HTTPS API ability to import PKI certificates
  data/templates/https/nginx.default.j2
  python/vyos/configsession.py
  python/vyos/pki.py
  src/op_mode/pki.py
  src/services/vyos-http-api-server
Labels: current

#3975 T6183: interfaces openvpn: suppport specifying IP protocol version
  data/templates/openvpn/server.conf.j2
  interface-definitions/interfaces_openvpn.xml.in
  smoketest/scripts/cli/test_interfaces_openvpn.py
  src/conf_mode/interfaces_openvpn.py
Labels: current

#4001 op_mode: T6668: Add detailed statistics infomartion about MACsec
  op-mode-definitions/show-interfaces-macsec.xml.in
Labels: current

#4003 T6561: Add vrf aware for show ntp
  op-mode-definitions/ntp.xml.in
  src/op_mode/ntp.py
Labels: backport, current

#4002 dhclient: T6667: Added workaround for communication with FRR
  src/etc/dhcp/dhclient-enter-hooks.d/03-vyos-ipwrapper
Labels: current

#4015 T6671: defer config dependency if scheduled in priority queue
  python/vyos/configdep.py
  python/vyos/configdiff.py
  python/vyos/utils/dict.py
  python/vyos/xml_ref/__init__.py
  python/vyos/xml_ref/definition.py
  smoketest/scripts/cli/test_config_dependency.py
  src/services/vyos-configd
Labels: backport, current

#4019 T6678: added darker ruff linting workflow
  .github/workflows/lint-with-darker-ruff.yml
Labels: current
