Repository vyos/vyos-1x, pull requests merged in 2024-04, with the labels that each got.

#3222 T6178: Check that certificate exists during reverse-proxy commit
  smoketest/scripts/cli/test_load-balancing_reverse-proxy.py
  src/conf_mode/load-balancing_reverse-proxy.py
Labels: current

#3224 dhcpv6-client: T2590: fix vyos-hostsd update for nameserver and search domains
  data/templates/dhcp-client/dhcp6c-script.j2
  data/templates/dhcp-client/ipv6.j2
  python/vyos/ifconfig/interface.py
  src/etc/dhcp/dhclient-enter-hooks.d/04-vyos-resolvconf
Labels: current

#3223 system: T6193: invalid warning "is not a DHCP interface but uses DHCP name-server option"
  src/conf_mode/system_host-name.py
Labels: current

#3167 T6150: Fixed setting a static IP address by Radius in IPoE
  data/templates/accel-ppp/ipoe.config.tmpl
  interface-definitions/include/accel-ppp/gateway-address-multi.xml.i
  interface-definitions/service_ipoe-server.xml.in
  src/conf_mode/service_ipoe-server.py
Labels: equuleus

#3212 bgp: T6151: Allow configuration of disable-ebgp-connected-route-check
  data/templates/frr/bgpd.frr.j2
  interface-definitions/include/bgp/neighbor-disable-connected-check.xml.i
  interface-definitions/include/bgp/protocol-common-config.xml.i
  smoketest/scripts/cli/test_protocols_bgp.py
Labels: current

#3232 T6196: Fixed applying parameters for aggregation in BGP
  data/templates/frr/bgpd.frr.j2
  smoketest/scripts/cli/test_protocols_bgp.py
Labels: current

#3230 firewall: nat: policy: vrf: nft call syntax and import cleanup
  python/vyos/firewall.py
  python/vyos/ifconfig/interface.py
  src/conf_mode/firewall.py
  src/conf_mode/nat.py
  src/conf_mode/nat66.py
  src/conf_mode/policy_route.py
  src/conf_mode/protocols_nhrp.py
  src/conf_mode/system_conntrack.py
  src/conf_mode/vrf.py
  src/helpers/vyos-domain-resolver.py
  src/init/vyos-router
Labels: current

#3236 configverify: T6198: add common helper for PKI certificate validation
  python/vyos/configverify.py
  smoketest/scripts/cli/test_vpn_openconnect.py
  src/conf_mode/interfaces_ethernet.py
  src/conf_mode/load-balancing_reverse-proxy.py
  src/conf_mode/service_https.py
  src/conf_mode/vpn_openconnect.py
  src/conf_mode/vpn_sstp.py
Labels: current

#3239 T6068: T6171: change <fail-over> node to <high-availability>; add <mode> parameter
  data/templates/dhcp-server/dhcpd.conf.j2
  interface-definitions/include/version/dhcp-server-version.xml.i
  interface-definitions/service_dhcp-server.xml.in
  smoketest/scripts/cli/test_service_dhcp-server.py
  src/conf_mode/service_dhcp-server.py
  src/migration-scripts/dhcp-server/7-to-8
Labels: sagitta

#3242 T6166: Tech support generation error for custom output location
  src/op_mode/generate_tech-support_archive.py
Labels: current

#3214 T6068: dhcp-server: add command <set service dhcp-server high-availability mode>
  interface-definitions/service_dhcp-server.xml.in
  python/vyos/template.py
  smoketest/scripts/cli/test_service_dhcp-server.py
  src/conf_mode/service_dhcp-server.py
Labels: current

#3238 bgp: T5943: BGP Peer-group members must be all internal or all external
  smoketest/scripts/cli/test_protocols_bgp.py
  src/conf_mode/protocols_bgp.py
Labels: current

#3246 T6199: drop unused Python imports from graphql source
  .github/workflows/unused-imports.yml
  Makefile
  src/services/api/graphql/generate/composite_function.py
  src/services/api/graphql/graphql/auth_token_mutation.py
  src/services/api/graphql/graphql/directives.py
  src/services/api/graphql/graphql/mutations.py
  src/services/api/graphql/graphql/queries.py
  src/services/api/graphql/libs/op_mode.py
  src/services/api/graphql/session/composite/system_status.py
  src/services/api/graphql/session/session.py
Labels: current

#3244 T6197: Fixed usage ipoe interface client-subnet without pools
  python/vyos/accel_ppp_util.py
Labels: current

#3249 ospf: T6089: fix invalid "ospf passive-interface default"
  smoketest/config-tests/ospf-simple
  smoketest/configs/ospf-simple
  src/migration-scripts/ospf/0-to-1
Labels: current

#3252 T6204: cleanup shebang lines
  python/vyos/accel_ppp.py
  python/vyos/cpu.py
  python/vyos/firewall.py
  python/vyos/nat.py
  python/vyos/pki.py
  python/vyos/tpm.py
Labels: current

#3253 T6204: cleanup shebang lines
  python/vyos/accel_ppp.py
  python/vyos/cpu.py
  python/vyos/firewall.py
  python/vyos/nat.py
  python/vyos/pki.py
Labels: sagitta

#3250 dhcpv6-client: T2590: fix vyos-hostsd update for nameserver and search domains (backport #3224)
  data/templates/dhcp-client/dhcp6c-script.j2
  data/templates/dhcp-client/ipv6.tmpl
  python/vyos/ifconfig/interface.py
  src/etc/dhcp/dhclient-enter-hooks.d/04-vyos-resolvconf
Labels: backport, equuleus

#3256 conntrack-sync: T1244: Support for StartupResync in conntrackd
  data/templates/conntrackd/conntrackd.conf.tmpl
  interface-definitions/service_conntrack-sync.xml.in
Labels: equuleus

#3255 T6203: remove obsoleted xml lib
  python/vyos/xml/.gitignore
  python/vyos/xml/__init__.py
  python/vyos/xml/cache/__init__.py
  python/vyos/xml/definition.py
  python/vyos/xml/generate.py
  python/vyos/xml/kw.py
  python/vyos/xml/load.py
  python/vyos/xml/test_xml.py
  src/op_mode/otp.py
Labels: current

#3219 T6188: add description to show firewall
  op-mode-definitions/firewall.xml.in
  src/op_mode/firewall.py
Labels: current

#3260 T6199: remove unused Python imports from migration scripts
  Makefile
  src/migration-scripts/conntrack/2-to-3
  src/migration-scripts/dhcp-server/9-to-10
  src/migration-scripts/dhcpv6-server/3-to-4
  src/migration-scripts/firewall/10-to-11
  src/migration-scripts/firewall/11-to-12
  src/migration-scripts/firewall/12-to-13
  src/migration-scripts/firewall/7-to-8
  src/migration-scripts/firewall/8-to-9
  src/migration-scripts/firewall/9-to-10
  src/migration-scripts/interfaces/26-to-27
  src/migration-scripts/interfaces/27-to-28
  src/migration-scripts/interfaces/28-to-29
  src/migration-scripts/interfaces/29-to-30
  src/migration-scripts/ipoe-server/1-to-2
  src/migration-scripts/ipoe-server/2-to-3
  src/migration-scripts/ipsec/11-to-12
  src/migration-scripts/ipsec/12-to-13
  src/migration-scripts/ipsec/7-to-8
  src/migration-scripts/ipsec/9-to-10
  src/migration-scripts/l2tp/2-to-3
  src/migration-scripts/l2tp/3-to-4
  src/migration-scripts/l2tp/4-to-5
  src/migration-scripts/l2tp/5-to-6
  src/migration-scripts/l2tp/6-to-7
  src/migration-scripts/l2tp/7-to-8
  src/migration-scripts/l2tp/8-to-9
  src/migration-scripts/openconnect/0-to-1
  src/migration-scripts/policy/4-to-5
  src/migration-scripts/policy/5-to-6
  src/migration-scripts/policy/6-to-7
  src/migration-scripts/pppoe-server/1-to-2
  src/migration-scripts/pppoe-server/3-to-4
  src/migration-scripts/pppoe-server/6-to-7
  src/migration-scripts/pppoe-server/7-to-8
  src/migration-scripts/pppoe-server/8-to-9
  src/migration-scripts/pptp/2-to-3
  src/migration-scripts/pptp/3-to-4
  src/migration-scripts/pptp/4-to-5
  src/migration-scripts/snmp/2-to-3
  src/migration-scripts/sstp/0-to-1
  src/migration-scripts/sstp/3-to-4
  src/migration-scripts/sstp/4-to-5
  src/migration-scripts/sstp/5-to-6
  src/migration-scripts/system/15-to-16
  src/migration-scripts/system/16-to-17
  src/migration-scripts/system/19-to-20
  src/migration-scripts/system/20-to-21
  src/migration-scripts/system/21-to-22
  src/migration-scripts/system/22-to-23
  src/migration-scripts/system/23-to-24
Labels: current

#3257 conntrack-sync: T1244: Change name for option startup-resync
  data/templates/conntrackd/conntrackd.conf.tmpl
  interface-definitions/service_conntrack-sync.xml.in
Labels: equuleus

#3254 conntrack-sync: T1244: Support for StartupResync in conntrackd
  data/templates/conntrackd/conntrackd.conf.j2
  interface-definitions/service_conntrack-sync.xml.in
Labels: current

#3266 T6199: start validating smoketests against real CLI defaultValues
  smoketest/scripts/cli/test_interfaces_pppoe.py
  smoketest/scripts/cli/test_interfaces_wireless.py
  smoketest/scripts/cli/test_service_https.py
  smoketest/scripts/cli/test_service_ssh.py
Labels: current

#3263 ipoe: T6205: error in migration script logic while renaming mac-address to mac node
  smoketest/config-tests/ipoe-server
  smoketest/configs/ipoe-server
  src/conf_mode/service_ipoe-server.py
  src/migration-scripts/ipoe-server/0-to-1
  src/migration-scripts/ipoe-server/1-to-2
Labels: current

#3269 container: T6208: rename "cap-add" CLI node to "capability"
  interface-definitions/container.xml.in
  interface-definitions/include/version/container-version.xml.i
  smoketest/config-tests/container-simple
  smoketest/configs/container-simple
  src/conf_mode/container.py
  src/migration-scripts/container/1-to-2
Labels: current

#3272 container: T6208: fix AttributeError: 'ConfigDict' object has no attribute 'upper'
  src/conf_mode/container.py
Labels: current

#3270 login: T5875: fix corner case for KeyError: 'getpwuid(): uid not found: XXXX'
  src/conf_mode/system_login.py
Labels: current

#3265 ethernet: T5862: default MTU is not acceptable in some environments
  interface-definitions/include/interface/mtu-68-16000.xml.i
  interface-definitions/interfaces_bonding.xml.in
  interface-definitions/interfaces_bridge.xml.in
  interface-definitions/interfaces_dummy.xml.in
  interface-definitions/interfaces_vti.xml.in
  interface-definitions/interfaces_wireguard.xml.in
  python/vyos/configverify.py
  smoketest/scripts/cli/base_interfaces_test.py
  src/conf_mode/interfaces_ethernet.py
Labels: current

#3277 kea: T3316: T6163: Ensure correct permissions on lease files
  src/conf_mode/service_dhcp-server.py
  src/conf_mode/service_dhcpv6-server.py
Labels: current

#3278 T6207: restore ability to copy config.boot.default on image install
  python/vyos/utils/io.py
  src/op_mode/image_installer.py
Labels: current

#3280 T5858: Fix op-mode format for show conntrack statistics
  src/op_mode/conntrack.py
Labels: current

#3283 T6199: add missing build dependency
  debian/control
Labels: current

#3259 container: T6210: add capability sys-nice
  interface-definitions/container.xml.in
Labels: current

#3286 container: T6218: fix host IPv6 link-local address for VRF networks
  src/conf_mode/container.py
Labels: current

#3281 T6214: T6213: change constraint <alpha-numeric-hyphen-underscore-dot.xml.i>
  interface-definitions/firewall.xml.in
  interface-definitions/include/constraint/alpha-numeric-hyphen-underscore-dot.xml.i
Labels: current

#3292 T6222: VRRP show prefix for long rfc3768-compatibility interfaces allow prefix vrrp
  python/vyos/ifconfig/section.py
Labels: current

#2708 T5871: ipsec remote access VPN: specify "cacerts" for client auth
  data/templates/ipsec/swanctl/remote_access.j2
  smoketest/scripts/cli/test_vpn_ipsec.py
Labels: current

#3296 pppoe-server: T6141: T5364: PPPoE-server add pado-delay without sessions fails
  data/templates/accel-ppp/pppoe.config.j2
  smoketest/scripts/cli/test_service_pppoe-server.py
  src/conf_mode/service_pppoe-server.py
Labels: current

#3300 T6235: Git update actions-label-merge-conflict version
  .github/workflows/pr-conflicts.yml
Labels: current

#3302 T5872: fix ipsec dhclient hook uses "exit" instead of "return"
  src/etc/dhcp/dhclient-exit-hooks.d/99-ipsec-dhclient-hook
Labels: current

#3291 T6100: Added NAT migration from IP/Netmask to Network/Netmask
  src/migration-scripts/nat/5-to-6
Labels: current

#3297 qos: T6035: QoS policy shaper queue-type random-detect requires limit avpkt
  interface-definitions/include/qos/queue-average-packet.xml.i
  interface-definitions/include/qos/queue-mark-probability.xml.i
  interface-definitions/include/qos/queue-maximum-threshold.xml.i
  interface-definitions/include/qos/queue-minimum-threshold.xml.i
  interface-definitions/qos.xml.in
  python/vyos/qos/base.py
  smoketest/scripts/cli/test_qos.py
Labels: current

#3308 T5734: OpenVPN check PKI DH name exists if DH configured
  src/conf_mode/interfaces_openvpn.py
Labels: current

#3309 T5535: firewall: migrate command <set system ip disable-directed-broadcast> to firewall global-optinos
  interface-definitions/include/firewall/global-options.xml.i
  interface-definitions/include/version/firewall-version.xml.i
  interface-definitions/system_ip.xml.in
  smoketest/scripts/cli/test_firewall.py
  smoketest/scripts/cli/test_system_ip.py
  src/conf_mode/firewall.py
  src/conf_mode/system_ip.py
  src/migration-scripts/firewall/14-to-15
Labels: current

#3311 pki: T6241: Fix dependency updates on PKI changes
  src/conf_mode/pki.py
Labels: current

#3315 T6242: load-balancing reverse-proxy: Ability for ssl backends to not verify server certificates
  data/templates/load-balancing/haproxy.cfg.j2
  interface-definitions/load-balancing_reverse-proxy.xml.in
  smoketest/scripts/cli/test_load-balancing_reverse-proxy.py
  src/conf_mode/load-balancing_reverse-proxy.py
Labels: current

#3313 T5722: Failover route add option onlink
  interface-definitions/protocols_failover.xml.in
  src/helpers/vyos-failover.py
Labels: current

#3317 pppoe-server: T6141: T5364: PPPoE-server add pado-delay without sessions fails
  data/templates/accel-ppp/pppoe.config.tmpl
  smoketest/scripts/cli/test_service_pppoe-server.py
  src/conf_mode/service_pppoe-server.py
Labels: equuleus

#3321 image-tools: T6154: installer prompts to confirm password
  python/vyos/utils/io.py
  src/op_mode/image_installer.py
Labels: current

#3320 T6191: do not append action policy route|route6 when its not specified
  python/vyos/firewall.py
Labels: current

#3327 pki: T6241: do not call dependency before its initialization
  src/conf_mode/pki.py
Labels: current

#3326 T6221: Return default ip rule values after deleting VRF
  src/conf_mode/vrf.py
Labels: current

#3330 openvpn: T6245: return 'n/a' if client info not available
  src/op_mode/openvpn.py
Labels: current

#3325 T6246: basic haproxy http-check configuration
  Pipfile.lock
  data/templates/load-balancing/haproxy.cfg.j2
  interface-definitions/load-balancing_reverse-proxy.xml.in
  smoketest/scripts/cli/test_load-balancing_reverse-proxy.py
Labels: current

#3333 GRE : T6252: fix issues when set mtu higher than 8024
  interface-definitions/interfaces_tunnel.xml.in
Labels: current

#3338 T6246: improve haproxy http check configuration
  data/templates/load-balancing/haproxy.cfg.j2
  interface-definitions/load-balancing_reverse-proxy.xml.in
  smoketest/scripts/cli/test_load-balancing_reverse-proxy.py
  src/conf_mode/load-balancing_reverse-proxy.py
Labels: current

#3337 T6237: IPSec remote access VPN: ability to set EAP ID of clients
  data/templates/ipsec/swanctl/remote_access.j2
  interface-definitions/vpn_ipsec.xml.in
  smoketest/scripts/cli/test_vpn_ipsec.py
Labels: current

#3339 xml: T5738: fix typo in radius-additions.xml.i
  interface-definitions/include/accel-ppp/radius-additions.xml.i
Labels: current

#3347 connect_disconnect: T6261: correction to typo in check_ppp_running
  src/op_mode/connect_disconnect.py
Labels: current

#3346 image-tools: T6260: remove persistence image directory if no space error
  src/op_mode/image_installer.py
Labels: current

#3342 T6226: add HAPROXY tcp-request related block to load-balancing reverse proxy config
  data/templates/load-balancing/haproxy.cfg.j2
  interface-definitions/include/haproxy/tcp-request.xml.i
  interface-definitions/load-balancing_reverse-proxy.xml.in
  smoketest/scripts/cli/test_load-balancing_reverse-proxy.py
Labels: current

#3355 T6109: Fix remote logging for sudo commands
  src/etc/rsyslog.conf
Labels: current

#3340 T6255: static-routing: don't render whitespace from static table descriptions
  data/templates/iproute2/static.conf.j2
Labels: current

#3351 GitHub actions update for sagitta
  .github/workflows/mergifyio_backport.yml
  .github/workflows/pull-request-labels.yml
Labels: sagitta

#3345 PKI: T6259: Support RFC822 names in certificate generation
  python/vyos/pki.py
  src/op_mode/pki.py
Labels: current

#3359 T5833: Not all AFIs compatible with VRF add verify check
  src/conf_mode/protocols_bgp.py
Labels: current

#3361 T6258: Add sysctl base-reachable-time for IPv6
  interface-definitions/include/interface/base-reachable-time.xml.i
  interface-definitions/include/interface/ipv6-options.xml.i
  python/vyos/ifconfig/interface.py
Labels: current

#3316 qos: T4248: Allow to remove the only rule from the qos class
  python/vyos/qos/base.py
  smoketest/scripts/cli/test_qos.py
  src/conf_mode/qos.py
Labels: current

#3363 T6263: Groups 224.0.0.0/24 are reserved and cannot be joined
  src/conf_mode/protocols_pim.py
Labels: current

#3372 configdep: T6276: do not call dependencies on script error
  src/services/vyos-configd
Labels: current

#3373 T5660: Remove redundant calls to config dependency scripts
  python/vyos/configdep.py
  src/services/vyos-configd
  src/shim/vyshim.c
Labels: sagitta

#3375 T6272: Changed interface existence verification in pppoe/ipoe to Warning
  src/conf_mode/service_ipoe-server.py
  src/conf_mode/service_pppoe-server.py
Labels: current

#3374 T6273: Allowed the use of "-" and "_" in PPPoE access-concentrator name
  interface-definitions/include/pppoe-access-concentrator.xml.i
Labels: current

#3379 T6169: DNS forwarding should allow underscore for srv record
  interface-definitions/service_dns_forwarding.xml.in
Labels: current
