Repository vyos/vyos-1x, pull requests merged in 2024-09, with the labels that each got.

#4022 T6681: Add option for SLAAC to support suppress Interval Advertisement in RA Packets
  data/templates/router-advert/radvd.conf.j2
  interface-definitions/service_router-advert.xml.in
  smoketest/scripts/cli/test_service_router-advert.py
Labels: backport, current

#4018 T6647: firewall. Introduce patch for accepting invalid ARP and DHCP
  data/templates/firewall/nftables.j2
  interface-definitions/include/firewall/common-rule-bridge.xml.i
  interface-definitions/include/firewall/global-options.xml.i
  interface-definitions/include/firewall/match-ether-type.xml.i
  python/vyos/firewall.py
  smoketest/scripts/cli/test_firewall.py
Labels: current

#4029 T4974: add proper dependency on openvpn-dco
  debian/control
Labels: current

#4031 opmode: T6694: move wake-on-lan to "execute wake-on-lan"
  op-mode-definitions/wake-on-lan.xml.in
Labels: current

#4030 T6674: workflow: Add trigger to rebuild repo package
  .github/workflows/trigger-rebuild-repo-package.yml
Labels: current

#4034 container: T6702: re-add missing UNIX API socket
  debian/vyos-1x.postinst
  smoketest/scripts/cli/test_container.py
  src/systemd/podman.service
  src/systemd/podman.socket
Labels: backport, current

#4036 T6674: workflow: Add trigger to rebuild repo package
  .github/workflows/trigger-rebuild-repo-package.yml
Labels: circinus

#4027 T6698: firewall: add matcher for vlan type.
  interface-definitions/include/firewall/common-rule-bridge.xml.i
  interface-definitions/include/firewall/global-options.xml.i
  interface-definitions/include/firewall/match-ether-type.xml.i
  interface-definitions/include/firewall/match-vlan.xml.i
  python/vyos/firewall.py
  smoketest/scripts/cli/test_firewall.py
Labels: current

#4028 T6693: wireless: Enable WiFi-6 (802.11ax) for 2.4GHz AccessPoints
  data/templates/wifi/hostapd.conf.j2
  interface-definitions/interfaces_wireless.xml.in
  smoketest/scripts/cli/test_interfaces_wireless.py
Labels: current

#4023 T6679: add group option for nat66
  data/templates/firewall/nftables-nat66.j2
  interface-definitions/nat66.xml.in
  python/vyos/nat.py
  smoketest/scripts/cli/test_nat66.py
  src/conf_mode/nat66.py
Labels: current

#3896 T6294: Service dns forwarding add the ability to configure ZonetoCache
  data/templates/dns-forwarding/recursor.conf.lua.j2
  interface-definitions/service_dns_forwarding.xml.in
  python/vyos/utils/convert.py
  smoketest/scripts/cli/test_service_dns_forwarding.py
  src/conf_mode/service_dns_forwarding.py
Labels: current

#4032 T6701: Added ability to disable the container DNS plugin
  interface-definitions/container.xml.in
  smoketest/scripts/cli/test_container.py
  src/conf_mode/container.py
Labels: backport, current

#4042 op-mode: T6694: Move some op-mode commands to the "execute" family
  op-mode-definitions/execute-bandwidth-test.xml.in
  op-mode-definitions/execute-shell.xml.in
  op-mode-definitions/execute-wamp.xml.in
  op-mode-definitions/force-netns.xml.in
  op-mode-definitions/force-vrf.xml.in
  op-mode-definitions/telnet.xml.in
  op-mode-definitions/wake-on-lan.xml.in
  src/op_mode/execute_bandwidth_test.sh
Labels: current

#4049 T6674: Use reusable workflow for trigger package build
  .github/workflows/trigger-rebuild-repo-package.yml
Labels: current

#4041 pppoe-server: T6685: Add options to accept any and blank service names
  data/templates/accel-ppp/pppoe.config.j2
  interface-definitions/service_pppoe-server.xml.in
  smoketest/scripts/cli/test_service_pppoe-server.py
Labels: current

#4054 T6711: Fix restart vrrp missed comma between services
  src/op_mode/restart.py
Labels: backport, current

#4046 T6703: Adds option to configure AMD pstate driver
  interface-definitions/system_option.xml.in
  src/conf_mode/system_option.py
Labels: current

#4047 policy: T6676: Invalid route-map caused bgpd to crash
  src/conf_mode/policy.py
Labels: backport, current

#4064 T6674: Rebuild package action use secrets inherit
  .github/workflows/trigger-rebuild-repo-package.yml
Labels: current

#4062 T6693: wireless: add missing country-code for 2.4GHz 802.11ax smoketest
  smoketest/scripts/cli/test_interfaces_wireless.py
Labels: sagitta

#4066 T6674: Actions use pull_request_target to trigger build package
  .github/workflows/trigger-rebuild-repo-package.yml
Labels: current

#4067 T6674: Actions fix variable for trigger build reuse repo
  .github/workflows/trigger-rebuild-repo-package.yml
Labels: current

#4063 T6555: openvpn: fix inclusion of data-ciphers for server bridge test
  smoketest/scripts/cli/test_interfaces_openvpn.py
Labels: sagitta

#4065 op-mode: T6626: Fix for show dhcpv6 server leases
  src/op_mode/dhcp.py
Labels: sagitta

#4070 GitHub: T6494: add TPM tests to ISO integration workflow
  .github/workflows/package-smoketest.yml
Labels: current

#4057 op-mode: T6682: Fix for show vpn ike sa peer that always shows all SAs
  src/op_mode/vpn_ike_sa.py
Labels: current

#4071 op-mode: T6715: manually changing time/date is not synced into hardware clock
  op-mode-definitions/date.xml.in
Labels: backport, current

#4069 bond: T6709: add EAPoL support
  interface-definitions/interfaces_bonding.xml.in
  python/vyos/configverify.py
  python/vyos/ifconfig/interface.py
  smoketest/scripts/cli/base_interfaces_test.py
  smoketest/scripts/cli/test_interfaces_ethernet.py
  src/conf_mode/interfaces_bonding.py
  src/conf_mode/interfaces_ethernet.py
Labels: current

#4020 T861: op-mode: initial parts for UEFI secure boot CLI
  debian/control
  op-mode-definitions/install-mok.xml.in
  op-mode-definitions/show-secure-boot.xml.in
  python/vyos/system/grub.py
  python/vyos/utils/boot.py
  python/vyos/utils/system.py
  src/etc/sudoers.d/vyos
  src/op_mode/secure_boot.py
  src/op_mode/version.py
Labels: current

#4077 T6716: don't automatically set ethernet offload
  src/activation-scripts/20-ethernet_offload.py
Labels: backport, current

#4083 T6674: Action add trigger workflow to rebuild package
  .github/workflows/trigger-rebuild-repo-package.yml
Labels: sagitta

#4084 T6723: firewall: extend op-mode commands
  op-mode-definitions/firewall.xml.in
  op-mode-definitions/show-log.xml.in
Labels: current

#4061 syslog: T5367: add format option to include timezone in message
  data/templates/rsyslog/rsyslog.conf.j2
  interface-definitions/system_syslog.xml.in
  src/conf_mode/system_syslog.py
Labels: current

#4087 wireless: T6709: fix missing wpa_supplicant configuration
  python/vyos/ifconfig/bond.py
  python/vyos/ifconfig/ethernet.py
  python/vyos/ifconfig/interface.py
Labels: backport, current

#4090 http-api: T6326: return full warning/error output through api
  src/services/vyos-configd
  src/services/vyos-http-api-server
  src/shim/vyshim.c
Labels: current

#4089 op-mode: T4833: Include wireguard peer name in interface summary report
  op-mode-definitions/show-interfaces-wireguard.xml.in
  python/vyos/ifconfig/wireguard.py
  src/op_mode/interfaces_wireguard.py
Labels: current

#4091 lldp: T6727: add missing input validation for interface names
  interface-definitions/service_lldp.xml.in
Labels: backport, current

#4094 ethtool: T6729: drop text based feature parsing in favour of JSON
  debian/control
  python/vyos/ethtool.py
Labels: current

#4086 bridge: T6675: VXLAN Interface configuration lost due to improper bridge detachment
  smoketest/scripts/cli/test_interfaces_bridge.py
  src/conf_mode/interfaces_bridge.py
Labels: current

#4079 syslog: T6719: fix the behavior of "syslog global preserve-fqdn"
  data/templates/rsyslog/rsyslog.conf.j2
  smoketest/scripts/cli/test_system_syslog.py
  src/conf_mode/system_syslog.py
Labels: backport, current

#3876 configd: T6608: report uncaught config script exceptions as commit error
  src/services/vyos-configd
Labels: current

#4099 validators: T6739: fix ipaddrcheck argument quoting
  src/validators/interface-address
  src/validators/ip-address
  src/validators/ip-cidr
  src/validators/ip-host
  src/validators/ip-prefix
  src/validators/ipv4
  src/validators/ipv4-address
  src/validators/ipv4-host
  src/validators/ipv4-multicast
  src/validators/ipv4-prefix
  src/validators/ipv4-range
  src/validators/ipv4-range-mask
  src/validators/ipv6
  src/validators/ipv6-address
  src/validators/ipv6-host
  src/validators/ipv6-multicast
  src/validators/ipv6-prefix
  src/validators/ipv6-srv6-segments
Labels: current

#4104 validators: T6738: Revert "validators: T6739: fix ipaddrcheck argument quoting"
  src/validators/interface-address
  src/validators/ip-address
  src/validators/ip-cidr
  src/validators/ip-host
  src/validators/ip-prefix
  src/validators/ipv4
  src/validators/ipv4-address
  src/validators/ipv4-host
  src/validators/ipv4-multicast
  src/validators/ipv4-prefix
  src/validators/ipv4-range
  src/validators/ipv4-range-mask
  src/validators/ipv6
  src/validators/ipv6-address
  src/validators/ipv6-host
  src/validators/ipv6-multicast
  src/validators/ipv6-prefix
  src/validators/ipv6-srv6-segments
Labels: current

#4105 validators: T6739: correctly quote ipaddrcheck arguments to avoid ipaddrcheck syntax errors when values include whitespace
  src/validators/interface-address
  src/validators/ip-address
  src/validators/ip-cidr
  src/validators/ip-host
  src/validators/ip-prefix
  src/validators/ipv4
  src/validators/ipv4-address
  src/validators/ipv4-host
  src/validators/ipv4-multicast
  src/validators/ipv4-prefix
  src/validators/ipv6
  src/validators/ipv6-address
  src/validators/ipv6-host
  src/validators/ipv6-multicast
  src/validators/ipv6-prefix
Labels: current

#4107 T6749: fix PR commenting permission issue with integration test workflow
  .github/workflows/package-smoketest.yml
Labels: current

#4024 T6687: add fqdn support to nat rules.
  data/templates/firewall/nftables-nat.j2
  interface-definitions/include/nat-rule.xml.i
  python/vyos/firewall.py
  python/vyos/nat.py
  smoketest/scripts/cli/test_nat.py
  src/conf_mode/firewall.py
  src/conf_mode/nat.py
  src/helpers/vyos-domain-resolver.py
  src/systemd/vyos-domain-resolver.service
Labels: current, rebase

#4112 policy: T6751: add missing completion helpers for community-list
  interface-definitions/policy.xml.in
Labels: backport, current

#4106 validators: T6743: use native ipaddrcheck validator options for ranges
  src/validators/ipv4-range
  src/validators/ipv6-range
Labels: current
