Repository vyos/vyos-1x, pull requests merged in 2024-05, with the labels that each got.

#3369 firewall: T6257: Show member information for dynamic groups in op-mode
  src/op_mode/firewall.py
Labels: current

#3386 T6056: Change static-host-mapping should not restart snmpd
  src/conf_mode/system_host-name.py
Labels: current

#3384 T6287: Config-sync add the ability to configure API port
  interface-definitions/service_config-sync.xml.in
  src/helpers/vyos_config_sync.py
Labels: current

#3364 pppoe-server: T6234: PPPoE-server pado-delay refactoring
  data/templates/accel-ppp/pppoe.config.j2
  interface-definitions/include/version/pppoe-server-version.xml.i
  interface-definitions/service_pppoe-server.xml.in
  smoketest/scripts/cli/test_service_pppoe-server.py
  src/conf_mode/service_pppoe-server.py
  src/migration-scripts/pppoe-server/9-to-10
Labels: current

#3390 smoketest: T6199: remove redundant code when unpacking Kernel GZ config
  smoketest/scripts/system/test_kernel_options.py
Labels: current

#3392 bgp: T6189: L3VPN connectivity is broken after re-enabling VRF
  data/configd-include.json
  data/templates/frr/zebra.vrf.route-map.frr.j2
  interface-definitions/vrf.xml.in
  smoketest/scripts/cli/test_vrf.py
  src/conf_mode/protocols_bgp.py
  src/conf_mode/vrf.py
  src/conf_mode/vrf_vni.py
Labels: current

#3367 T6269: policy: ensure correct rule parsing when using, and when not using <set table> option in policy route.
  python/vyos/firewall.py
Labels: current

#3307 ntp: T4909 rewrite NTP op mode in the new format
  op-mode-definitions/ntp.xml.in
  src/op_mode/ntp.py
Labels: current

#3400 qos: T6225: Fix QoS random-detect policy
  python/vyos/qos/base.py
  python/vyos/qos/randomdetect.py
  smoketest/scripts/cli/test_qos.py
  src/conf_mode/qos.py
Labels: current

#3402 pppoe-server: T6234: fix permissions on migration script
  src/migration-scripts/pppoe-server/9-to-10
Labels: sagitta

#3403 netns: T6295: disable incomplete support in VyOS 1.4 sagitta
  data/configd-include.json
  interface-definitions/include/interface/netns.xml.i
  interface-definitions/interfaces_dummy.xml.in
  interface-definitions/netns.xml.in
  op-mode-definitions/force-netns.xml.in
  op-mode-definitions/show-netns.xml.in
  python/vyos/ifconfig/interface.py
  python/vyos/utils/network.py
  smoketest/scripts/cli/test_netns.py
  src/conf_mode/netns.py
Labels: sagitta

#3404 config-sync: T6185: T6146: combined backport of config-sync extensions and priority data
  interface-definitions/service_config-sync.xml.in
  python/vyos/configsession.py
  python/vyos/configtree.py
  python/vyos/priority.py
  python/vyos/xml_ref/generate_cache.py
  src/helpers/priority.py
  src/helpers/vyos_config_sync.py
  src/services/vyos-http-api-server
Labels: sagitta

#3389 T6291: Add LACP related op commands
  op-mode-definitions/show-interfaces-bonding.xml.in
  src/op_mode/bonding.py
Labels: current

#3405 smoketest: T6283: T6250: add testcases
  smoketest/scripts/cli/test_policy.py
Labels: current

#3408 T6291: Add bonding.py to op-mode-standardized.json
  data/op-mode-standardized.json
Labels: current

#3411 T6298: Fix TPM incorrect path for rc_cmd
  python/vyos/tpm.py
Labels: current

#3412 T6307: Add dependency procps to build vyos-1x
  debian/control
Labels: current

#3417 vyos.template: T3664: add a module-level variable for template directory
  python/vyos/template.py
Labels: sagitta

#3419 feat: added codeql caller workflow - workflow dispatch
  .github/workflows/codeql-caller.yml
Labels: current

#3424 T6305: accept ipoe interfaces on firewall ruleset
  interface-definitions/include/firewall/match-interface.xml.i
Labels: current

#3423 op-mode: T6284: IPoE-server op-mode does not show IPv6 address field
  src/op_mode/ipoe-control.py
Labels: current

#3422 bgp: T6082: Allow the same local-as and remote-as in one peer group
  smoketest/scripts/cli/test_protocols_bgp.py
  src/conf_mode/protocols_bgp.py
Labels: current

#3421 T6310: added codeql workflow
  .github/workflows/codeql-caller.yml
  .github/workflows/codeql.yml
Labels: current

#3428 xml: T6319: add util for ancestor owner/priority
  python/vyos/xml_ref/__init__.py
  python/vyos/xml_ref/definition.py
Labels: current

#3431 T6315: updated codeql branch name
  .github/workflows/codeql.yml
Labels: current

#3432 T6316: remove reviewers assignment in workflow as it will done by codeowners file.
  .github/reviewers.yml
  .github/workflows/auto-author-assign.yml
Labels: current

#3433 T6323: openvpn: Correction of help description of "totp digits" option
  interface-definitions/interfaces_openvpn.xml.in
Labels: current

#3435 T6199: remove unused Python pip files
  .gitignore
  Pipfile
  Pipfile.lock
Labels: current

#3436 sstp: T4393: Add support to configure host-name (SNI)
  data/templates/accel-ppp/sstp.config.j2
  interface-definitions/vpn_sstp.xml.in
  smoketest/scripts/cli/test_vpn_sstp.py
Labels: current

#3439 webproxy: T6328: Add a warning message about deprecation of web proxy URL filtering
  src/conf_mode/service_webproxy.py
Labels: sagitta

#3410 Bond: T6303: add system mac address on interfaces bond
  interface-definitions/interfaces_bonding.xml.in
  python/vyos/ifconfig/bond.py
  python/vyos/utils/assertion.py
  smoketest/scripts/cli/test_interfaces_bonding.py
  src/conf_mode/interfaces_bonding.py
Labels: current

#3443 image-tools: T6176: fixes for boot console
  data/templates/grub/grub_compat.j2
  data/templates/grub/grub_options.j2
  op-mode-definitions/system-image.xml.in
  python/vyos/system/compat.py
  src/op_mode/image_installer.py
  src/op_mode/image_manager.py
Labels: current

#3445 image-tools: T6176: addendum to fixes for boot console
  python/vyos/system/compat.py
  src/op_mode/image_installer.py
Labels: current

#3442 T6329: firewall: add a patch for op-mode command <show firewall group>
  src/op_mode/firewall.py
Labels: current

#3447 ethernet: T6306: add support for EVPN MH uplink/core tracking
  interface-definitions/include/interface/evpn-mh-uplink.xml.i
  interface-definitions/interfaces_bonding.xml.in
  interface-definitions/interfaces_ethernet.xml.in
  smoketest/scripts/cli/test_interfaces_ethernet.py
  src/conf_mode/interfaces_ethernet.py
Labels: current

#3451 T6251: Extend table number limits for policy route-map set table
  interface-definitions/policy.xml.in
Labels: current

#3452 T3420: Remove service upnp
  data/configd-include.json
  data/templates/firewall/upnpd.conf.j2
  debian/control
  interface-definitions/service_upnp.xml.in
  smoketest/scripts/cli/test_service_upnp.py
  src/conf_mode/service_upnp.py
  src/systemd/miniupnpd.service
Labels: current

#3454 smoketest: ospf: T4739: add timeout in ldp test
  smoketest/scripts/cli/test_protocols_ospf.py
Labels: current

#3456 op mode: T6339: display build flavor and comment in "show version"
  src/op_mode/version.py
Labels: current

#3450 T5756: L2TP RADIUS backup and weight settings
  data/templates/accel-ppp/config_chap_secrets_radius.j2
  interface-definitions/include/accel-ppp/radius-additions.xml.i
  interface-definitions/include/radius-priority.xml.i
  interface-definitions/system_login.xml.in
  smoketest/scripts/cli/base_accel_ppp_test.py
  smoketest/scripts/cli/test_vpn_l2tp.py
Labels: current

#3457 op mode: T3355: remove the mention of legacy non-image installations
  python/vyos/version.py
Labels: current

#3462 op mode: T4519: Show DUID instead of IAID_DUID
  op-mode-definitions/dhcp.xml.in
  src/op_mode/dhcp.py
Labels: sagitta

#3458 T6335: Add/Update EVPN op commands
  data/op-mode-standardized.json
  op-mode-definitions/include/vni-tagnode-all.xml.i
  op-mode-definitions/include/vni-tagnode.xml.i
  op-mode-definitions/show-evpn.xml.in
  src/completion/list_esi.sh
  src/completion/list_vni.sh
  src/op_mode/evpn.py
Labels: current

#3463 T6347: CGNAT fix error if pool contain dashes in the name
  src/conf_mode/nat_cgnat.py
Labels: current

#3464 T6351: CGNAT add verification if the pool exists
  src/conf_mode/nat_cgnat.py
Labels: current

#3466 T6350: CGNAT add op-mode to show allocation
  data/op-mode-standardized.json
  op-mode-definitions/nat.xml.in
  src/op_mode/cgnat.py
Labels: current

#3473 igmp: T6359: Fixed execution boot priority of the config script
  interface-definitions/protocols-igmp.xml.in
Labels: equuleus

#3472 T6358: Container config option to enable host pid
  interface-definitions/container.xml.in
  smoketest/config-tests/container-simple
  smoketest/configs/container-simple
  src/conf_mode/container.py
Labels: current

#3474 T6354: Get rid of the custom boot type check in version.py
  python/vyos/version.py
Labels: current

#3471 op mode: T6348: SNAT op-mode fails with flowtable offload entries
  src/op_mode/nat.py
Labels: current

#3468 T6349: updated conflict check workflow
  .github/workflows/add-pr-labels.yml
  .github/workflows/auto-author-assign.yml
  .github/workflows/chceck-pr-message.yml
  .github/workflows/check-pr-conflicts.yml
  .github/workflows/check-stale.yml
  .github/workflows/check-unused-imports.yml
  .github/workflows/codeql.yml
  .github/workflows/label-backport.yml
  .github/workflows/linit-j2.yml
  .github/workflows/mergifyio_backport.yml
  .github/workflows/pr-conflicts.yml
  .github/workflows/pull-request-management.yml
  .github/workflows/pull-request-message-check.yml
  .github/workflows/stale.yml
  .github/workflows/unused-imports.yml
  scripts/check-pr-title-and-commit-messages.py
Labels: current

#3480 T6354: do an explicit read from version file to avoid circular reference
  python/vyos/system/image.py
Labels: current

#3479 T5169: Add smoketest for CGNAT
  smoketest/scripts/cli/test_cgnat.py
Labels: current

#3488 T6372: added codeowners
  CODEOWNERS
Labels: current

#3489 op-mode: T6367: fix "force commit-archive" TypeError
  op-mode-definitions/force-commit-archive.xml.in
Labels: backport, current

#3493 T6375: Fix/Update NAT logging
  interface-definitions/nat.xml.in
  op-mode-definitions/show-log.xml.in
  python/vyos/nat.py
Labels: current

#3490 T6366: CGNAT add ability to get external and internal allocations
  op-mode-definitions/nat.xml.in
  src/op_mode/cgnat.py
Labels: current

#3494 T6373: QoS Policy Limiter - classes for marked traffic do not work
  python/vyos/qos/base.py
  smoketest/scripts/cli/test_qos.py
Labels: current

#3499 dhcpv6-server: T3493: adds prefix range validation and fixes typos in…
  src/conf_mode/service_dhcpv6-server.py
Labels: sagitta

#3501 rollback-soft: T6384: tell the user to compare or commit
  python/vyos/config_mgmt.py
Labels: current

#3500 T6378: remove labler yml as it is kept in reusable workflow repo
  .github/labeler.yml
Labels: current

#3482 nat: T6365: remove warnings for negated interface selections by name
  src/conf_mode/nat.py
Labels: current

#3502 vyos.utils.io: T6385: handle keyboard interrupts in ask_yes_no
  python/vyos/utils/io.py
Labels: backport, current

#3508 dhcpv6-server: T6381: fix typos in select ConfigError messages in current
  src/conf_mode/service_dhcpv6-server.py
Labels: current

#3487 reverse-proxy: T6370: Set custom HTTP headers in reverse-proxy responses
  data/templates/load-balancing/haproxy.cfg.j2
  interface-definitions/include/haproxy/http-response-headers.xml.i
  interface-definitions/load-balancing_reverse-proxy.xml.in
  smoketest/scripts/cli/test_load-balancing_reverse-proxy.py
  src/conf_mode/load-balancing_reverse-proxy.py
Labels: current

#3399 suricata: T751: Initial support for suricata
  data/templates/ids/suricata.j2
  data/templates/ids/suricata_logrotate.j2
  debian/control
  interface-definitions/service_suricata.xml.in
  op-mode-definitions/suricata.xml.in
  python/vyos/base.py
  src/conf_mode/service_suricata.py
  src/etc/systemd/system/suricata.service.d/10-override.conf
  src/validators/port-range-exclude
Labels: current

#3513 load-balancing haproxy: T6391: fix typo in timeout help
  interface-definitions/include/haproxy/timeout.xml.i
Labels: current

#3515 T6399: added reusable workflows codeowners file to sagitta
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/reviewers.yml
  .github/workflows/add-pr-labels.yml
  .github/workflows/auto-author-assign.yml
  .github/workflows/chceck-pr-message.yml
  .github/workflows/check-pr-conflicts.yml
  .github/workflows/check-stale.yml
  .github/workflows/check-unused-imports.yml
  .github/workflows/codeql.yml
  .github/workflows/label-backport.yml
  .github/workflows/linit-j2.yml
  .github/workflows/mergifyio_backport.yml
  .github/workflows/pr-conflicts.yml
  .github/workflows/pull-request-labels.yml
  .github/workflows/pull-request-management.yml
  .github/workflows/pull-request-message-check.yml
  .github/workflows/unused-imports.yml
  CODEOWNERS
  scripts/check-pr-title-and-commit-messages.py
Labels: sagitta

#3519 T3493: dhcpv6-server does not have prefix range validation
  interface-definitions/service_dhcpv6-server.xml.in
  smoketest/scripts/cli/base_vyostest_shim.py
  smoketest/scripts/cli/test_service_dhcpv6-server.py
  src/conf_mode/service_dhcpv6-server.py
  src/init/vyos-router
Labels: sagitta

#3518 op-mode: T6400: pki: unable to generate fingerprint for ACME issued certificates
  src/op_mode/pki.py
Labels: backport, current

#3517 op-mode: T6377: must call pki.py helper as root to work with ACME certificates
  op-mode-definitions/pki.xml.in
Labels: backport, current

#3523 reverse-proxy: T6402: Fix invalid checks in validation script
  src/conf_mode/load-balancing_reverse-proxy.py
Labels: backport, current

#3525 dhcpv6-server: T3493: add constraintGroup for prefix-delegation start/stop address
  interface-definitions/service_dhcpv6-server.xml.in
Labels: sagitta

#3522 smoketest: T6395: check for VFIO options to be present
  smoketest/scripts/system/test_kernel_options.py
Labels: backport, current

#3530 T6406: Container CPU limits
  interface-definitions/container.xml.in
  smoketest/scripts/cli/test_container.py
  smoketest/scripts/system/test_kernel_options.py
  src/conf_mode/container.py
Labels: backport, current

#3529 T5786: Add set/show system image to /image endpoint
  python/vyos/configsession.py
  smoketest/scripts/cli/test_service_https.py
  src/services/vyos-http-api-server
Labels: current

#3533 op_mode: T6389: Check architecture and flavor compatibility on upgrade attempts
  src/op_mode/image_installer.py
Labels: current

#3528 openvpn: T6374: ensure that TLS role is configured for site-to-site with TLS
  src/conf_mode/interfaces_openvpn.py
Labels: backport, current

#3537 ISIS: T6332: Fix isis not working only ipv6
  data/templates/frr/isisd.frr.j2
  interface-definitions/include/isis/protocol-common-config.xml.i
  smoketest/scripts/cli/test_protocols_isis.py
Labels: backport, current

#3534 T6411: CGNAT fix sequences for external address ranges
  smoketest/scripts/cli/test_cgnat.py
  src/conf_mode/nat_cgnat.py
Labels: current

#3540 T6349: Reuse repo sync
  .github/workflows/repo-sync.yml
Labels: current

#3541 openvpn: T6374: only check TLS role for s2s if TLS is configured
  src/conf_mode/interfaces_openvpn.py
Labels: current

#3543 T6415: Fix variables for repo sync
  .github/workflows/repo-sync.yml
Labels: current

#3532 NAT: T6371: fix NAT op mode when list of ports/ranges configured
  src/op_mode/nat.py
Labels: current

#3549 T6415: Allow repo-sync workflow to be triggered manually
  .github/workflows/repo-sync.yml
Labels: current

#3550 T6420: updated contributor doc link
  .github/PULL_REQUEST_TEMPLATE.md
Labels: sagitta

#3551 hostname: T6421: enforce explicit CLI priority for host-name and domain-name
  interface-definitions/system_domain-name.xml.in
  interface-definitions/system_host-name.xml.in
  python/vyos/ifconfig/interface.py
Labels: backport, current

#3547 container: T6406: fix NameError: name 'vyos' is not defined
  src/conf_mode/container.py
Labels: backport, current

#3546 reverse-proxy: T6419: build full CA chain when verifying backend server
  data/templates/load-balancing/haproxy.cfg.j2
  op-mode-definitions/reverse-proxy.xml.in
  op-mode-definitions/show-reverse-proxy.xml.in
  smoketest/scripts/cli/test_load-balancing_reverse-proxy.py
  src/conf_mode/load-balancing_reverse-proxy.py
Labels: backport, current

#3552 op-mode: ipsec: T6407: fix profile generation
  data/templates/ipsec/ios_profile.j2
  src/op_mode/ikev2_profile_generator.py
Labels: backport, current

#3510 T4576: Accel-ppp logging level configuration
  data/templates/accel-ppp/ipoe.config.j2
  data/templates/accel-ppp/l2tp.config.j2
  data/templates/accel-ppp/pppoe.config.j2
  data/templates/accel-ppp/pptp.config.j2
  data/templates/accel-ppp/sstp.config.j2
  interface-definitions/include/accel-ppp/log.xml.i
  interface-definitions/service_ipoe-server.xml.in
  interface-definitions/service_pppoe-server.xml.in
  interface-definitions/vpn_l2tp.xml.in
  interface-definitions/vpn_pptp.xml.in
  interface-definitions/vpn_sstp.xml.in
  smoketest/scripts/cli/base_accel_ppp_test.py
Labels: current

#3531 reverse-proxy: T6409: Remove unused backend parameters
  interface-definitions/include/version/reverseproxy-version.xml.i
  interface-definitions/load-balancing_reverse-proxy.xml.in
  interface-definitions/xml-component-version.xml.in
  src/migration-scripts/reverse-proxy/0-to-1
Labels: backport, current

#3563 conntrack: T6396: correction to helper message for ipv4/ipv6 custom timeout rule
  interface-definitions/system_conntrack.xml.in
Labels: backport, current

#3564 op-mode: T683: remove superfluous debug print in snmpv3 display code
  src/op_mode/snmp_v3.py
Labels: backport, current

#3492 T5307: QoS - traffic-class-map services
  interface-definitions/include/qos/class-match-group.xml.i
  interface-definitions/include/qos/class-match-ipv4.xml.i
  interface-definitions/include/qos/class-match-ipv6.xml.i
  interface-definitions/include/qos/class-match-mark.xml.i
  interface-definitions/include/qos/class-match-vif.xml.i
  interface-definitions/include/qos/class-match.xml.i
  interface-definitions/qos.xml.in
  smoketest/scripts/cli/test_qos.py
  src/completion/qos/list_traffic_match_group.py
  src/conf_mode/qos.py
Labels: current

#3557 dns: T6422: allow multiple redundant NS records
  interface-definitions/service_dns_forwarding.xml.in
  smoketest/scripts/cli/test_service_dns_forwarding.py
  src/conf_mode/service_dns_forwarding.py
Labels: backport, current

#3569 T6415: repo sync using pull_request_target
  .github/workflows/repo-sync.yml
Labels: current

#3570 tunnel: T6157: fixing GRE tunnel uniqueness checks
  src/conf_mode/interfaces_tunnel.py
Labels: current
