Repository vyos/vyos-1x, pull requests merged in 2024-03, with the labels that each got.

#3069 qos: T6081: QoS policy shaper target and interval wrong calcuations
  python/vyos/qos/base.py
Labels: current

#3070 banner: T6077: dehardcode URLs in MOTD template
  data/templates/login/default_motd.j2
Labels: current

#3072 vyos.ethtool: T6083: use JSON input data for ring-buffer methods
  python/vyos/ethtool.py
  smoketest/scripts/cli/test_interfaces_ethernet.py
Labels: current

#3062 dhcp-server: T6079: Disable duplicate static-mappings on migration
  interface-definitions/include/version/dhcp-server-version.xml.i
  smoketest/config-tests/basic-vyos
  smoketest/configs/basic-vyos
  src/migration-scripts/dhcp-server/6-to-7
Labels: sagitta

#3080 T6086: NAT: fix nat rules when using source-groups and translation address is a network.
  python/vyos/nat.py
  smoketest/scripts/cli/test_nat.py
Labels: current

#3077 vyos.ethtool: T6083: use JSON input data #2
  python/vyos/ethtool.py
  smoketest/scripts/cli/test_interfaces_ethernet.py
Labels: current

#3078 ospfv3: T6087: add support to redistribute IS-IS routes
  interface-definitions/include/ospfv3/protocol-common-config.xml.i
  smoketest/scripts/cli/test_protocols_ospf.py
  smoketest/scripts/cli/test_protocols_ospfv3.py
  src/conf_mode/protocols_ospfv3.py
Labels: current

#3079 T6084: Add NHRP dependency for IPsec and fix NHRP empty config bug
  data/config-mode-dependencies/vyos-1x.json
  src/conf_mode/vpn_ipsec.py
Labels: current

#3068 qos: T5646: Skip add filter for qos policy limiter class without match
  python/vyos/qos/base.py
Labels: current

#3091 xml: T5738: use generic-disable-node building block for "disable" CLI nodes
  interface-definitions/include/firewall/common-rule-bridge.xml.i
  interface-definitions/include/firewall/common-rule-inet.xml.i
  interface-definitions/include/firewall/common-rule-ipv4-raw.xml.i
Labels: current

#3089 http-api: T6069: fix allocation outside of thread lock
  src/services/vyos-http-api-server
Labels: current

#3087 T6061: fix rule parsing when connection-status is used
  python/vyos/firewall.py
  smoketest/scripts/cli/test_firewall.py
Labels: current

#3085 T6096: Config commits are not synced properly because 00vyos-sync is deleted by vyos-router
  src/init/vyos-router
Labels: current

#3090 wifi: T6095: incorrect country "uk" it's actually "gb"
  interface-definitions/interfaces_wireless.xml.in
Labels: current

#3088 T6075: firewall and NAT: check if interface-group exists when using them in firewall|nat rules.
  src/conf_mode/firewall.py
  src/conf_mode/nat.py
Labels: current

#3099 conntrack-sync: T6057: Add ability to disable syslog for conntrackd
  data/templates/conntrackd/conntrackd.conf.j2
  interface-definitions/service_conntrack-sync.xml.in
Labels: current

#3100 remote: T6104: fix logic of failure case in MissingHostKeyPolicy
  python/vyos/remote.py
Labels: current

#3104 conntrack-sync: T6057: Add ability to disable syslog for conntrackd
  data/templates/conntrackd/conntrackd.conf.tmpl
  interface-definitions/service_conntrack-sync.xml.in
Labels: equuleus

#1740 config: T4919: Add support for encrypted config with TPM
  debian/control
  op-mode-definitions/crypt.xml.in
  python/vyos/tpm.py
  src/helpers/vyos-config-encrypt.py
  src/init/vyos-router
  src/op_mode/image_installer.py
  src/op_mode/image_manager.py
Labels: current

#3105 snmp: T2998: SNMP v3 oid "exclude" option fix
  data/templates/snmp/etc.snmpd.conf.j2
  interface-definitions/service_snmp.xml.in
  smoketest/scripts/cli/test_service_snmp.py
Labels: current

#2966 vrrp: T6020: vrrp health-check script not applied correctly
  data/templates/high-availability/keepalived.conf.j2
  interface-definitions/high-availability.xml.in
  smoketest/scripts/cli/test_high-availability_vrrp.py
  src/conf_mode/high-availability.py
Labels: current

#3108 http-api: T6107: add an option to increase the request body size limit
  data/templates/https/nginx.default.j2
  interface-definitions/service_https.xml.in
Labels: current

#3106 dhcp: T6102: Fix clear DHCP lease op-mode
  op-mode-definitions/clear-dhcp-server-lease.xml.in
  op-mode-definitions/dhcp.xml.in
  python/vyos/kea.py
  src/op_mode/clear_dhcp_lease.py
  src/op_mode/dhcp.py
Labels: current

#3113 firewall: T6071: truncate rule description field to 255 characters
  interface-definitions/include/generic-description.xml.i
  smoketest/config-tests/dialup-router-wireguard-ipv6
  smoketest/configs/dialup-router-wireguard-ipv6
  smoketest/scripts/cli/base_interfaces_test.py
  src/migration-scripts/firewall/6-to-7
Labels: current

#3115 xml: T5738: revert invalid change from lower character limit - 0 length must be allowed
  interface-definitions/include/generic-description.xml.i
Labels: current

#3117 dhcp-client: T6093: extend regex for client class-id's with DOT
  interface-definitions/include/constraint/dhcp-client-string-option.xml.i
Labels: sagitta

#3110 xml: T6098: relax description constraint to allow non-ascii characters
  interface-definitions/include/generic-description.xml.i
Labels: current

#3118 dhcp-client: T6093: extend regex for client class-id's with DOT (backport #3117)
  interface-definitions/include/constraint/dhcp-client-string-option.xml.i
Labels: sagitta

#3122 vrrp: T6020: vrrp health-check script not applied correctly in keepal…
  data/templates/high-availability/keepalived.conf.j2
  interface-definitions/high-availability.xml.in
  smoketest/scripts/cli/test_high-availability_vrrp.py
  src/conf_mode/high-availability.py
Labels: sagitta

#3120 T6114: fix broken migration dhcpv6-server 4-to-5
  src/migration-scripts/dhcpv6-server/4-to-5
Labels: current

#3123 conntrack: T5080: Fix rule order for applied conntrack modules
  src/conf_mode/system_conntrack.py
Labels: current

#3126 grub: T4548: Fixed GRUB configuration files order
  python/vyos/system/grub.py
  src/op_mode/image_installer.py
  src/system/grub_update.py
Labels: current

#3125 radvd: T6118: add nat64prefix support RFC8781
  data/templates/router-advert/radvd.conf.j2
  interface-definitions/service_router-advert.xml.in
  smoketest/scripts/cli/test_service_router-advert.py
  src/conf_mode/service_router-advert.py
Labels: current

#3130 vrrp: T5504: Keepalived VRRP ability to set more than one peer-address
  data/templates/vrrp/keepalived.conf.tmpl
  interface-definitions/vrrp.xml.in
  smoketest/scripts/cli/test_ha_vrrp.py
  src/conf_mode/vrrp.py
Labels: equuleus

#3111 T6110: dhcp: add error check when fail-over is enabled on a subnet, but range is not defined.
  src/conf_mode/dhcp_server.py
Labels: equuleus

#3133 xml: T3642: improve PKI CLI help string
  interface-definitions/pki.xml.in
  op-mode-definitions/pki.xml.in
Labels: current

#3135 xml: T2518: T160: improve NAT66/NPTv6 and NAT64 help string s
  interface-definitions/nat64.xml.in
  interface-definitions/nat66.xml.in
Labels: current

#3137 T6090: policy: fix migration script
  src/migration-scripts/policy/1-to-2
Labels: current

#3132 T6121: Extend service config-sync to new sections
  interface-definitions/service_config-sync.xml.in
  src/helpers/vyos_config_sync.py
Labels: current

#3112 conntrack: T4022: add RTSP conntrack helper
  data/templates/conntrack/nftables-helpers.j2
  debian/control
  interface-definitions/include/firewall/conntrack-helper.xml.i
  interface-definitions/system_conntrack.xml.in
  smoketest/scripts/cli/test_system_conntrack.py
  src/conf_mode/system_conntrack.py
Labels: current

#3140 T6133: append domain-name to commit-archive if defined
  python/vyos/config_mgmt.py
Labels: current

#3139 policy: T6129: add route-map option "as-path exclude all"
  interface-definitions/policy.xml.in
  smoketest/scripts/cli/test_policy.py
Labels: current

#3143 op-mode: T6133: add support to manually trigger commit-archive update
  op-mode-definitions/force-commit-archive.xml.in
Labels: current

#3146 T6136: add error checks when using dynamic firewall groups
  src/conf_mode/firewall.py
Labels: current

#3145 T6127: Fixed show log firewall for rule with offload
  op-mode-definitions/show-log.xml.in
Labels: current

#3150 T6138: Fix op-mode show conntrack table with flowtable offloads
  src/op_mode/conntrack.py
Labels: current

#3035 T5996: selectively escape and restore single backslashes in config
  python/vyos/configtree.py
  smoketest/scripts/cli/test_backslash_escape.py
Labels: current

#3131 qos: T1871: add MTU option when configure limiter traffic-policy
  interface-definitions/include/qos/mtu.xml.i
  interface-definitions/qos.xml.in
  python/vyos/qos/base.py
  smoketest/scripts/cli/test_qos.py
Labels: current

#3155 T6143: Increase configuratble timeout range for service config-sync
  interface-definitions/service_config-sync.xml.in
Labels: current

#3159 conntrack: T6147: Enable conntrack when firewall state-policy is defined
  smoketest/scripts/cli/test_firewall.py
  src/conf_mode/system_conntrack.py
Labels: current

#3158 bridge: T6125: support 802.1ad (ethertype 0x88a8) VLAN filtering
  interface-definitions/include/interface/vif-s.xml.i
  interface-definitions/include/interface/vlan-protocol.xml.i
  interface-definitions/interfaces_bridge.xml.in
  python/vyos/ifconfig/bridge.py
  smoketest/scripts/cli/test_interfaces_bridge.py
Labels: current

#3153 policy: T6130: Revert commit 960cace
  src/migration-scripts/policy/3-to-4
Labels: current

#3157 vti: T6085: bring VTI interfaces up only when the IPsec tunnel is up
  python/vyos/ifconfig/vti.py
  smoketest/scripts/cli/test_interfaces_vti.py
  src/etc/ipsec.d/vti-up-down
Labels: current

#3165 Github: PR Template: make related tasks optional
  .github/PULL_REQUEST_TEMPLATE.md
Labels: current

#3164 xml: T6146: add utils and helper to provide priority data
  python/vyos/priority.py
  python/vyos/xml_ref/generate_cache.py
  src/helpers/priority.py
Labels: current

#3169 isis: T6160: NameError: name 'process' is not defined
  smoketest/scripts/cli/test_protocols_isis.py
  src/conf_mode/protocols_isis.py
Labels: current

#3173 vyos.configverify: T6131: verify_interface_exists() checks CLI interfaces, too
  python/vyos/configverify.py
Labels: current

#3172 config-sync: T6145: batch section requests for commit by priority
  src/helpers/vyos_config_sync.py
  src/services/vyos-http-api-server
Labels: current

#3171 op-mode: T6161: Show container details in JSON format
  op-mode-definitions/container.xml.in
Labels: current

#3151 bgp: T6106: Show complete FRR output on internal errors
  python/vyos/frr.py
  smoketest/scripts/cli/test_protocols_bgp.py
Labels: current

#3162 dhcp: T5164: op cmd: "show dhcp server leases state" with available o…
  src/op_mode/dhcp.py
Labels: sagitta

#3177 Revert "ethernet: T5566: disable energy efficient ethernet (EEE) for interfaces"
  python/vyos/ethtool.py
  python/vyos/ifconfig/ethernet.py
Labels: current

#3179 grub: T6165: increase service TimeoutSec from 5 -> 60
  src/systemd/vyos-grub-update.service
Labels: current

#3181 xml: T5738: use common constraint include for container network
  interface-definitions/container.xml.in
  interface-definitions/include/constraint/container-network.xml.i
Labels: current

#3182 container: T6062: add image name completion helper
  interface-definitions/container.xml.in
Labels: current

#3185 ospf: T6066: can not define the same network in different areas
  smoketest/scripts/cli/test_protocols_ospf.py
  src/conf_mode/protocols_ospf.py
Labels: current

#3188 T6171: migrate <set service dhcp-server failover> to <set service dhcp-server high-availability>
  data/templates/dhcp-server/kea-ctrl-agent.conf.j2
  data/templates/dhcp-server/kea-dhcp4.conf.j2
  interface-definitions/include/version/dhcp-server-version.xml.i
  interface-definitions/service_dhcp-server.xml.in
  python/vyos/template.py
  smoketest/scripts/cli/test_service_dhcp-server.py
  src/conf_mode/service_dhcp-server.py
  src/migration-scripts/dhcp-server/10-to-11
Labels: current

#3190 bgp: T6106: fix test and verify()
  smoketest/scripts/cli/test_protocols_bgp.py
  src/conf_mode/protocols_bgp.py
Labels: current

#3193 T6121: Extend config-sync for QoS and system options
  interface-definitions/service_config-sync.xml.in
Labels: current

#3192 image-tools: T6168: compat mode update should preserve console type
  python/vyos/system/compat.py
Labels: current

#3201 grub: T4516: correct a format string
  python/vyos/system/grub.py
Labels: current

#2965 T5872: ipsec remote access VPN: support dhcp-interface.
  data/templates/ipsec/swanctl/remote_access.j2
  interface-definitions/vpn_ipsec.xml.in
  smoketest/scripts/cli/test_vpn_ipsec.py
  src/conf_mode/vpn_ipsec.py
  src/etc/dhcp/dhclient-exit-hooks.d/99-ipsec-dhclient-hook
Labels: current

#3202 ipsec: T5606: T5871: Use multi node for CA certificates
  interface-definitions/include/ipsec/authentication-x509.xml.i
  smoketest/scripts/cli/test_vpn_ipsec.py
  src/conf_mode/vpn_ipsec.py
Labels: current

#3200 T5832: VRRP allow set interface for exluded-address
  data/templates/high-availability/keepalived.conf.j2
  interface-definitions/high-availability.xml.in
Labels: current

#3208 vyos.template: T3664: add an environment variable for template location
  python/vyos/template.py
Labels: current

#3207 vyos.system.grub: T3664: add chroot argument to the GRUB install function
  python/vyos/system/grub.py
Labels: current

#3198 openvpn: T6159: Openvpn Server Op-cmd adds heading "OpenVPN status on vtunx" for every client connection
  src/op_mode/openvpn.py
Labels: current

#3196 dhcp-server: T4718: Listen-address is not commited if the IP address is on the interface with a VRF
  python/vyos/utils/network.py
  smoketest/scripts/cli/test_service_dhcp-server.py
  src/conf_mode/service_dhcp-server.py
Labels: sagitta

#3215 image-tools: T6186: simplify image annotations fixing regression
  src/op_mode/image_manager.py
Labels: current

#3213 bgp: T6106: Valid commit error for route-reflector-client option defined in peer-group
  smoketest/scripts/cli/test_protocols_bgp.py
  src/conf_mode/protocols_bgp.py
Labels: current

#3218 accel-ppp: T6187: use correct CPU counts adjusted for SMT
  python/vyos/configdict.py
  python/vyos/utils/system.py
  smoketest/scripts/cli/base_accel_ppp_test.py
Labels: current

#3195 dhcp-server: T4718: Listen-address is not commit if the ip address is on the interface with vrf
  python/vyos/template.py
  python/vyos/utils/network.py
  smoketest/scripts/cli/test_service_dhcp-server.py
  src/conf_mode/service_dhcp-server.py
Labels: current

#3211 T6185: simplify marshalling of section and config data for config-sync
  interface-definitions/service_config-sync.xml.in
  python/vyos/configsession.py
  python/vyos/configtree.py
  src/helpers/vyos_config_sync.py
  src/services/vyos-http-api-server
Labels: current
