Repository vyos/vyos-1x, pull requests merged in 2024-02, with the labels that each got.

#2887 T5977: firewall: remove ipsec options in output chain rule definition…
  interface-definitions/include/firewall/common-rule-inet.xml.i
  interface-definitions/include/firewall/ipv4-custom-name.xml.i
  interface-definitions/include/firewall/ipv4-hook-forward.xml.i
  interface-definitions/include/firewall/ipv4-hook-input.xml.i
  interface-definitions/include/firewall/ipv6-custom-name.xml.i
  interface-definitions/include/firewall/ipv6-hook-forward.xml.i
  interface-definitions/include/firewall/ipv6-hook-input.xml.i
  interface-definitions/include/firewall/match-ipsec.xml.i
Labels: current

#2914 bgp: T5930: Denied using rt vpn 'export/import' with 'both' together
  interface-definitions/include/version/bgp-version.xml.i
  src/conf_mode/protocols_bgp.py
  src/migration-scripts/bgp/4-to-5
Labels: current

#2892 T5941: Migration QoS delete orphaned interface traffic-policy
  src/migration-scripts/qos/1-to-2
Labels: current

#2890 T5941: Migration policy delete orphaned interface policy
  src/migration-scripts/policy/4-to-5
Labels: current

#2883 T5974: Fix QoS shape bandwidth and ceil calculation for default
  python/vyos/qos/trafficshaper.py
Labels: current

#2903 dns forwarding: T5687: Implement ECS settings for PowerDNS recursor
  data/templates/dns-forwarding/recursor.conf.j2
  interface-definitions/service_dns_forwarding.xml.in
  smoketest/scripts/cli/test_service_dns_forwarding.py
Labels: current

#2756 T4839: firewall: Add dynamic address group in firewall configuration
  data/templates/firewall/nftables-defines.j2
  interface-definitions/firewall.xml.in
  interface-definitions/include/firewall/add-dynamic-address-groups.xml.i
  interface-definitions/include/firewall/add-dynamic-ipv6-address-groups.xml.i
  interface-definitions/include/firewall/common-rule-ipv4.xml.i
  interface-definitions/include/firewall/common-rule-ipv6.xml.i
  interface-definitions/include/firewall/source-destination-dynamic-group-ipv6.xml.i
  interface-definitions/include/firewall/source-destination-dynamic-group.xml.i
  python/vyos/firewall.py
  smoketest/scripts/cli/test_firewall.py
  src/conf_mode/nat.py
  src/conf_mode/policy_route.py
  src/op_mode/firewall.py
Labels: current

#2897 T5989 fix: Add ipv4-prefix as a valid option for UPnP ACLs.
  data/templates/firewall/upnpd.conf.j2
  interface-definitions/service_upnp.xml.in
Labels: current

#2920 bfd: T5967: add minimum-ttl option
  data/templates/frr/bfd.frr.tmpl
  interface-definitions/protocols-bfd.xml.in
  smoketest/scripts/cli/test_protocols_bfd.py
  src/conf_mode/protocols_bfd.py
Labels: equuleus

#2891 T5971: Rewritten ppp options in accel-ppp services
  data/templates/accel-ppp/l2tp.config.j2
  data/templates/accel-ppp/ppp-options.j2
  data/templates/accel-ppp/pppoe.config.j2
  data/templates/accel-ppp/pptp.config.j2
  data/templates/accel-ppp/sstp.config.j2
  interface-definitions/include/accel-ppp/ppp-options-ipv6-interface-id.xml.i
  interface-definitions/include/accel-ppp/ppp-options.xml.i
  interface-definitions/include/version/l2tp-version.xml.i
  interface-definitions/include/version/pppoe-server-version.xml.i
  interface-definitions/include/version/pptp-version.xml.i
  interface-definitions/service_pppoe-server.xml.in
  interface-definitions/vpn_l2tp.xml.in
  interface-definitions/vpn_pptp.xml.in
  interface-definitions/vpn_sstp.xml.in
  python/vyos/accel_ppp_util.py
  smoketest/scripts/cli/base_accel_ppp_test.py
  smoketest/scripts/cli/test_service_ipoe-server.py
  smoketest/scripts/cli/test_service_pppoe-server.py
  smoketest/scripts/cli/test_vpn_l2tp.py
  smoketest/scripts/cli/test_vpn_pptp.py
  src/conf_mode/vpn_l2tp.py
  src/conf_mode/vpn_pptp.py
  src/conf_mode/vpn_sstp.py
  src/migration-scripts/l2tp/7-to-8
  src/migration-scripts/pppoe-server/8-to-9
  src/migration-scripts/pptp/3-to-4
Labels: current

#2926 ddclient: T5966: Adjust dynamic dns config address subpath (manual backport #2860)
  data/templates/dns-dynamic/ddclient.conf.j2
  interface-definitions/include/version/dns-dynamic-version.xml.i
  interface-definitions/service_dns_dynamic.xml.in
  op-mode-definitions/container.xml.in
  op-mode-definitions/dns-dynamic.xml.in
  op-mode-definitions/dns-forwarding.xml.in
  python/vyos/opmode.py
  smoketest/scripts/cli/test_service_dns_dynamic.py
  src/conf_mode/service_dns_dynamic.py
  src/migration-scripts/dns-dynamic/3-to-4
  src/op_mode/dns.py
  src/op_mode/dns_dynamic.py
Labels: sagitta

#2927 container: T5955: add uid/gid settings
  interface-definitions/container.xml.in
  smoketest/scripts/cli/test_container.py
  src/conf_mode/container.py
Labels: current

#2889 dhcpv6: T3771: Installation of routes for delegated prefixes, add excluded-prefix to PD
  data/templates/dhcp-server/kea-dhcp6.conf.j2
  interface-definitions/include/listen-interface-multi-broadcast.xml.i
  interface-definitions/service_dhcpv6-server.xml.in
  python/vyos/kea.py
  smoketest/scripts/cli/test_service_dhcpv6-server.py
  src/conf_mode/service_dhcpv6-server.py
  src/etc/sudoers.d/vyos
  src/system/on-dhcp-event.sh
  src/system/on-dhcpv6-event.sh
Labels: current

#2748 qos: T5848: Add triple-isolate option to CAKE policy config
  interface-definitions/qos.xml.in
  python/vyos/qos/cake.py
Labels: current

#2931 configdict: T5894: preserve old behavior when dealing with PKI
  python/vyos/config.py
Labels: current

#2932 ipsec: T5998: add replay-windows setting
  data/templates/ipsec/swanctl/peer.j2
  data/templates/ipsec/swanctl/remote_access.j2
  interface-definitions/include/ipsec/replay-window.xml.i
  interface-definitions/vpn_ipsec.xml.in
  smoketest/scripts/cli/test_vpn_ipsec.py
Labels: current

#2937 T6018: adjust smoketest for update to FastAPI web framework
  smoketest/scripts/cli/test_service_https.py
Labels: current

#2935 init: T2044: always start/stop rpki during system boot
  src/init/vyos-router
Labels: current

#2936 rpki: T6011: known-hosts-file is no longer supported by FRR
  data/templates/frr/rpki.frr.j2
  interface-definitions/include/version/rpki-version.xml.i
  interface-definitions/protocols_rpki.xml.in
  smoketest/scripts/cli/test_protocols_rpki.py
  src/conf_mode/protocols_rpki.py
  src/migration-scripts/rpki/1-to-2
Labels: current

#2942 op-mode:T6015:Fix for charon file generated by ipsec debug script
  src/op_mode/generate_ipsec_debug_archive.py
Labels: sagitta

#2946 T5921: Fix OpenConnect verify for local users
  src/conf_mode/vpn_openconnect.py
Labels: current

#2941 image-tools: T6016: wait for umount in cleanup function
  python/vyos/system/disk.py
  src/op_mode/image_installer.py
Labels: current

#2949 T5586: delete old systemd unit keepalived service
  data/templates/vrrp/10-override.conf.j2
  src/systemd/keepalived.service
Labels: equuleus

#2953 T6021: Fix QoS shaper r2q calculation
  python/vyos/qos/trafficshaper.py
Labels: current

#2944 vpn: T3843: l2tp configuration not cleared after delete
  data/config-mode-dependencies/vyos-1x.json
  smoketest/scripts/cli/test_vpn_l2tp.py
  src/conf_mode/vpn_l2tp.py
Labels: current

#2960 xml: T302: replace references to Quagga with FRRouting
  interface-definitions/system_frr.xml.in
  op-mode-definitions/show-system.xml.in
  op-mode-definitions/show-version.xml.in
Labels: current

#2959 init: T2044: only start rpki if cache is configured
  python/vyos/utils/config.py
  src/init/vyos-router
Labels: current

#2957 bgp: T6024: add additional missing FRR features
  data/templates/frr/bgpd.frr.j2
  interface-definitions/include/bgp/neighbor-afi-ipv4-ipv6-common.xml.i
  interface-definitions/include/bgp/protocol-common-config.xml.i
  smoketest/scripts/cli/test_protocols_bgp.py
Labels: current

#2952 vrf: T5973: module is now statically compiled into the kernel
  smoketest/scripts/cli/test_vrf.py
  src/conf_mode/vrf.py
  src/etc/sysctl.d/30-vyos-router.conf
Labels: current

#2507 op-mode: T4038: Python rewrite of image tools
  op-mode-definitions/file.xml.in
  python/vyos/remote.py
  schema/op-mode-definition.rnc
  schema/op-mode-definition.rng
  scripts/build-command-op-templates
  src/completion/list_images.py
  src/op_mode/file.py
Labels: current

#2969 T6026: QoS hide attempts to delete qdisc from devices
  src/conf_mode/qos.py
Labels: current

#2950 T5960: Rewritten authentication node in PPTP to a single view
  data/templates/accel-ppp/pptp.config.j2
  interface-definitions/include/version/pptp-version.xml.i
  interface-definitions/service_ipoe-server.xml.in
  interface-definitions/vpn_l2tp.xml.in
  interface-definitions/vpn_pptp.xml.in
  python/vyos/accel_ppp_util.py
  smoketest/scripts/cli/test_vpn_l2tp.py
  smoketest/scripts/cli/test_vpn_pptp.py
  src/conf_mode/service_ipoe-server.py
  src/conf_mode/service_pppoe-server.py
  src/conf_mode/vpn_l2tp.py
  src/migration-scripts/pptp/4-to-5
Labels: current

#2968 T5685: Keepalived VRRP prefix is not necessary for the virtual address
  interface-definitions/high-availability.xml.in
Labels: current

#2955 rpki: T6023: add support for CLI knobs expire-interval and retry-interval
  data/templates/frr/rpki.frr.j2
  interface-definitions/protocols_rpki.xml.in
  smoketest/scripts/cli/test_protocols_rpki.py
Labels: current

#2975 https: T5902: fix migration of virtual-host port
  src/migration-scripts/https/5-to-6
Labels: current

#2967 T5703: Fix reapply QoS for connection-oriented interfaces
  src/op_mode/connect_disconnect.py
Labels: current

#2978 T6028: Fix QoS policy shaper wrong class_id_max and default_minor_id
  python/vyos/qos/trafficshaper.py
Labels: current

#2982 xml: T5738: improve PKI building blocks for CLI
  interface-definitions/include/pki/cli-certificate-base64.xml.i
  interface-definitions/include/pki/cli-private-key-base64.xml.i
  interface-definitions/include/pki/cli-public-key-base64.xml.i
  interface-definitions/include/pki/cli-revoke.xml.i
  interface-definitions/include/pki/password-protected.xml.i
  interface-definitions/pki.xml.in
Labels: current

#2983 rpki: T6004: add missing startup priority
  interface-definitions/protocols_rpki.xml.in
Labels: current

#2981 xml: T302: replace references to Quagga with FRRouting
  op-mode-definitions/show-system.xml.in
  op-mode-definitions/show-version.xml.in
Labels: equuleus

#2986 bgp: T6010: support setting multiple values for neighbor path-attribute
  data/templates/frr/bgpd.frr.j2
  interface-definitions/include/bgp/neighbor-path-attribute.xml.i
  smoketest/scripts/cli/test_protocols_bgp.py
Labels: current

#2980 srv6: T5849: add segment support to "protocols static route6"
  data/templates/frr/static_routes_macro.j2
  interface-definitions/include/static/static-route-reject.xml.i
  interface-definitions/include/static/static-route-segments.xml.i
  interface-definitions/include/static/static-route6.xml.i
  smoketest/scripts/cli/test_protocols_static.py
  src/validators/ipv6-srv6-segments
Labels: current

#2991 T6019: fix smoketest after upgrading nftables and libnftnl packages.
  smoketest/scripts/cli/test_firewall.py
Labels: current

#2994 init: T2044: fix "binary operator expected" when two or more RPKI caches are defined
  src/init/vyos-router
Labels: current

#2993 ipsec: T5981: Strip '@' from migrated peer PKI name
  src/migration-scripts/ipsec/6-to-7
Labels: current

#2997 dhcpv6-server: T5993: Add subnet `interface` node, link subnet to locally connected interfaces
  interface-definitions/include/version/dhcpv6-server-version.xml.i
  interface-definitions/service_dhcpv6-server.xml.in
  python/vyos/kea.py
  smoketest/scripts/cli/test_service_dhcpv6-server.py
  src/migration-scripts/dhcpv6-server/4-to-5
Labels: current

#2988 rpki: T6034: move file based SSH keys for authentication to PKI subsystem
  data/config-mode-dependencies/vyos-1x.json
  interface-definitions/include/pki/openssh-key.xml.i
  interface-definitions/pki.xml.in
  interface-definitions/protocols_rpki.xml.in
  python/vyos/pki.py
  smoketest/bin/vyos-configtest-pki
  smoketest/configs/rpki-only
  smoketest/scripts/cli/test_protocols_rpki.py
  src/conf_mode/pki.py
  src/conf_mode/protocols_rpki.py
  src/migration-scripts/rpki/1-to-2
Labels: current

#3000 T5064: Firewall fix RegEx for for domain-group
  interface-definitions/firewall.xml.in
Labels: current

#2999 T5928: Change firewall priority to 319
  interface-definitions/firewall.xml.in
  smoketest/scripts/cli/test_firewall.py
Labels: current

#2998 dhcpv6-server: T5992: Fix op-mode DHCP lease output + updates
  op-mode-definitions/dhcp.xml.in
  python/vyos/kea.py
  src/op_mode/dhcp.py
Labels: current

#3005 T6019: Fix smoketest test_system_conntrack custom timeout
  smoketest/scripts/cli/test_system_conntrack.py
Labels: current

#3007 utils: T5239: add low-level read from config.boot (RPKI fixes)
  python/vyos/util.py
  src/helpers/read-saved-value.py
Labels: equuleus

#3010 configverify: T3992: fix KeyError in verify_address()
  python/vyos/configverify.py
Labels: equuleus

#3004 T6029: Rewritten Accel-PPP services to an identical feature set
  data/templates/accel-ppp/config_extended_scripts.j2
  data/templates/accel-ppp/config_limits.j2
  data/templates/accel-ppp/config_snmp.j2
  data/templates/accel-ppp/config_wins_server.j2
  data/templates/accel-ppp/ipoe.config.j2
  data/templates/accel-ppp/l2tp.config.j2
  data/templates/accel-ppp/pppoe.config.j2
  data/templates/accel-ppp/pptp.config.j2
  data/templates/accel-ppp/sstp.config.j2
  interface-definitions/include/accel-ppp/extended-scripts.xml.i
  interface-definitions/include/accel-ppp/limits.xml.i
  interface-definitions/include/accel-ppp/snmp.xml.i
  interface-definitions/include/version/l2tp-version.xml.i
  interface-definitions/service_ipoe-server.xml.in
  interface-definitions/service_pppoe-server.xml.in
  interface-definitions/vpn_l2tp.xml.in
  interface-definitions/vpn_pptp.xml.in
  interface-definitions/vpn_sstp.xml.in
  python/vyos/accel_ppp_util.py
  smoketest/scripts/cli/base_accel_ppp_test.py
  smoketest/scripts/cli/test_service_ipoe-server.py
  src/conf_mode/service_ipoe-server.py
  src/conf_mode/service_pppoe-server.py
  src/conf_mode/vpn_l2tp.py
  src/conf_mode/vpn_pptp.py
  src/conf_mode/vpn_sstp.py
  src/migration-scripts/l2tp/8-to-9
Labels: current

#3011 rpki: T6034: extend config migration testcase
  smoketest/config-tests/rpki-only
  smoketest/configs/rpki-only
Labels: current

#3012 dhcpv6-server: T5993: Extend interface migrator to check VLAN/QinQ
  smoketest/configs/basic-vyos
  src/migration-scripts/dhcpv6-server/4-to-5
Labels: current

#3016 T6001: add option to disable next-hop-tracking resolve-via-default
  data/templates/frr/zebra.route-map.frr.j2
  data/templates/frr/zebra.vrf.route-map.frr.j2
  interface-definitions/include/system-ip-nht.xml.i
  interface-definitions/system_ip.xml.in
  interface-definitions/system_ipv6.xml.in
  interface-definitions/vrf.xml.in
  smoketest/configs/egp-igp-route-maps
  smoketest/scripts/cli/test_system_ip.py
  smoketest/scripts/cli/test_system_ipv6.py
  smoketest/scripts/cli/test_vrf.py
  src/conf_mode/system_ip.py
  src/conf_mode/system_ipv6.py
Labels: current

#3021 T3722: Fixed L-Time in 'show vpn ike sa' command
  src/op_mode/vpn_ike_sa.py
Labels: current

#3019 login: T5972: add possibility to disable individual local user accounts
  interface-definitions/system_login.xml.in
  smoketest/scripts/cli/test_system_login.py
  src/conf_mode/system_login.py
Labels: current

#3024 image-tools: T6041: fix logic of is_live_boot to allow for PXE boot
  python/vyos/system/image.py
Labels: current

#3027 op-mode: T5581: add "show ipv6 nht" command
  op-mode-definitions/include/show-nht.xml.i
  op-mode-definitions/show-ip.xml.in
  op-mode-definitions/show-ipv6.xml.in
Labels: current

#3026 bridge: T6043: do not call vxlan dependency if interface does not exist (yet)
  smoketest/scripts/cli/test_interfaces_bridge.py
  src/conf_mode/interfaces_bridge.py
Labels: current

#3030 smoketest: T6043: proper cleanup after testcase
  smoketest/scripts/cli/test_interfaces_bridge.py
Labels: current

#3033 T6050: Fixed descriptions of 'extended-scripts' commands in accel-ppp
  interface-definitions/include/accel-ppp/extended-scripts.xml.i
Labels: current

#3032 vyos-event-handler.py: T6048: handling exception when _PID is not found
  src/system/vyos-event-handler.py
Labels: current

#3037 conntrack: T5376: Fix priority for CT helpers
  data/templates/conntrack/nftables-ct.j2
Labels: current

#3039 upnp: T3420: disable the UPnP CLI in Sagitta until bugs are fixed
  interface-definitions/service_upnp.xml.in
  smoketest/scripts/cli/test_service_upnp.py
Labels: sagitta

#3040 pki: T6055: Cleanup unnecessary sudo, preserve env when sudo is needed
  interface-definitions/include/pki/cli-private-key-base64.xml.i
  interface-definitions/include/pki/cli-public-key-base64.xml.i
  op-mode-definitions/pki.xml.in
Labels: current

#3042 T6054: WLB: fix rules parsing when using multiple ports in one rule
  data/templates/load-balancing/wlb.conf.j2
Labels: current

#3044 container: T5909: move registry login to op-mode
  src/conf_mode/container.py
  src/op_mode/container.py
Labels: current

#3046 container: T6060: support removing all container images at once via op-mode
  op-mode-definitions/container.xml.in
  src/op_mode/container.py
Labels: current

#3049 dhcp-server: T6063: Add `ignore-client-id` to relax client identifier checks for leases
  interface-definitions/service_dhcp-server.xml.in
  python/vyos/kea.py
  smoketest/scripts/cli/test_service_dhcp-server.py
Labels: current

#3053 container: T6074: do not allow deleting images which have a container running
  src/op_mode/container.py
Labels: current

#3054 vyos-hostsd: T4270: do not resolve local router FQDN to 127.0.1.1
  data/templates/vyos-hostsd/hosts.j2
Labels: current

#3055 vrf: conntrack: T6073: Populate VRF zoning chains only while conntrack is required
  data/config-mode-dependencies/vyos-1x.json
  data/vyos-firewall-init.conf
  python/vyos/firewall.py
  smoketest/scripts/cli/base_vyostest_shim.py
  smoketest/scripts/cli/test_firewall.py
  smoketest/scripts/cli/test_nat.py
  smoketest/scripts/cli/test_nat66.py
  smoketest/scripts/cli/test_policy_route.py
  smoketest/scripts/cli/test_system_conntrack.py
  smoketest/scripts/cli/test_vrf.py
  src/conf_mode/system_conntrack.py
  src/conf_mode/vrf.py
Labels: current

#3060 banner: T6077: implement ASCII contest winner default logo
  data/templates/login/default_motd.j2
  src/conf_mode/system_login_banner.py
Labels: current

#3056 T5504: Keepalived VRRP ability to set more than one peer-address
  data/templates/high-availability/keepalived.conf.j2
  interface-definitions/high-availability.xml.in
  smoketest/scripts/cli/test_high-availability_vrrp.py
  src/conf_mode/high-availability.py
Labels: current

#3052 vyos.ethtool: T6070: fix EEE reading the incorrect status line
  python/vyos/ethtool.py
Labels: current

#2659 configdep: T5839: remove trivially redundant config dependency calls
  python/vyos/configdep.py
  src/services/vyos-configd
  src/shim/vyshim.c
Labels: current

#3066 vyos-hostsd: T4270: resolve only hostname without domain name to 127.0.1.1
  data/templates/vyos-hostsd/hosts.j2
Labels: current
