Repository vyos/vyos-1x, pull requests merged in 2024-07, with the labels that each got.

#3748 T6523: Telegraf use nft scripts only if the firewall configured
  data/templates/telegraf/telegraf.j2
  src/conf_mode/service_monitoring_telegraf.py
Labels: current

#3745 T6527: add legacy Vyatta interpreter files still in use
  Makefile
  debian/control
  debian/rules
  debian/vyos-1x.install
  debian/vyos-1x.postinst
  op-mode-definitions/clear-interfaces.xml.in
  op-mode-definitions/configure.xml.in
  op-mode-definitions/connect.xml.in
  op-mode-definitions/disconnect.xml.in
  src/etc/bash_completion.d/vyatta-op
  src/etc/default/vyatta
  src/op_mode/connect_disconnect.py
  src/opt/vyatta/bin/restricted-shell
  src/opt/vyatta/bin/vyatta-op-cmd-wrapper
  src/opt/vyatta/etc/LICENSE
  src/opt/vyatta/etc/shell/level/users/allowed-op
  src/opt/vyatta/etc/shell/level/users/allowed-op.in
  src/opt/vyatta/sbin/if-mib-alias
  src/opt/vyatta/sbin/vyos-persistpath
  src/opt/vyatta/share/vyatta-op/functions/interpreter/vyatta-common
  src/opt/vyatta/share/vyatta-op/functions/interpreter/vyatta-op-run
  src/opt/vyatta/share/vyatta-op/functions/interpreter/vyatta-unpriv
Labels: current

#3721 ssh: T5878: Allow changing the PubkeyAcceptedAlgorithms option
  data/templates/ssh/sshd_config.j2
  interface-definitions/service_ssh.xml.in
  smoketest/scripts/cli/test_service_ssh.py
Labels: current

#3750 GitHub: T6494: add consolidated ISO test result comment on PR
  .github/workflows/package-smoketest.yml
Labels: current

#3752 T6538: Add the ability to set GENEVE interfaces to VRF
  interface-definitions/interfaces_geneve.xml.in
Labels: backport, current

#3749 T6536: nat: add migration script that replaces wildcard charater
  src/migration-scripts/firewall/7-to-8
  src/migration-scripts/nat/6-to-7
Labels: current

#3760 syslog: T5366: remove reference to deprecated sysvinit rsyslog script
  data/templates/rsyslog/logrotate.j2
Labels: backport, current

#3769 T6546: unused import check permission update
  .github/workflows/check-unused-imports.yml
  python/vyos/utils/strip_config.py
Labels: current

#3767 op-mode: T6537: include hostname in the reboot/shutdown warning message
  src/op_mode/powerctrl.py
Labels: backport, current

#3776 vyos_net_name: T6544: Updated the `vyos_net_name` script
  python/vyos/utils/__init__.py
  python/vyos/utils/locking.py
  src/helpers/vyos_net_name
Labels: current

#3778 op-mode: T6371: fix output of NAT rules with single port range
  src/op_mode/nat.py
Labels: current

#3777 wireless: T4287: use upstream regulatory database due to kernel signing
  debian/vyos-1x.preinst
Labels: backport, current

#3782 wireless: T4287: use Debian postinst over preinst when using update-alternatives
  debian/vyos-1x.postinst
  debian/vyos-1x.preinst
Labels: backport, current

#3788 migration: T6007: add missing check for None in utility function
  python/vyos/component_version.py
Labels: current

#3785 T6556: trigger branches cleanup circinus
  .github/workflows/build-package.yml
  .github/workflows/chceck-pr-message.yml
  .github/workflows/check-unused-imports.yml
  .github/workflows/codeql.yml
Labels: current

#3784 T6556: workflow trigger branches cleanup
  .github/workflows/add-pr-labels.yml
  .github/workflows/chceck-pr-message.yml
  .github/workflows/check-unused-imports.yml
  .github/workflows/codeql.yml
  .github/workflows/package-smoketest.yml
Labels: current

#3711 T6496: Added support for WPA-Enterprise client-mode
  data/templates/wifi/wpa_supplicant.conf.j2
  interface-definitions/interfaces_wireless.xml.in
  src/conf_mode/interfaces_wireless.py
Labels: current

#3795 T6556: pull_request_target update in unused import - circinus
  .github/workflows/check-unused-imports.yml
Labels: circinus

#3792 T6556: pull_request_target update in unused import
  .github/workflows/check-unused-imports.yml
Labels: current

#3789 GitHub: T6494: do not use 0/null value to mark build succeed
  .github/workflows/package-smoketest.yml
Labels: current

#3790 smoketest: T6539: remove explicit test for non existing global log entry
  smoketest/scripts/cli/test_load-balancing_reverse-proxy.py
Labels: current

#3787 T6556: permission update for unused import check
  .github/workflows/check-unused-imports.yml
Labels: equuleus

#3786 T6556: permission update for unused import check
  .github/workflows/check-unused-imports.yml
Labels: sagitta

#3794 T6556: pull_request to pull_request_target type for unused import
  .github/workflows/check-unused-imports.yml
Labels: sagitta

#3791 op-mode: T6537: remove unused cmd imported from vyos.utils.process
  src/op_mode/powerctrl.py
Labels: backport, current

#3799 T6560: added workflow trigger path restrictions
  .github/workflows/check-unused-imports.yml
  .github/workflows/codeql.yml
  .github/workflows/package-smoketest.yml
  .github/workflows/sonarcloud.yml
Labels: current

#3756 vxlan: T6505: Support VXLAN VLAN-VNI range mapping in CLI
  interface-definitions/interfaces_vxlan.xml.in
  python/vyos/ifconfig/vxlan.py
  smoketest/scripts/cli/test_interfaces_vxlan.py
  src/conf_mode/interfaces_vxlan.py
Labels: current

#3802 T6564: workflow trigger restrictions for circinus
  .github/workflows/auto-author-assign.yml
  .github/workflows/build-package.yml
  .github/workflows/chceck-pr-message.yml
  .github/workflows/check-pr-conflicts.yml
  .github/workflows/check-stale.yml
  .github/workflows/check-unused-imports.yml
  .github/workflows/codeql.yml
  .github/workflows/sonarcloud.yml
Labels: circinus

#3801 T6564: workflow trigger restriction for sagitta
  .github/workflows/build-package.yml
  .github/workflows/check-unused-imports.yml
  .github/workflows/codeql.yml
Labels: sagitta

#3803 T6564: workflow trigger restrictions for equuleus
  .github/workflows/build-package.yml
  .github/workflows/check-unused-imports.yml
  .github/workflows/codeql.yml
Labels: equuleus

#3812 firewall: T6581: fix completion for "show firewall ... rule"
  op-mode-definitions/firewall.xml.in
Labels: current

#3813 configdep: T6559: fix regression in dependent script error under configd
  python/vyos/config.py
  python/vyos/configdep.py
  smoketest/scripts/cli/test_config_dependency.py
  src/services/vyos-configd
Labels: current

#3810 op-mode: T6575: add support for NTP service restart via CLI
  op-mode-definitions/restart-ntp.xml.in
Labels: backport, current

#3816 ruff: T6583: Added settings for ruff
  ruff.toml
Labels: current

#3809 T6572: added trigger pr caller workflow
  .github/workflows/trigger-pr.yml
Labels: current

#3817 op-mode: T6577: create generic service restart helper to work with the API
  op-mode-definitions/dhcp.xml.in
  op-mode-definitions/dns-dynamic.xml.in
  op-mode-definitions/dns-forwarding.xml.in
  op-mode-definitions/igmp-proxy.xml.in
  op-mode-definitions/mdns-reflector.xml.in
  op-mode-definitions/restart-router-advert.xml.in
  op-mode-definitions/restart-snmp.xml.in
  op-mode-definitions/restart-ssh.xml.in
  op-mode-definitions/reverse-proxy.xml.in
  op-mode-definitions/suricata.xml.in
  op-mode-definitions/vpn-ipsec.xml.in
  op-mode-definitions/vrrp.xml.in
  op-mode-definitions/webproxy.xml.in
  src/op_mode/restart.py
Labels: backport, current

#3811 op-mode: T6580: read active nodes directly from the config tree without calling cli-shell-api
  scripts/build-command-op-templates
Labels: current

#3820 T6590: rebase label worflow added
  .github/workflows/add-rebase-label.yml
Labels: current

#3818 op-mode: T6586: add a distinct exception for unconfigured objects (as opposed to entire subsystems)
  python/vyos/opmode.py
  src/op_mode/bridge.py
  src/op_mode/dhcp.py
  src/op_mode/ssh.py
  src/op_mode/zone.py
  src/services/api/graphql/session/errors/op_mode_errors.py
Labels: current

#3825 openvpn: T6591: deprecate OpenVPN server net30 topology
  interface-definitions/include/version/openvpn-version.xml.i
  interface-definitions/interfaces_openvpn.xml.in
  src/conf_mode/interfaces_openvpn.py
  src/migration-scripts/openvpn/2-to-3
Labels: current

#3828 T6578: Fix unhandled exception in "show openconnect-server sessions"
  src/op_mode/openconnect.py
Labels: current

#3835 GitHub: T6590: normalize LF in rebase label worflow file
  .github/workflows/add-rebase-label.yml
Labels: current

#3834 interfaces: T6592: moving an interface between VRF instances failed
  python/vyos/ifconfig/interface.py
  python/vyos/utils/network.py
  smoketest/scripts/cli/base_interfaces_test.py
  smoketest/scripts/cli/test_protocols_static.py
  smoketest/scripts/cli/test_vrf.py
  src/conf_mode/vrf.py
Labels: backport, current

#3838 smoketest: T6600: ospf: enable MPLS LDP on dummy interfaces
  smoketest/scripts/cli/test_protocols_ospf.py
Labels: current

#3841 T6599: ipsec: support disabling rekey of CHILD_SA, converge and fix defaults
  data/templates/ipsec/swanctl/peer.j2
  data/templates/ipsec/swanctl/remote_access.j2
  interface-definitions/vpn_ipsec.xml.in
  smoketest/scripts/cli/test_vpn_ipsec.py
  src/conf_mode/vpn_ipsec.py
Labels: current

#3833 wireless: T6597: improve hostapd startup and corresponding smoketests
  python/vyos/utils/process.py
  smoketest/scripts/cli/base_vyostest_shim.py
  smoketest/scripts/cli/test_interfaces_wireless.py
  smoketest/scripts/system/test_kernel_options.py
  src/conf_mode/interfaces_wireless.py
Labels: backport, current

#3832 T6594: Add missed pppd_compat module
  data/templates/accel-ppp/ipoe.config.j2
  data/templates/accel-ppp/l2tp.config.j2
  data/templates/accel-ppp/pptp.config.j2
  data/templates/accel-ppp/sstp.config.j2
Labels: current

#3850 openvpn: T3834: verify() is not allowed to change anything on the system
  src/conf_mode/interfaces_openvpn.py
Labels: backport, current

#3827 T6525: Add default dir for ext-scripts without absolute path
  smoketest/scripts/cli/test_service_snmp.py
  src/conf_mode/service_snmp.py
Labels: current

#3840 T6589: Return a dict when querying information about a single interface
  src/op_mode/interfaces.py
Labels: current

#3853 system_option: T5552: Apply IPv4 and IPv6 options after reapplying sysctls by TuneD
  data/config-mode-dependencies/vyos-1x.json
  src/conf_mode/system_option.py
Labels: backport, current

#3860 op_mode: T6596: pppoe operation command failed
  src/op_mode/connect_disconnect.py
Labels: backport, current

#3861 op_mode: T6593: Release DHCP interface does not work
  python/vyos/opmode.py
Labels: backport, current

#3856 vrf: T6602: verify supplied VRF name on all interface types
  smoketest/scripts/cli/base_interfaces_test.py
  src/conf_mode/interfaces_geneve.py
  src/conf_mode/interfaces_l2tpv3.py
  src/conf_mode/interfaces_vti.py
  src/conf_mode/interfaces_vxlan.py
Labels: backport, current

#3857 interface: T6592: remove interface from conntrack ct_iface_map on deletion
  python/vyos/ifconfig/interface.py
  python/vyos/ifconfig/l2tpv3.py
  python/vyos/utils/network.py
  smoketest/scripts/cli/base_interfaces_test.py
  smoketest/scripts/cli/test_interfaces_l2tpv3.py
Labels: backport, current

#3868 T6605: restore configd error formatting to be consistent with CLI
  src/services/vyos-configd
Labels: current

#3873 Debian: T6598: depend on podman version >=4.9.5
  debian/control
Labels: backport, current

#3880 smoketest: T6425: fix wireless smoketest CLI from invalid backport
  smoketest/scripts/cli/test_interfaces_wireless.py
Labels: sagitta

#3879 op_mode: T5744: PKI import OpenVPN shared key includess unexpected BEGIN and END
  src/op_mode/pki.py
Labels: current

#3616 firewall: T4694: Adding rt ipsec exists/missing match to firewall configs
  interface-definitions/include/firewall/common-rule-inet.xml.i
  interface-definitions/include/firewall/common-rule-ipv4-raw.xml.i
  interface-definitions/include/firewall/common-rule-ipv6-raw.xml.i
  interface-definitions/include/firewall/ipv4-hook-input.xml.i
  interface-definitions/include/firewall/ipv4-hook-output.xml.i
  interface-definitions/include/firewall/ipv4-hook-prerouting.xml.i
  interface-definitions/include/firewall/ipv6-hook-input.xml.i
  interface-definitions/include/firewall/ipv6-hook-output.xml.i
  interface-definitions/include/firewall/ipv6-hook-prerouting.xml.i
  interface-definitions/include/firewall/match-ipsec-in.xml.i
  interface-definitions/include/firewall/match-ipsec-out.xml.i
  interface-definitions/include/firewall/match-ipsec.xml.i
  interface-definitions/include/version/firewall-version.xml.i
  python/vyos/firewall.py
  smoketest/scripts/cli/test_firewall.py
  src/conf_mode/firewall.py
  src/migration-scripts/firewall/16-to-17
Labels: current

#3763 ipsec: T6148: Fixed reset command by adding init after terminating
  python/vyos/ipsec.py
  src/op_mode/ipsec.py
Labels: current, rebase

#3889 smoketest: T5705: use locally connected remote syslog servers
  smoketest/scripts/cli/test_system_syslog.py
Labels: backport, current

#3888 smoketest: T6614: initial support for op-mode command testing
  smoketest/scripts/cli/base_vyostest_shim.py
  smoketest/scripts/cli/test_op-mode_show.py
Labels: backport, current

#3874 smoketest: T6592: remove unused "import os"
  smoketest/scripts/cli/test_interfaces_l2tpv3.py
Labels: backport, current

#3897 T6349: Fix typo in file name
  .github/workflows/check-pr-message.yml
Labels: current

#3895 firewall: T4694: incomplete node checks in migration script
  src/migration-scripts/firewall/16-to-17
Labels: current

#3823 OpenVPN CLI-option: T6571: rename ncp-ciphers with data-ciphers
  data/templates/openvpn/server.conf.j2
  interface-definitions/include/version/openvpn-version.xml.i
  interface-definitions/interfaces_openvpn.xml.in
  python/vyos/template.py
  smoketest/config-tests/dialup-router-medium-vpn
  smoketest/scripts/cli/test_interfaces_openvpn.py
  src/conf_mode/interfaces_openvpn.py
  src/migration-scripts/openvpn/3-to-4
Labels: current

#3804 T6362: Create conntrack logger daemon
  data/templates/conntrack/sysctl.conf.j2
  debian/control
  interface-definitions/include/conntrack/log-common.xml.i
  interface-definitions/include/conntrack/log-protocols.xml.i
  interface-definitions/system_conntrack.xml.in
  smoketest/scripts/cli/test_system_conntrack.py
  src/conf_mode/system_conntrack.py
  src/services/vyos-conntrack-logger
  src/systemd/vyos-conntrack-logger.service
Labels: current

#3898 vyos.configtree: T6620: allow list_nodes() to work on non-existent paths
  python/vyos/configtree.py
  src/migration-scripts/openvpn/1-to-2
  src/migration-scripts/openvpn/2-to-3
  src/migration-scripts/openvpn/3-to-4
Labels: current

#3740 pbr: T6430: Allow forwarding into VRFs by name as well as route table IDs
  interface-definitions/include/policy/route-common.xml.i
  python/vyos/defaults.py
  python/vyos/firewall.py
  smoketest/scripts/cli/test_policy_route.py
  src/conf_mode/policy_route.py
Labels: current

#3883 vrf: T6603: conntrack ct_iface_map must only contain one entry for iifname/oifname
  smoketest/scripts/cli/test_vrf.py
  src/conf_mode/vrf.py
Labels: backport, current

#3899 T6572: trigger remote pr only for circinus pr merge
  .github/workflows/trigger-pr.yml
Labels: current

#3698 system: op-mode: T3334: allow delayed getty restart when configuring serial ports
  op-mode-definitions/restart-serial.xml.in
  python/vyos/utils/serial.py
  src/completion/list_login_ttys.py
  src/conf_mode/system_console.py
  src/op_mode/serial.py
Labels: current

#3747 T6486: T6379: Rewrite generate openvpn client-config
  src/op_mode/generate_ovpn_client_file.py
Labels: current

#3912 T6572: stop repo sync for circinus
  .github/workflows/repo-sync.yml
Labels: circinus

#3902 GitHub: T6560: action must be run on forked repo
  .github/workflows/package-smoketest.yml
Labels: current

#3915 ipsec: T6148: Removed unused imports
  src/op_mode/ipsec.py
Labels: current
