Repository vyos/vyos-1x, pull requests merged in 2025-08, with the labels that each got.

#4639 T7668: bail out early in get_cli_kernel_options() if nothing is to do
  src/op_mode/image_installer.py
Labels: current, bp/circinus

#4635 op-mode: T6656: fix incorrect op mode command definitions
  op-mode-definitions/poweroff.xml.in
  op-mode-definitions/reboot.xml.in
  op-mode-definitions/show-interfaces-bonding.xml.in
  op-mode-definitions/show-interfaces-input.xml.in
Labels: current

#4617 debian: T7653: Extend and clarify the debian/copyright file
  debian/copyright
Labels: current, bp/sagitta, bp/circinus

#4653 T7699: Fix update of command/help fields in the op_mode_cache generator when paths are shared across files
  python/vyos/xml_ref/generate_op_cache.py
  python/vyos/xml_ref/op_definition.py
Labels: current

#4645 vxlan: T7468: add VLAN-to-VNI mapping description
  interface-definitions/interfaces_vxlan.xml.in
  src/conf_mode/interfaces_vxlan.py
Labels: current, bp/circinus

#4656 bond: T7571: fix inconsistent MAC address behaviour
  python/vyos/ifconfig/bond.py
  smoketest/scripts/cli/test_interfaces_bonding.py
Labels: current, bp/sagitta, bp/circinus

#4661 http-api: T7711: config sync method should be async
  src/services/api/rest/routers.py
Labels: current

#4659 haproxy: T7715: Add rule matching on subdomains
  data/templates/load-balancing/haproxy.cfg.j2
  interface-definitions/include/haproxy/rule-backend.xml.i
  interface-definitions/include/haproxy/rule-frontend.xml.i
  interface-definitions/include/haproxy/rule-match-domain.xml.i
  smoketest/scripts/cli/test_load-balancing_haproxy.py
Labels: current, bp/circinus

#4647 T7678: Move "vpp settings host-resources" to "system option resource-limits"
  interface-definitions/include/vpp_host_resources.xml.i
  interface-definitions/system_option.xml.in
  interface-definitions/vpp.xml.in
  python/vyos/vpp/config_resource_checks/memory.py
  python/vyos/vpp/config_verify.py
  smoketest/scripts/cli/test_vpp.py
  src/conf_mode/system_option.py
  src/conf_mode/vpp.py
Labels: current, bp/circinus

#4671 kea: T6211: fix error in op_mode for VRF support for KEA
  src/op_mode/dhcp.py
Labels: current, rebase

#4628 conntrack: T7482: Fix custom timeouts
  data/templates/conntrack/nftables-ct.j2
  smoketest/scripts/cli/test_system_conntrack.py
Labels: current

#4681 T7748: conflict check workflow updated to marketplace action with increased wait and retry
  .github/workflows/check-open-prs-conflict.yml
  .github/workflows/check-pr-conflicts.yml
Labels: current

#4683 T7759: Revert "T7709: add atomic write for config file save"
  python/vyos/component_version.py
  python/vyos/utils/file.py
  src/helpers/vyos-save-config.py
Labels: current, bp/circinus

#4674 op-mode: T7745: add a CLI for operator user command permissions
  data/config.boot.default
  interface-definitions/system_login.xml.in
  src/conf_mode/system_login.py
  src/opt/vyatta/etc/shell/level/users/allowed-op
  src/opt/vyatta/etc/shell/level/users/allowed-op.in
  src/opt/vyatta/share/vyatta-op/functions/interpreter/vyatta-op-run
Labels: current

#4685 Debian: T7762: adjust vyos-1x package version to not mention 1.5 in any way
  debian/changelog
  debian/rules
Labels: current
