Repository vyos/vyos-1x, pull requests merged in 2025-03, with the labels that each got.

#4376 Revert "wireguard: T4930: remove pylint W0611: unused import"
  python/vyos/ifconfig/wireguard.py
Labels: current

#4379 GitHub: T5400: evaluate OPAM environment before package build
  .github/workflows/package-smoketest.yml
Labels: current

#4377 syslog: T6989: fix typos and add option to disable MARK
  data/templates/rsyslog/rsyslog.conf.j2
  interface-definitions/system_syslog.xml.in
  smoketest/scripts/cli/test_system_syslog.py
Labels: current, bp/circinus

#4378 T5400: Move libvyosconfig build out of the Docker image
  Makefile
  debian/control
  python/vyos/configtree.py
Labels: current

#4380 T4406: Add public API endpoint to display information
  data/templates/https/nginx.default.j2
  src/services/api/rest/models.py
  src/services/vyos-http-api-server
Labels: current, bp/circinus

#4381 ipsec: T7225: "generate ipsec profile ios-remote-access" throws UndefinedError
  data/templates/ipsec/ios_profile.j2
Labels: current, bp/sagitta, bp/circinus

#4386 syslog: T7229: advanced format should not have IPv6 addresses in [] brackets
  data/templates/rsyslog/rsyslog.conf.j2
  smoketest/scripts/cli/test_system_syslog.py
Labels: current, bp/circinus

#4388 T5400: clean up directory as needed before local build of libvyosconfig
  Makefile
Labels: current

#4321 T7092: Add Container Registry Mirror
  data/templates/container/registries.conf.j2
  interface-definitions/container.xml.in
  src/conf_mode/container.py
Labels: current, rebase, bp/circinus

#4383 T7219: Add check for remote and group command to verify
  smoketest/scripts/cli/test_interfaces_vxlan.py
  src/conf_mode/interfaces_vxlan.py
Labels: current, bp/circinus

#4389 ipsec: T7242: Add a check for encryption algorithms that do not work with VPP
  src/conf_mode/vpn_ipsec.py
Labels: current

#4385 T7227: show bgp: add filtering by rd and prefix option for ipv4/6 vpn table
  op-mode-definitions/include/bgp/afi-ipv4-ipv6-vpn-rd.xml.i
  op-mode-definitions/include/bgp/afi-ipv4-ipv6-vpn.xml.i
Labels: current, bp/circinus

#4394 smoketest: T7248: ensure there is no Yacc/Bison error in wide-dhcpv6-client
  smoketest/scripts/cli/base_interfaces_test.py
Labels: current, bp/sagitta, bp/circinus

#4393 T5400: initialize OPAM environment where it's really needed
  .github/workflows/package-smoketest.yml
  Makefile
Labels: current

#4401 console-server: T7217: generate Dropbear SSH keys if they do not exist
  data/templates/conserver/dropbear@.service.j2
  src/conf_mode/service_console-server.py
Labels: current, bp/sagitta, bp/circinus

#4399 T7252: Allow vpptun and vpptap for constraint validator
  interface-definitions/include/constraint/interface-name.xml.i
Labels: current

#4405 pki: T7249: fix shebang to support CLI backend
  src/helpers/vyos-certbot-renew-pki.sh
Labels: current, bp/sagitta, bp/circinus

#4398 T7121: Set up communication vyconfd to vyos-commitd
  .gitignore
  Makefile
  debian/control
  python/setup.py
  python/vyos/config_mgmt.py
  python/vyos/configsource.py
  python/vyos/configtree.py
  python/vyos/defaults.py
  python/vyos/proto/__init__.py
  src/helpers/show_commit_data.py
  src/helpers/test_commit.py
  src/services/vyos-commitd
  src/systemd/vyos-commitd.service
  src/tests/test_config_diff.py
Labels: current

#4406 T7246: do not pass unneeded version string to parser
  python/vyos/configtree.py
  tests/data/config.valid
Labels: current, bp/sagitta, bp/circinus

#4407 T7246: update libvyosconfig hash and add nosetest
  Makefile
  src/tests/test_config_parser.py
  tests/data/config.valid
Labels: current

#4402 wireguard: T7246: verify Base64 encoded 32byte boundary on keys
  interface-definitions/include/constraint/wireguard-keys.xml.i
  interface-definitions/interfaces_wireguard.xml.in
  src/validators/base64
Labels: current, bp/sagitta, bp/circinus

#4400 T7138: Fix show qos
  src/op_mode/qos.py
Labels: current

#4397 T861: rename Secure Boot MOK (Machine Owner Key) file
  op-mode-definitions/install-mok.xml.in
Labels: current

#4413 T7278: Remove cracklib hack from postconfig script template
  debian/vyos-1x.postinst
  python/vyos/utils/auth.py
  src/conf_mode/system_login.py
  src/op_mode/image_installer.py
Labels: current

#4415 T7246: update hash for strip version on config load
  Makefile
Labels: current

#4423 T7294: preserve /config symlinks on image upgrade
  src/op_mode/image_installer.py
Labels: current, bp/sagitta, bp/circinus

#4418 T7291: disabled codeowners review
  CODEOWNERS
Labels: backport, current

#4416 T7286: Add CLI option to disable LDP establish packets
  data/templates/frr/ldpd.frr.j2
  interface-definitions/protocols_mpls.xml.in
  smoketest/scripts/cli/test_protocols_mpls.py
Labels: current, bp/circinus

#4409 syslog: T7270: fix typos in rsyslog.conf
  data/templates/rsyslog/rsyslog.conf.j2
  interface-definitions/system_syslog.xml.in
  smoketest/scripts/cli/test_system_syslog.py
Labels: current, bp/circinus

#4424 pki: T7299: race condition for acme requested certificates / CA chain
  src/conf_mode/pki.py
Labels: current, bp/sagitta, bp/circinus

#4420 virtual-ethernet: T7293: add support to define interface MTU
  interface-definitions/interfaces_virtual-ethernet.xml.in
  smoketest/scripts/cli/base_interfaces_test.py
Labels: current, bp/sagitta, bp/circinus
