Repository vyos/vyos-1x, pull requests merged in 2025-04, with the labels that each got.

#4429 installer: T7301: remove support for GnuPG signatures
  src/op_mode/image_installer.py
Labels: current, bp/sagitta, bp/circinus, mirror-initiated

#4428 login: T7159: limit the "not a production version" to dev builds
  src/conf_mode/system_login_banner.py
Labels: current, bp/sagitta, bp/circinus, mirror-completed

#4432 T7289: fix relative path for git submodule url
  .gitmodules
Labels: current

#4431 T7290: Fix VPN IPsec log level processing
  data/templates/ipsec/charon_systemd.conf.j2
  src/conf_mode/vpn_ipsec.py
Labels: current

#4436 frrender: T7273: always start from the configs root level
  python/vyos/frrender.py
Labels: current

#4434 T7314: firewall op-mode: implement more detailed view of remote-groups
  src/op_mode/firewall.py
Labels: current

#4437 kea: T7324: Fix kea_get_domain_from_subnet_id returning incorrect value
  python/vyos/kea.py
Labels: current

#4439 T7325: wifi: mac80211_hwsim kernel module no longer supports VLAN interfaces in smoketests
  smoketest/scripts/cli/base_interfaces_test.py
  smoketest/scripts/cli/test_interfaces_loopback.py
  smoketest/scripts/cli/test_interfaces_virtual-ethernet.py
  smoketest/scripts/cli/test_interfaces_wireless.py
Labels: current, bp/sagitta, bp/circinus

#4433 T7311: syslog: Fix duplicate kernel log entries
  data/templates/rsyslog/rsyslog.conf.j2
Labels: current, bp/circinus

#4422 T7254: op-mode: Add spanning-tree op-mode commands
  data/op-mode-standardized.json
  op-mode-definitions/show-bridge.xml.in
  src/op_mode/stp.py
Labels: current

#4410 dns: T7277: fix service/dns/forwarding/dhcp not parsed
  src/conf_mode/service_dns_forwarding.py
Labels: current

#4441 debian: T7336: update RADIUS library dependency names
  debian/control
Labels: current

#4443 netplug: T7346: only call interface helpers if interface is not removed
  src/etc/netplug/vyos-netplug-dhcp-client
Labels: current, bp/sagitta, bp/circinus

#4448 T7355: cleanup unused Python3 imports
  Makefile
  smoketest/scripts/cli/test_interfaces_vxlan.py
  smoketest/scripts/cli/test_system_login.py
  src/conf_mode/system_login.py
  src/services/vyos-conntrack-logger
  src/services/vyos-hostsd
Labels: current

#4451 T7359: confirm image name is available before proceeding with image installation
  src/op_mode/image_installer.py
Labels: current

#4450 vyos-router: T7356: unset ANSI bold control character during boot
  src/init/vyos-router
Labels: current, bp/sagitta, bp/circinus

#4440 firewall: T7333: Use separate cache keys per inet family
  src/services/vyos-domain-resolver
Labels: current, bp/sagitta, bp/circinus

#4430 kea: T7310: add support for RFC-5417 (option 138)
  interface-definitions/include/dhcp/option-v4.xml.i
  interface-definitions/include/dhcp/option-v6.xml.i
  python/vyos/kea.py
  smoketest/scripts/cli/test_service_dhcp-server.py
  smoketest/scripts/cli/test_service_dhcpv6-server.py
Labels: current

#4449 T7353: T7360: netplug: behavior change 1.3.8 -> 1.4 when interface with DHCP address looses carrier
  src/etc/netplug/vyos-netplug-dhcp-client
  src/init/vyos-router
  src/systemd/netplug.service
  src/systemd/vyos.target
Labels: current, bp/sagitta, bp/circinus

#4214 ids: T7241: remove Fastnetmon from the base system
  data/templates/ids/fastnetmon.j2
  data/templates/ids/fastnetmon_excluded_networks_list.j2
  data/templates/ids/fastnetmon_networks_list.j2
  debian/control
  debian/vyos-1x.postinst
  interface-definitions/include/version/ids-version.xml.i
  interface-definitions/service_ids_ddos-protection.xml.in
  op-mode-definitions/monitor-log.xml.in
  op-mode-definitions/show-log.xml.in
  smoketest/scripts/cli/test_service_ids_ddos-protection.py
  src/conf_mode/service_ids_ddos-protection.py
  src/etc/systemd/system/fastnetmon.service.d/override.conf
  src/migration-scripts/ids/1-to-2
Labels: current, rebase

#4454 dhcpv6-client: T6113: add proper startup/shutdown order for systemd units
  data/templates/dhcp-client/ipv6.override.conf.j2
Labels: current, bp/sagitta, bp/circinus

#4446 T7343: IPsec add traffic-selector handling for VTI interfaces
  data/templates/ipsec/swanctl/peer.j2
  interface-definitions/vpn_ipsec.xml.in
  smoketest/scripts/cli/test_vpn_ipsec.py
Labels: current, bp/sagitta, bp/circinus

#4453 grub: T7327: honor "system option kernel" settings during image upgrade
  op-mode-definitions/system-image.xml.in
  python/vyos/system/grub_util.py
  src/conf_mode/system_option.py
  src/op_mode/image_installer.py
Labels: current, bp/sagitta, bp/circinus

#4458 firewall: T7369: Match global state policies in show firewall
  op-mode-definitions/show-log.xml.in
Labels: current

#4459 firewall: T7370: Add conntrack log commands
  op-mode-definitions/show-log.xml.in
Labels: current

#4462 T7334: pr mirror trigger workflow added with label creation permission for default github token
  .github/workflows/trigger-pr-mirror-repo-sync.yml
Labels: current

#4153 T6773: RFC-2136 support for Kea DHCP4 server
  data/templates/dhcp-server/kea-dhcp-ddns.conf.j2
  data/templates/dhcp-server/kea-dhcp4.conf.j2
  interface-definitions/include/dhcp/ddns-dns-server.xml.i
  interface-definitions/include/dhcp/ddns-settings.xml.i
  interface-definitions/service_dhcp-server.xml.in
  python/vyos/kea.py
  python/vyos/template.py
  smoketest/config-tests/basic-vyos
  smoketest/configs/basic-vyos
  smoketest/scripts/cli/test_service_dhcp-server.py
  src/conf_mode/service_dhcp-server.py
  src/etc/systemd/system/kea-dhcp-ddns-server.service.d/override.conf
Labels: current, rebase, bp/circinus

#4466 ospf: T7383: Fixed unconfigured redistribution of nhrp into ospf
  python/vyos/frrender.py
Labels: current

#4444 bridge: T7322: fix slow performance of allowed vlan
  python/vyos/configdict.py
  python/vyos/ifconfig/bridge.py
Labels: current, bp/circinus

#4392 interface: T4627: support setting of IPv6 Interface Identifier(Token)
  interface-definitions/include/interface/ipv6-address-interface-identifier.xml.i
  interface-definitions/include/interface/ipv6-address.xml.i
  python/vyos/configdict.py
  python/vyos/configverify.py
  python/vyos/ifconfig/interface.py
  smoketest/scripts/cli/base_interfaces_test.py
Labels: current, bp/circinus

#4419 geoip: T5636: Add geoip for policy route/route6
  data/templates/firewall/nftables-geoip-update.j2
  data/templates/firewall/nftables-policy.j2
  interface-definitions/policy_route.xml.in
  python/vyos/firewall.py
  smoketest/scripts/cli/test_policy_route.py
  src/conf_mode/firewall.py
  src/conf_mode/policy_route.py
  src/helpers/geoip-update.py
Labels: current

#4461 interface: T7375: cleanup SLAAC assigned address and default route after removing SLAAC CLI configuration
  python/vyos/ifconfig/interface.py
  src/etc/sysctl.d/30-vyos-router.conf
  src/systemd/vyos.target
Labels: current, bp/sagitta, bp/circinus

#4467 interface: T4627: not every interface type supports IPv6 interface-identifiers
  interface-definitions/include/interface/ipv6-address.xml.i
  interface-definitions/include/interface/ipv6-options-with-nd.xml.i
  interface-definitions/include/interface/ipv6-options.xml.i
  interface-definitions/include/interface/vif-s.xml.i
  interface-definitions/include/interface/vif.xml.i
  interface-definitions/interfaces_bonding.xml.in
  interface-definitions/interfaces_bridge.xml.in
  interface-definitions/interfaces_ethernet.xml.in
  interface-definitions/interfaces_geneve.xml.in
  interface-definitions/interfaces_l2tpv3.xml.in
  interface-definitions/interfaces_macsec.xml.in
  interface-definitions/interfaces_openvpn.xml.in
  interface-definitions/interfaces_pppoe.xml.in
  interface-definitions/interfaces_pseudo-ethernet.xml.in
  interface-definitions/interfaces_vxlan.xml.in
  interface-definitions/interfaces_wireless.xml.in
  interface-definitions/interfaces_wwan.xml.in
Labels: current

#4465 dhclient: T6253: Respect `no-default-route`
  src/etc/dhcp/dhclient-enter-hooks.d/06-vyos-nodefaultroute
Labels: current

#4463 router-advert: T7380: Implement auto-ignore-prefix syntax for router advertisements
  data/templates/router-advert/radvd.conf.j2
  debian/control
  interface-definitions/service_router-advert.xml.in
  smoketest/scripts/cli/test_service_router-advert.py
Labels: current

#4414 T7282: op-mode: show firewall group filtering and tab completion update
  op-mode-definitions/firewall.xml.in
  scripts/build-command-op-templates
  src/op_mode/firewall.py
Labels: current, bp/sagitta, bp/circinus

#4469 bgp: T7220: Add the option to disable enforce-first-as at peer level
  data/templates/frr/bgpd.frr.j2
Labels: current

#4457 firewall: T7358: add offload option to global state policy
  data/templates/firewall/nftables.j2
  interface-definitions/include/firewall/global-options.xml.i
  smoketest/scripts/cli/test_firewall.py
  src/conf_mode/firewall.py
Labels: current

#4471 T7394: add system image raises not iterable error
  src/op_mode/image_installer.py
Labels: current, bp/sagitta, bp/circinus

#4475 smoketest: T7400: fix unbound variable when checking VXLAN remote and group settings
  smoketest/scripts/cli/test_interfaces_vxlan.py
Labels: current, bp/sagitta, bp/circinus

#4477 T7397: add "system kernel option quiet" to suppress boot messages
  interface-definitions/system_option.xml.in
  smoketest/scripts/cli/test_system_option.py
  smoketest/scripts/system/test_kernel_options.py
  src/conf_mode/system_option.py
  src/op_mode/image_installer.py
Labels: current, bp/sagitta, bp/circinus

#4464 T7382: adds podman log driver configuration option
  data/templates/container/containers.conf.j2
  interface-definitions/container.xml.in
  smoketest/scripts/cli/test_container.py
Labels: current

#4486 node_exporter: T7416: Add missing backslash in node_exporter.service
  data/templates/prometheus/node_exporter.service.j2
Labels: current, bp/circinus

#4485 https: T7393: set listen-address bind fails silently without restart
  smoketest/scripts/cli/test_service_https.py
  src/conf_mode/service_https.py
Labels: current, bp/sagitta, bp/circinus

#4476 session: T6696: 'clear session' to 'reset session'
  op-mode-definitions/reset-session.xml.in
Labels: current, bp/circinus
