Repository vyos/vyos-1x, pull requests merged in 2025-07, with the labels that each got.

#4580 build: T7580: add support for standalone and virtual tag nodes to the op mode cache generator
  python/vyos/xml_ref/generate_op_cache.py
  python/vyos/xml_ref/op_definition.py
Labels: current

#4584 T7589: Add no-split-gso and ack-filter for CAKE
  interface-definitions/qos.xml.in
  python/vyos/qos/cake.py
  smoketest/scripts/cli/test_qos.py
Labels: current

#4591 T7588: Call libvyosconfig functions from main thread under http-api
  python/vyos/config_mgmt.py
  python/vyos/configsession.py
  python/vyos/utils/backend.py
  src/services/api/rest/routers.py
Labels: current

#4596 wlb: T7622: fix the op mode "run show wan-load-balance" command
  src/op_mode/load-balancing_wan.py
Labels: current, bp/circinus

#4586 T7595: Support PROXY protocol for haproxy
  data/templates/load-balancing/haproxy.cfg.j2
  interface-definitions/include/haproxy/listen-address.xml.i
  interface-definitions/load-balancing_haproxy.xml.in
Labels: current, rebase, bp/circinus

#4598 T7623: Add test route static dhcp in VRF
  smoketest/scripts/cli/test_protocols_static.py
Labels: current, bp/circinus

#4606 T7627: fix regression to allow load without arg to load default config
  src/helpers/vyos-load-config.py
Labels: current

#4605 T7625: load-balancing: prune limit key if not configured
  smoketest/scripts/cli/test_load-balancing_wan.py
  src/helpers/vyos-load-balancer.py
Labels: current

#4610 T7619: Removed REMOTE_REPO var from mirror workflow
  .github/workflows/pr-mirror-repo-sync.yml
Labels: current

#4611 T6704: limit size of noteworthy list in airbag
  python/vyos/airbag.py
  python/vyos/defaults.py
Labels: current, bp/sagitta, bp/circinus

#4612 T7645: fix missing import and incorrect check of is_node_changed
  src/conf_mode/nat64.py
Labels: current, bp/circinus

#4613 T7648: Set up a linter check to check complete files for syntax errors and missing imports
  Makefile
  debian/control
  python/vyos/ifconfig/control.py
  python/vyos/ifconfig/interface.py
  python/vyos/utils/dict.py
  python/vyos/utils/file.py
  python/vyos/utils/misc.py
  python/vyos/utils/network.py
  python/vyos/utils/permission.py
  src/conf_mode/qos.py
  src/conf_mode/service_broadcast-relay.py
  src/conf_mode/service_dhcp-server.py
  src/conf_mode/service_dhcpv6-server.py
  src/conf_mode/service_mdns_repeater.py
  src/conf_mode/service_stunnel.py
  src/conf_mode/system_login.py
  src/migration-scripts/interfaces/0-to-1
  src/migration-scripts/interfaces/5-to-6
  src/migration-scripts/quagga/2-to-3
  src/migration-scripts/vrrp/1-to-2
  src/op_mode/connect_disconnect.py
  src/op_mode/pki.py
  src/op_mode/storage.py
Labels: current

#4609 T5797: Adjust MSS clamping from forward to postrouting hook
  data/vyos-firewall-init.conf
Labels: current, bp/sagitta, bp/circinus

#4619 T7649: Add missed system kernel options for image installer
  src/op_mode/image_installer.py
Labels: current, bp/circinus

#4623 T7649: Fix use hyphens instead of underscores for kernel options
  src/op_mode/image_installer.py
Labels: current

#4626 qat: T7662: add PCI ID range for Intel C62x virtual function devices
  src/conf_mode/system_acceleration.py
  src/op_mode/show_acceleration.py
Labels: current, bp/circinus

#4625 isis: T7639: set SRv6 locator in ISIS
  data/templates/frr/isisd.frr.j2
  interface-definitions/include/isis/protocol-common-config.xml.i
  interface-definitions/include/ospf/protocol-common-config.xml.i
  interface-definitions/protocols_segment-routing.xml.in
  interface-definitions/service_config-sync.xml.in
  smoketest/scripts/cli/test_protocols_isis.py
Labels: current, bp/circinus

#4631 T7668: Fix image update due to None kernel options
  src/op_mode/image_installer.py
Labels: current, bp/circinus

#4636 T7672: fix field entries for paths shared across .xml files
  python/vyos/xml_ref/generate_op_cache.py
  python/vyos/xml_ref/op_definition.py
Labels: current

#4630 T7651: VPP use pid not ppid as default in vpp-failure-handler.service script
  src/helpers/reset_section.py
Labels: current, bp/circinus

#4638 serial: T7484: treat unavailable serial console devices as non-fatal
  python/vyos/utils/serial.py
  src/conf_mode/system_console.py
Labels: current, bp/sagitta, bp/circinus

#4634 T7671: move AWS GLB CLI configuration to a separate package
  .gitignore
  debian/control
  debian/rules
  debian/vyos-1x-aws.install
Labels: current, bp/circinus
