Repository vyos/vyos-1x, pull requests merged in 2025-05, with the labels that each got.

#4452 T7364: Fixing Route reflector client check not working for peer-group
  src/conf_mode/protocols_bgp.py
Labels: current, rebase, bp/sagitta, bp/circinus

#4472 T7396: Return the old script to generate tech-support archive
  op-mode-definitions/generate_tech-support_archive.xml.in
Labels: current

#4489 installer: T7420: pass image download credentials in environment variables
  src/op_mode/image_installer.py
Labels: current, bp/sagitta, bp/circinus

#4470 router-advert: T7389: Duplicate prefix safeguard
  data/templates/router-advert/radvd.conf.j2
  smoketest/scripts/cli/test_service_router-advert.py
Labels: current, bp/sagitta, bp/circinus

#4481 T7412: Allow privileged containers
  interface-definitions/container.xml.in
  src/conf_mode/container.py
Labels: current, rebase, bp/sagitta, bp/circinus

#4478 T7408: add mokutil in arm64
  debian/control
Labels: current

#4488 bgp: T7157: Fixed error with the unknown key in the verification
  src/conf_mode/protocols_bgp.py
Labels: current, bp/circinus

#4492 Revert "vyos-router: T7356: unset ANSI bold control character during boot"
  src/init/vyos-router
Labels: current, bp/sagitta, bp/circinus

#4387 installer: T7049: Fix GRUB boot with RAID1
  src/op_mode/image_installer.py
Labels: current, bp/sagitta, bp/circinus

#4447 interfaces: T7268: Add op-mode command for show all interfaces on system
  op-mode-definitions/show-interfaces.xml.in
  src/op_mode/interfaces.py
Labels: current, rebase, bp/circinus

#4495 frr: T7431: missing logging options after rewrite to frrender class
  python/vyos/frrender.py
Labels: current

#4493 T7417: check existence of paths before set_tag/return_value in migration scripts vrf/1-to-2; vrf/2-to-3
  src/migration-scripts/vrf/1-to-2
  src/migration-scripts/vrf/2-to-3
Labels: current, bp/sagitta, bp/circinus

#4323 utils: T7095: make `vrf` and `netns` arguments aware of the shell
  python/vyos/utils/process.py
Labels: current

#4484 nat66: T7051: snat group as destination
  interface-definitions/nat66.xml.in
  smoketest/scripts/cli/test_nat66.py
  src/conf_mode/nat66.py
Labels: current, bp/circinus

#4491 T7423: Add kernel boot options isolcpus, hugepages, numa_balancing
  interface-definitions/system_option.xml.in
  smoketest/scripts/cli/test_system_option.py
  src/conf_mode/system_option.py
  src/validators/cpu
Labels: current, rebase, bp/circinus

#4494 haproxy: T7429: remove unsupported logging facility and log level
  interface-definitions/include/haproxy/logging.xml.i
  interface-definitions/include/version/reverseproxy-version.xml.i
  smoketest/config-tests/basic-haproxy
  smoketest/configs/basic-haproxy
  src/migration-scripts/reverse-proxy/2-to-3
Labels: current, bp/sagitta, bp/circinus

#4500 frr: T7411: preserve FRR config on service restart if it exists
  src/etc/systemd/system/frr.service.d/override.conf
Labels: current, bp/sagitta, bp/circinus

#4483 T7386: firewall: Allow IPv6 member in firewall remote-groups
  data/templates/firewall/nftables-defines.j2
  interface-definitions/include/firewall/common-rule-ipv6.xml.i
  python/vyos/firewall.py
  python/vyos/utils/network.py
  smoketest/scripts/cli/test_firewall.py
  src/op_mode/firewall.py
  src/services/vyos-domain-resolver
Labels: current

#4503 T7157: bgp: Added verification of the route-map existence in vrf import
  src/conf_mode/protocols_bgp.py
Labels: current, bp/sagitta, bp/circinus

#4502 T7443: Un-restricting non-root logins after scheduled reboot/shutdown via pam_nologin
  debian/vyos-1x.postinst
  smoketest/scripts/cli/test_system_login.py
Labels: current, bp/sagitta, bp/circinus

#4510 T7414: Fix conntrack ignore rules for using several ports
  python/vyos/template.py
  smoketest/scripts/cli/test_system_conntrack.py
Labels: bp/sagitta, bp/circinus

#4509 T7458: Fix VPN IPsec unexpected passthrough logic bug
  src/conf_mode/vpn_ipsec.py
Labels: bp/sagitta, bp/circinus

#4517 bonding: T7466: fix the 802.3ad regex
  interface-definitions/interfaces_bonding.xml.in
Labels: current, bp/sagitta, bp/circinus

#4516 snmp: T7464: fix the community string validation regex for compatibility with PCRE2
  interface-definitions/service_snmp.xml.in
Labels: current

#4482 policy: T5069: large-community-list regex validator disallows whitespace
  src/conf_mode/policy.py
  src/validators/bgp-large-community-list
Labels: current, bp/sagitta, bp/circinus

#4518 xml: T7467: remove ^/$ wrapping from validation regexes
  interface-definitions/include/firewall/geoip.xml.i
  interface-definitions/include/haproxy/rule-backend.xml.i
  interface-definitions/include/haproxy/rule-frontend.xml.i
  interface-definitions/load-balancing_haproxy.xml.in
  interface-definitions/policy.xml.in
Labels: current, bp/circinus

#4511 T7335: Fix typo for HAproxy help redirect-location path
  interface-definitions/include/haproxy/rule-frontend.xml.i
Labels: bp/sagitta, bp/circinus

#4498 prometheus: T7435: Ensure only configured exporters are started
  src/conf_mode/service_monitoring_prometheus.py
Labels: current, bp/circinus

#4515 pppoe: T7463: Added restart if CoA is changed
  src/conf_mode/service_pppoe-server.py
Labels: current, bp/sagitta, bp/circinus

#4520 T7445: added open prs conflict checker caller workflow
  .github/workflows/check-open-prs-conflict.yml
Labels: current

#4501 T1771: automatic reboot of system into previous image
  data/config.boot.default
  interface-definitions/system_option.xml.in
  src/helpers/run-config-migration.py
  src/init/vyos-router
  src/op_mode/image_info.py
  src/op_mode/image_installer.py
Labels: current, bp/circinus

#4514 ipoe_server: T6997: Do not require to create client ip pool when dhcp-relay is used
  python/vyos/accel_ppp_util.py
Labels: current

#4521 ipoe_server: T7472: Add validation for giaddr if dhcp-relay is defined
  src/conf_mode/service_ipoe-server.py
Labels: current, bp/circinus

#4525 vyos-1x-vmware: T3681: Fix Python bytecompile exclusion
  Makefile
  debian/control
Labels: current, bp/sagitta, bp/circinus

#4523 accel-ppp: T7471: Changed CoA port completion help to standard template
  interface-definitions/include/accel-ppp/radius-additions.xml.i
Labels: current, bp/sagitta, bp/circinus

#4530 http-api: T7498: allow passing config string in body of 'load' or 'merge' request
  python/vyos/configsession.py
  src/services/api/rest/models.py
  src/services/api/rest/routers.py
Labels: current, bp/circinus

#4266 T6013: Add support for AuthorizedPrincipalsFile to trusted_user_ca_key
  data/config-mode-dependencies/vyos-1x.json
  data/templates/login/authorized_keys.j2
  data/templates/login/authorized_principals.j2
  data/templates/ssh/sshd_config.j2
  interface-definitions/service_ssh.xml.in
  interface-definitions/system_login.xml.in
  python/vyos/configverify.py
  python/vyos/defaults.py
  python/vyos/template.py
  python/vyos/utils/file.py
  smoketest/scripts/cli/base_vyostest_shim.py
  smoketest/scripts/cli/test_service_ssh.py
  src/conf_mode/pki.py
  src/conf_mode/service_ssh.py
  src/conf_mode/system_login.py
  src/tests/test_template.py
Labels: current, bp/circinus
