Repository vyos/vyos-1x, pull requests merged in 2025-06, with the labels that each got.

#4537 nat: T7237: Remove expensive NAT address check
  src/conf_mode/nat.py
Labels: current, bp/sagitta, bp/circinus

#4543 T7514: Fix smoketest QoS burst bytes replaced with kilobytes
  smoketest/scripts/cli/test_qos.py
Labels: current, bp/circinus

#4533 http-api: T3955: add commit-confirm to endpoints /configure /config-file
  python/vyos/config_mgmt.py
  python/vyos/configsession.py
  python/vyos/defaults.py
  src/services/api/rest/models.py
  src/services/api/rest/routers.py
Labels: current

#4544 T7523: firewall: Accepting invalid traffic for pppoe discovery and wol
  data/templates/firewall/nftables.j2
  interface-definitions/include/firewall/global-options.xml.i
  smoketest/scripts/cli/test_firewall.py
Labels: current, bp/sagitta, bp/circinus

#4548 conntrack: T7208: nf_conntrack_buckets defaults and behavior
  data/templates/conntrack/sysctl.conf.j2
  data/templates/conntrack/vyos_nf_conntrack.conf.j2
  interface-definitions/include/version/conntrack-version.xml.i
  interface-definitions/system_conntrack.xml.in
  smoketest/config-tests/conntrack-basic
  smoketest/configs/conntrack-basic
  smoketest/scripts/cli/test_system_conntrack.py
  src/conf_mode/system_conntrack.py
  src/migration-scripts/conntrack/5-to-6
Labels: current, bp/sagitta, bp/circinus

#4536 T7510: ospfd.frr.j2 ospf nssa translation error - fix template
  data/templates/frr/ospfd.frr.j2
  smoketest/scripts/cli/test_protocols_ospf.py
  src/conf_mode/protocols_ospf.py
Labels: current, bp/sagitta, bp/circinus, mirror-completed

#4527 T7492: Fix modem connection code
  src/conf_mode/interfaces_wwan.py
Labels: current, rebase, bp/sagitta, bp/circinus, mirror-completed

#4551 op-mode: T7538: remove the obsolete "show login level" command
  op-mode-definitions/show-login.xml.in
Labels: current, bp/circinus, mirror-completed

#4553 op-mode: T7540: move "clear interface connection" to "reset connection"
  op-mode-definitions/clear-interfaces.xml.in
  op-mode-definitions/reset-connection.xml.in
Labels: current

#4546 openvpn: T7056: Raise error if non-TAP device is bridged
  smoketest/scripts/cli/test_interfaces_openvpn.py
  src/conf_mode/interfaces_bridge.py
Labels: current, bp/sagitta, bp/circinus

#4552 T7488: add utility for automatic rollback of section on apply stage error
  python/vyos/configsession.py
  src/helpers/reset_section.py
  src/services/vyos-configd
  src/shim/vyshim.c
Labels: current

#4542 vyos-1x-vmware: T3681: Remove extra -x flag from Python bytecompile
  Makefile
Labels: current, bp/sagitta, bp/circinus

#4559 vrf: T7506: Do not use default table 254 for VRF
  src/conf_mode/vrf.py
Labels: current, bp/sagitta, bp/circinus

#4522 Container: T7473: Fix show/monitor container log failed when log-driver is journald
  data/templates/container/containers.conf.j2
  interface-definitions/container.xml.in
  interface-definitions/include/version/container-version.xml.i
  op-mode-definitions/container.xml.in
  smoketest/scripts/cli/test_container.py
  src/conf_mode/container.py
  src/migration-scripts/container/2-to-3
  src/op_mode/container.py
Labels: current, rebase, bp/circinus

#4558 firewall: T6951: Add a configuration command for ethertypes that bridge firewalls should always accept
  data/templates/firewall/nftables.j2
  interface-definitions/include/firewall/global-options.xml.i
  interface-definitions/include/version/firewall-version.xml.i
  python/vyos/template.py
  smoketest/config-tests/firewall-bridged-global-options
  smoketest/configs/firewall-bridged-global-options
  smoketest/scripts/cli/test_firewall.py
  src/migration-scripts/firewall/18-to-19
  src/tests/test_template.py
Labels: current, bp/circinus

#4560 T7564: GitHub: remove ruff linter PR check - should be an automated review
  .github/workflows/lint-with-ruff.yml
Labels: current

#4555 op-mode: T7542: add support for "standalone" behavior of operational mode tag nodes
  schema/op-mode-definition.rnc
  schema/op-mode-definition.rng
  scripts/build-command-op-templates
Labels: current

#4556 op-mode: T7543: move "clear interfaces <type> [name] counters" to "clear interfaces counters [type] [name]"
  op-mode-definitions/clear-interfaces.xml.in
Labels: current

#4567 T7564: added darker ruff lint workflow
  .github/workflows/darker-ruff-lint.yml
Labels: current

#4568 T7531: Add FRR no bgp ipv6-auto-ra option
  data/templates/frr/bgpd.frr.j2
  interface-definitions/include/bgp/protocol-common-config.xml.i
  smoketest/scripts/cli/test_protocols_bgp.py
Labels: current, bp/sagitta, bp/circinus

#4562 T7561: simplify op-mode-definitions XML cache generation
  .gitignore
  python/vyos/xml_ref/__init__.py
  python/vyos/xml_ref/generate_op_cache.py
  python/vyos/xml_ref/op_definition.py
Labels: current

#4578 build: T7578: fail the package build if there are non-unique op mode nodes
  Makefile
  python/vyos/xml_ref/generate_op_cache.py
Labels: current

#4581 vrf: T7544: Ensure correct quoting for VRF ifnames in nftables
  data/templates/firewall/nftables-defines.j2
  data/templates/firewall/nftables-zone.j2
  python/vyos/firewall.py
  python/vyos/ifconfig/interface.py
  python/vyos/template.py
  src/conf_mode/vrf.py
Labels: current, bp/sagitta, bp/circinus
