Repository vyos/vyos-1x, pull requests merged in 2025-09, with the labels that each got.

#4694 Debian: T7762: extend package version with a number always counting up
  debian/rules
Labels: current

#4651 T7366: Firewall rules allow empty nodes
  interface-definitions/include/version/firewall-version.xml.i
  smoketest/config-tests/firewall-empty-nodes
  smoketest/configs/firewall-empty-nodes
  src/conf_mode/firewall.py
  src/migration-scripts/firewall/19-to-20
Labels: current

#4687 op-mode: T7764: Add 'vlan-to-vni statistics' op-mode command
  op-mode-definitions/show-interfaces-vxlan.xml.in
  src/op_mode/interfaces.py
Labels: current, bp/circinus

#4718 Debian: T7817: vyos_net_name exists in debian/tmp but is not installed to anywhere
  debian/rules
  src/udev/vyos_net_name
Labels: current, bp/circinus

#4706 bgp: T6438: add solo option to peer-group config
  interface-definitions/include/bgp/protocol-common-config.xml.i
  interface-definitions/include/bgp/solo.xml.i
  smoketest/scripts/cli/test_protocols_bgp.py
Labels: current, rebase, bp/circinus

#4700 Python: T7740: Update dict_search to return optional default value
  python/vyos/utils/dict.py
  src/tests/test_dict_search.py
Labels: current, rebase, bp/circinus

#4716 vyos.ifconfig: T7814: suppress unnecessary syslog noise from missing nftables rules
  python/vyos/ifconfig/interface.py
Labels: current, bp/sagitta, bp/circinus

#4715 ethernet: T7813: remove VLAN interfaces first on deletion
  python/vyos/ifconfig/ethernet.py
  python/vyos/ifconfig/section.py
Labels: current, bp/sagitta, bp/circinus

#4506 firewall: T7452: update rule generation for Zone-based firewall
  data/templates/firewall/nftables-zone.j2
  smoketest/scripts/cli/test_firewall.py
Labels: current, bp/sagitta, bp/circinus

#4717 dhcpv6: T7646: restore missing default route after upgrade
  interface-definitions/include/version/interfaces-version.xml.i
  smoketest/config-tests/basic-ipv6
  smoketest/configs/basic-ipv6
  src/migration-scripts/interfaces/32-to-33
  src/migration-scripts/interfaces/33-to-34
Labels: current, bp/sagitta, bp/circinus

#4688 T75: migrate from pmacct to ipt_NETFLOW
  data/templates/ipt-netflow/ipt_NETFLOW.conf.j2
  data/templates/pmacct/override.conf.j2
  data/templates/pmacct/uacctd.conf.j2
  debian/control
  interface-definitions/include/version/flow-accounting-version.xml.i
  interface-definitions/system_flow-accounting.xml.in
  op-mode-definitions/flow-accounting-op.xml.in
  op-mode-definitions/monitor-log.xml.in
  op-mode-definitions/show-log.xml.in
  python/vyos/ipt_netflow.py
  python/vyos/utils/kernel.py
  smoketest/config-tests/bgp-azure-ipsec-gateway
  smoketest/config-tests/bgp-big-as-cloud
  smoketest/scripts/cli/test_system_flow-accounting.py
  src/conf_mode/system_flow-accounting.py
  src/migration-scripts/flow-accounting/2-to-3
  src/op_mode/flow_accounting_op.py
Labels: current, rebase

#4726 T7785: VPP enable L3 mode after removing interface from a bridge
  python/vyos/vpp/interface/bridge.py
Labels: current, bp/circinus

#4722 T7796: PPPoE-server add mapping in vpp if vpp-cp is enabled
  data/config-mode-dependencies/vyos-vpp.json
  python/vyos/vpp/control_vpp.py
  smoketest/scripts/cli/test_service_pppoe-server.py
  smoketest/scripts/cli/test_vpp.py
  src/conf_mode/service_pppoe-server.py
  src/conf_mode/vpp.py
Labels: current, bp/circinus

#4729 T7805: VPP remove unused 'default-hugepage-size' from memory section and restrict page sizes in xml
  data/templates/vpp/startup.conf.j2
  interface-definitions/include/unformat_log2_page_size.xml.i
  interface-definitions/vpp.xml.in
  python/vyos/vpp/config_resource_checks/memory.py
  python/vyos/vpp/config_resource_checks/resource_defaults.py
  python/vyos/vpp/utils.py
  smoketest/scripts/cli/test_vpp.py
Labels: current, bp/circinus

#4724 container: T7681: fix multiple name servers
  smoketest/scripts/cli/test_container.py
  src/conf_mode/container.py
Labels: current, bp/sagitta, bp/circinus

#4692 op-mode: T6857: Fix default action for prerouting hook
  src/op_mode/firewall.py
Labels: current, rebase, bp/circinus

#4723 kea: T7821: Update Kea to 3.0
  debian/control
  op-mode-definitions/monitor-log.xml.in
  op-mode-definitions/show-log.xml.in
  smoketest/scripts/cli/test_service_dhcp-server.py
  src/conf_mode/service_dhcp-server.py
  src/conf_mode/service_dhcpv6-server.py
  src/etc/systemd/system/kea-dhcp-ddns.service.d/override.conf
  src/etc/systemd/system/kea-dhcp-ddns@.service
  src/etc/systemd/system/kea-dhcp4.service.d/override.conf
  src/etc/systemd/system/kea-dhcp4@.service
  src/etc/systemd/system/kea-dhcp6.service.d/override.conf
  src/etc/systemd/system/kea-dhcp6@.service
  src/op_mode/dhcp.py
  src/op_mode/restart.py
Labels: current, bp/circinus

#4730 T7842: VPP add pppoe enable-pass-nd-and-dhcpv6 option
  data/templates/vpp/startup.conf.j2
Labels: current, bp/circinus

#4733 op-mode: T7516: fix reset ip bgp base commands
  op-mode-definitions/reset-ip-bgp.xml.in
Labels: current, bp/circinus

#4736 ssh: T7839: fix warning on deprecated algorithms during commit
  src/conf_mode/service_ssh.py
Labels: current, bp/sagitta, bp/circinus

#4740 T7773: VPP move crypto engines to crypto-engines template section
  data/templates/vpp/startup.conf.j2
Labels: current, bp/circinus

#4748 T7859: VPP de-hardcode plugin path
  data/templates/vpp/startup.conf.j2
Labels: current, bp/circinus

#4755 T7801: VPP fails to start with logging level set to 'Error'
  interface-definitions/vpp.xml.in
Labels: current, bp/circinus

#4746 l2tpv3: T7721: fix show l2tpv3 interface information
  python/vyos/ifconfig/l2tpv3.py
Labels: current, bp/circinus

#4756 T7862: VPP: Enable support of ixgbevf driver for DPDK
  python/vyos/vpp/config_verify.py
  src/conf_mode/vpp.py
Labels: current, bp/circinus

#4745 T7855: redirect stdout and catch exceptions on frr render
  src/services/vyos-commitd
  src/services/vyos-configd
Labels: current, bp/circinus

#4754 T7815: VPP: NAT44 rules with port requires protocol specification and vice versa
  smoketest/scripts/cli/test_vpp.py
  src/conf_mode/vpp_nat.py
Labels: current, bp/circinus
