Repository vyos/vyos-1x, pull requests merged in 2025-02, with the labels that each got.

#4328 configd: T7119: fix misleading debug messages
  src/services/vyos-configd
Labels: current

#4298 installer: T7036: upgrade validation improvements
  src/op_mode/image_installer.py
Labels: current

#4330 installer: T7102: download upgrade images to a random path in the root filesystem
  src/op_mode/image_installer.py
Labels: current

#4327 T7076: Add script to validate ethernet interface
  src/validators/ethernet-interface
Labels: current

#4329 vyconf: T6718: drop hybrid set/delete functions
  python/vyos/configsession.py
  python/vyos/utils/misc.py
Labels: current

#4305 syslog: T6989: convert old configuration format to "advanced"
  data/templates/rsyslog/override.conf.j2
  data/templates/rsyslog/rsyslog.conf.j2
  debian/vyos-1x.install
  interface-definitions/include/version/system-version.xml.i
  interface-definitions/system_syslog.xml.in
  python/vyos/defaults.py
  smoketest/config-tests/basic-api-service
  smoketest/config-tests/basic-syslog
  smoketest/config-tests/basic-vyos
  smoketest/config-tests/basic-vyos-no-ntp
  smoketest/config-tests/bgp-azure-ipsec-gateway
  smoketest/config-tests/bgp-bfd-communities
  smoketest/config-tests/bgp-big-as-cloud
  smoketest/config-tests/bgp-dmvpn-hub
  smoketest/config-tests/bgp-dmvpn-spoke
  smoketest/config-tests/bgp-evpn-l2vpn-leaf
  smoketest/config-tests/bgp-evpn-l2vpn-spine
  smoketest/config-tests/bgp-evpn-l3vpn-pe-router
  smoketest/config-tests/bgp-medium-confederation
  smoketest/config-tests/bgp-rpki
  smoketest/config-tests/bgp-small-internet-exchange
  smoketest/config-tests/bgp-small-ipv4-unicast
  smoketest/config-tests/cluster-basic
  smoketest/config-tests/dialup-router-complex
  smoketest/config-tests/dialup-router-medium-vpn
  smoketest/config-tests/dialup-router-wireguard-ipv6
  smoketest/config-tests/egp-igp-route-maps
  smoketest/config-tests/igmp-pim-small
  smoketest/config-tests/ipoe-server
  smoketest/config-tests/ipv6-disable
  smoketest/config-tests/isis-small
  smoketest/config-tests/nat-basic
  smoketest/config-tests/ospf-simple
  smoketest/config-tests/ospf-small
  smoketest/config-tests/pppoe-server
  smoketest/config-tests/qos-basic
  smoketest/config-tests/rip-router
  smoketest/config-tests/rpki-only
  smoketest/config-tests/static-route-basic
  smoketest/config-tests/tunnel-broker
  smoketest/config-tests/vpn-openconnect-sstp
  smoketest/config-tests/vrf-basic
  smoketest/config-tests/vrf-bgp-pppoe-underlay
  smoketest/config-tests/vrf-ospf
  smoketest/config-tests/wireless-basic
  smoketest/configs/basic-syslog
  smoketest/configs/basic-vyos
  smoketest/scripts/cli/base_vyostest_shim.py
  smoketest/scripts/cli/test_system_syslog.py
  src/conf_mode/service_snmp.py
  src/conf_mode/system_host-name.py
  src/conf_mode/system_option.py
  src/conf_mode/system_syslog.py
  src/etc/rsyslog.conf
  src/etc/systemd/system/rsyslog.service.d/override.conf
  src/init/vyos-router
  src/migration-scripts/system/28-to-29
Labels: current

#4336 wireguard: T4930: remove pylint W0611: unused import
  python/vyos/ifconfig/wireguard.py
Labels: current

#4337 smoketest: T2326: remove NHRP pylint W0611: unused import
  smoketest/scripts/cli/test_protocols_nhrp.py
Labels: current

#4334 T7069: Add function to get available cpus
  python/vyos/utils/cpu.py
Labels: current

#4335 vyos.ifconfig: T5103: force dhclient restart on VRF change
  python/vyos/configdict.py
  python/vyos/ifconfig/interface.py
  smoketest/scripts/cli/base_interfaces_test.py
Labels: current

#4333 T6058: Fix popen command wrapper handling
  python/vyos/utils/process.py
Labels: current, rebase

#4339 T7145: updated codeowners list
  CODEOWNERS
Labels: backport, current, bp/sagitta, bp/circinus, bp/equuleus, bp/crux

#4340 vyos.ifconfig: T5103: always stop the DHCP client process bevore changing VRF
  python/vyos/ifconfig/interface.py
  src/etc/netplug/vyos-netplug-dhcp-client
Labels: current

#4342 T7145: updated team name for codeowners current branch
  CODEOWNERS
Labels: current

#4343 syslog: T6989: update default system configuration with new CLI syntax
  data/config.boot.default
  debian/vyos-1x.links
Labels: current

#4344 webproxy: T7057: Fixed 'domain-nocache' command
  data/templates/squid/squid.conf.j2
  smoketest/scripts/cli/test_service_webproxy.py
Labels: current, bp/circinus

#4345 T7076: Fix for script that validates ethernet interface
  src/validators/ethernet-interface
Labels: current

#4346 T7161: fix BGP IPv4/IPv6 unicast AFI "redistribute table" command
  data/templates/frr/bgpd.frr.j2
  interface-definitions/include/bgp/afi-redistribute-common-protocols.xml.i
  interface-definitions/include/bgp/protocol-common-config.xml.i
  interface-definitions/include/constraint/protocols-static-table.xml.i
  interface-definitions/protocols_static.xml.in
  smoketest/scripts/cli/test_protocols_bgp.py
Labels: current, bp/sagitta, bp/circinus

#4349 T6906: IPoE-server smoke test for start-session option
  smoketest/scripts/cli/test_service_ipoe-server.py
Labels: current

#4108 wlb: T4470: Migrate WAN Load Balancer to XML/Python
  data/op-mode-standardized.json
  data/templates/load-balancing/nftables-wlb.j2
  data/templates/load-balancing/wlb.conf.j2
  debian/control
  op-mode-definitions/load-balancing_wan.xml.in
  python/vyos/defaults.py
  python/vyos/template.py
  python/vyos/wanloadbalance.py
  smoketest/scripts/cli/base_vyostest_shim.py
  smoketest/scripts/cli/test_load-balancing_wan.py
  src/conf_mode/load-balancing_wan.py
  src/etc/ppp/ip-up.d/99-vyos-pppoe-wlb
  src/helpers/vyos-load-balancer.py
  src/op_mode/load-balancing_wan.py
  src/op_mode/restart.py
  src/systemd/vyos-wan-load-balance.service
Labels: current, rebase

#4347 bgp: T7163: add CLI route-map and metric support for "redistribute table"
  data/templates/frr/bgpd.frr.j2
  interface-definitions/include/bgp/afi-redistribute-common-protocols.xml.i
  interface-definitions/include/version/bgp-version.xml.i
  smoketest/config-tests/bgp-rpki
  smoketest/configs/bgp-rpki
  smoketest/scripts/cli/test_protocols_bgp.py
  src/migration-scripts/bgp/5-to-6
Labels: current

#4350 firewall: T7176: Fix vyos-domain-resolver not respecting interval/cache configuration
  src/services/vyos-domain-resolver
Labels: current, bp/sagitta, bp/circinus

#4348 T7136: sflow check listen address for the vrf
  src/conf_mode/system_sflow.py
Labels: current, bp/sagitta, bp/circinus

#4354 T7182: use Config instead of ConfigTreeQuery for get_interface_dict
  src/etc/netplug/vyos-netplug-dhcp-client
Labels: current, bp/sagitta, bp/circinus

#4356 wlb: T4452: Use return for exclude statements
  data/templates/load-balancing/nftables-wlb.j2
Labels: current

#4352 T6628: IPoE-server rename "static-ip" to "ip-address" for local auth
  data/templates/accel-ppp/chap-secrets.ipoe.j2
  interface-definitions/include/ip-address.xml.i
  interface-definitions/service_dhcp-server.xml.in
  interface-definitions/service_ipoe-server.xml.in
  smoketest/scripts/cli/test_service_ipoe-server.py
Labels: current, bp/sagitta, bp/circinus

#4351 firewall: T7177: Update interface-name constraint to allow "pod-" interface names
  interface-definitions/include/constraint/interface-name.xml.i
  smoketest/scripts/cli/test_firewall.py
Labels: current, bp/sagitta, bp/circinus

#4359 haproxy: T7187: Fix typo in op-mode filename
  op-mode-definitions/load-balancing_haproxy.xml.in
Labels: current, bp/circinus

#4357 firewall: T7148: Bridge state-policy uses drop in place of reject
  data/templates/firewall/nftables.j2
  python/vyos/template.py
  smoketest/scripts/cli/test_firewall.py
Labels: current, bp/circinus

#4358 container: T7185: Allow tmpfs mounts within containers
  interface-definitions/container.xml.in
  src/conf_mode/container.py
Labels: current

#4363 bridge: T7192: do not allow a member interface to be used multiple times
  smoketest/scripts/cli/test_interfaces_bridge.py
  src/conf_mode/interfaces_bridge.py
Labels: current, bp/sagitta, bp/circinus

#4362 bond: T7191: fix error message when member interface is used multiple times
  smoketest/scripts/cli/test_interfaces_bonding.py
  src/conf_mode/interfaces_bonding.py
Labels: current, bp/sagitta, bp/circinus

#4360 T7190: Add haproxy default timeout options configurable
  data/templates/load-balancing/haproxy.cfg.j2
  interface-definitions/include/haproxy/timeout-check.xml.i
  interface-definitions/include/haproxy/timeout-client.xml.i
  interface-definitions/include/haproxy/timeout-connect.xml.i
  interface-definitions/include/haproxy/timeout-server.xml.i
  interface-definitions/include/haproxy/timeout.xml.i
  interface-definitions/load-balancing_haproxy.xml.in
  smoketest/scripts/cli/test_load-balancing_haproxy.py
Labels: current, bp/circinus

#4364 T7171: Add dstport option to GENEVE tunnels
  interface-definitions/interfaces_geneve.xml.in
  python/vyos/ifconfig/geneve.py
  src/conf_mode/interfaces_geneve.py
Labels: current

#4365 lldp: T7165: add support to enable only rx/tx on specific interfaces
  data/templates/lldp/vyos.conf.j2
  interface-definitions/include/version/lldp-version.xml.i
  interface-definitions/service_lldp.xml.in
  smoketest/config-tests/dialup-router-complex
  smoketest/config-tests/nat-basic
  smoketest/configs/dialup-router-complex
  smoketest/scripts/cli/test_service_lldp.py
  src/migration-scripts/lldp/2-to-3
Labels: current, bp/circinus

#4366 snmp: T7180: Fixed verification of engineid in snmpv3
  interface-definitions/service_snmp.xml.in
  src/conf_mode/service_snmp.py
Labels: current, bp/sagitta, bp/circinus

#4368 GitHub: T6707: define smoketest ISO retention-days to 2
  .github/workflows/package-smoketest.yml
Labels: current

#4370 wlb: T7196: Migrate interface wildcards to nftables format, fixes
  interface-definitions/include/version/wanloadbalance-version.xml.i
  smoketest/scripts/cli/test_load-balancing_wan.py
  src/conf_mode/load-balancing_wan.py
  src/helpers/vyos-load-balancer.py
  src/migration-scripts/wanloadbalance/3-to-4
Labels: current

#4373 policy: T7158: Added match source-vrf to route-map
  data/templates/frr/policy.frr.j2
  interface-definitions/policy.xml.in
  smoketest/scripts/cli/test_policy.py
Labels: current

#4369 wireguard: T7166: Call vxlan dependency if interface exist
  data/config-mode-dependencies/vyos-1x.json
  src/conf_mode/interfaces_wireguard.py
Labels: current, bp/sagitta, bp/circinus

#4374 T7204: Container add capability MKNOD
  interface-definitions/container.xml.in
Labels: current, bp/circinus

#4237 T6948: Keep DHCP server leases in sync with hostd records
  python/vyos/kea.py
  smoketest/scripts/cli/test_service_dhcp-server.py
  src/etc/systemd/system/kea-dhcp4-server.service.d/override.conf
  src/op_mode/dhcp.py
  src/system/sync-dhcp-lease-to-hosts.py
Labels: current
