Repository vyos/vyos-1x, pull requests merged in 2025-10, with the labels that each got.

#4768 op-mode: T7868: fix op-cmd "reset ip arp table" is not working
  src/op_mode/neighbor.py
Labels: current, bp/sagitta, bp/circinus

#4758 op-mode: T7871: add support for op mode command argument constraints
  python/vyos/xml_ref/generate_op_cache.py
  python/vyos/xml_ref/op_definition.py
  schema/interface_definition.rng
  schema/op-mode-definition.rnc
  schema/op-mode-definition.rng
Labels: current

#4741 kea: T7823: DHCP-server lease cannot be cleared
  python/vyos/kea.py
  smoketest/scripts/cli/test_service_dhcp-server.py
Labels: current, bp/circinus

#4769 pki: T7885: check_port_availability() can't be used during system boot
  python/vyos/config.py
  src/conf_mode/pki.py
  src/op_mode/pki.py
Labels: current, bp/sagitta, bp/circinus

#4771 T7903: set airbag enable to default log=False
  python/vyos/airbag.py
Labels: current, bp/circinus

#4774 vyos.utils.network: T7898: check if system UUID is available before trying to use it for host identity generation
  python/vyos/utils/network.py
Labels: current, bp/circinus

#4778 Revert "bgp: T7760: remove per vrf instance system-as node"
  data/templates/frr/bgpd.frr.j2
  interface-definitions/include/bgp/protocol-common-config.xml.i
  interface-definitions/include/version/bgp-version.xml.i
  interface-definitions/protocols_bgp.xml.in
  smoketest/config-tests/bgp-evpn-l3vpn-pe-router
  smoketest/config-tests/bgp-evpn-l3vpn-vrf-different-asn
  smoketest/config-tests/vrf-bgp-pppoe-underlay
  smoketest/configs/bgp-evpn-l3vpn-vrf-different-asn
  smoketest/scripts/cli/test_protocols_bgp.py
  src/conf_mode/protocols_bgp.py
  src/migration-scripts/bgp/6-to-7
  src/migration-scripts/bgp/7-to-8
Labels: current

#4777 T7818: remove uneeded calls of get_cli_kernel_options causing regression
  src/op_mode/image_installer.py
Labels: current, bp/circinus

#4775 T7907: archive config file on first boot to avoid misleading log entry
  python/vyos/config_mgmt.py
Labels: current, bp/circinus
